[2015-12-28 09:19] arcuri82 commented on #1231
thanks for updating the documentation

i made a feature request at

https://github.com/junit-team/junit-lambda/issues/80

[2015-12-28 09:19] #1231 closed

[2015-12-28 10:48] tburny commented on #1229
Why not just write your own?

Something like

[code]

[2015-12-28 11:52] tburny commented on #1219
Thank you both for your comments :) @BenRomberg sums up the problem quite perfectly. Guards are easier to review and maintain than to modfiy each test (250+ at my company) and go through all the VCS and QA workflows. Appearantly Global Rules are listed in the [Quo Vadis Wiki page](https://github.com/junit-team/junit/wiki/Quo-Vadis-JUnit#topics-ideas-concerns), which is great!

It would be awesome

[2015-12-28 13:09] Tibor17 commented on #1219
I agree that junit.properties and package level annotations are the step
back.

I was supporting JUnit for long time and now I maintain Surefire project.
The Maven project allows me to see users from wider perspective. All the
time I had to struggle with broken backwards compatibility of TestNG and
JUnit. Therefore I want to simplify all and let the users implement pure
interface TestCase where th

[2015-12-28 13:53] ghilainm opened #1232 "Assume.assumeTrue not working as excepted when called in @Before and @After"
See below the test class, with a dummy test doing nothing.

	package my.package;

	import org.junit.After;
	import org.junit.Assume;
	import org.junit.Before;

	public class Test {

		@Before
		public void init(){
			Assume.assumeTrue(false);
		}

		@After
		public void cleanUp(){
			Assume.assumeTrue(false);
		}

		@org.junit.Test
		public void dummyTest(){

		}
	}

If I don't call the Assume.ass

[2016-01-02 08:27] giorgiosironi commented on #573
:+1: on a comprehensive error message. Should I open a PR for that?

[2016-01-02 19:54] nhojpatrick opened #1233 "Jdk9 Early Access Build 99 issue"
Installed Java 9 Early Access Build 99, trying to build JUnit and identified issue with maven-jar-plugin 2.6. Will raise with maven-jar-plugin and then submit pull request with updates so JUnit builds with Java 9.

[2016-01-02 20:05] marcphilipp commented on #1233
Please do, thanks for checking!

[2016-01-03 19:06] nhojpatrick commented on #1233
Fixes awaiting release;
https://issues.apache.org/jira/browse/MJAR-206
https://issues.apache.org/jira/browse/MJAVADOC-443

Pull request into maven-plugin;
https://github.com/apache/maven-plugins/pull/76

[2016-01-03 19:34] nhojpatrick commented on #1233
See pull request https://github.com/junit-team/junit/pull/1234

[2016-01-11 01:48] smadasu commented on #1232
Hi ghilainm,
I think When you don't call the Assume.assumeTrue in the @After everything is not fine. The test is skipped. It is not successfully run. Could you please check this again?

If you do the following you will get a stack trace and the test is skipped.

...
@Before
	public void init() {
		try {
			Assume.assumeTrue(false);
		} catch (Exception e) {
			// TODO Auto-generated catch block

[2016-01-13 17:57] Capoot opened #1235 "Rules degrade overall performance"
I have measured test performance on a small project with ~20 test cases. When I introduced Rules, I have moved the init code into the Rule's before and after methods with cut and paste, so I expect it to be equivalent. Beforehand I have initialized my tests in the methods annotated with @Before and @After.

Avg. build execution without rules: 18.2s
Avg. build execution with rules: 30.5s
Tested wit

[2016-01-13 18:16] marcphilipp commented on #1235
Can we have a look at the code?

[2016-01-13 18:38] Tibor17 commented on #1235
So it means you moved the init code to TestRule and not the ClassRule,
right?
What's happening is that your tests are initializing over and over again
with every test method. Is not it this problem?
Beforehand did not you have any static flag which forced the test to be
initialized only once? Rules are created in new instance, so whatever flags
are lost.

On Wed, Jan 13, 2016 at 7:16 PM, Marc Phil

[2016-01-14 09:34] Capoot commented on #1235
@Tibor17 yes initializing every test method was intended and was also done before I switched to rules. I did not have any static members whatsoever.

Unfortunately I am not at liberty to post the original code. I will try to isolate a piece that can reproduce the error and share it with you later today.

Also I should note that I am using RuleChain along with the Rules

[2016-01-14 10:33] Capoot commented on #1235
Example Code at https://github.com/Capoot/rules-performance-example

I ran it with:

* Java(TM) SE Runtime Environment (build 1.8.0_45-b14)
* Apache Maven 3.3.9

Test execution with rules took about 10 sec longer on my machine (Lenovo T450s + Ubuntu 15.04) compared to execution with @Before and @After annotated method.

[2016-01-14 14:46] kcooney commented on #1235
@Capoot how are you measuring the time it takes? The difference in time should be small; somsomething weird is going on if the difference is 10 seconds.

In general, writing good micro benchmarks in Java is hard due to GC and the JIT compiler. In recommend using https://github.com/google/caliper

[2016-01-14 15:06] Capoot commented on #1235
@kcooney I just ran the tests from my IDE's UI (IntelliJ Idea), which then displays execution time. To be sure, I also ran the tests via maven from the terminal, which yields the same result. I did not write any code to measure execution time.

[2016-01-21 22:30] jmcshane commented on #1232
+1 on this. I did a little more investigating on this and it appears that the test fails whenever assumptions fail in both the `@Before` and `@After` blocks.  I added some lines to the dummy test method as well with the same result.  Here's a further example of a test that should be skipped, but fails:

[code]

[2016-01-22 08:19] marcphilipp commented on #1232
Assumptions were never intended to be used in `@After` methods. They were originally introduced for the `Theories` runner to enable specification of preconditions for a `@Theory`. The can be used in regular `@Test` methods as well as in `@Before` and `@BeforeClass`. In the latter case, a special event is sent to `RunListener` implementations, namely `testAssumptionFailure`. Most IDEs and build too

[2016-01-22 08:44] ghilainm commented on #1232
It makes sense if you want to skip some clean-up which must be done after the test but cannot be done for some conditions.

[2016-01-22 08:51] marcphilipp commented on #1232
I'm afraid you'll have to use an `if` in this case.

[2016-01-22 08:54] ghilainm commented on #1232
^^, wouldn't it be possible to extends the support to the @After? Because it seems a convenient way of skipping code (and seems logical as it works for @Before)!

[2016-01-22 09:07] stefanbirkner commented on #1232
The assume feature is not meant to be used for skipping code. The intention of assume is to dynamically ignore tests.

[2016-01-22 09:12] ghilainm commented on #1232
Fine for me but then the test should be skipped as soon as I did the Assume.assumeTrue in the @Before which is even better for me!

[2016-01-27 15:25] coreer opened #1236 ""after" method of ExternalResource is not called for @ClassRule in case of error in some @Test"
I can see the fact that after() isn't called when some fail happens in one of the test methods.

for example:
[code]

In case of error my server is still being run after test finished.

[2016-01-27 19:55] kcooney commented on #1236
I have never seen this. What exception is your test throwing? What version of JUnit? Is this the only test method? Does your test use `@RunWith`? Does this happen when it is run in an IDE, Maven/gradle and/or something else?

[2016-01-28 09:13] 1054522381 opened #1237 "how to test some suites by maven"

[2016-01-28 09:34] marcphilipp commented on #1237
Please provide at least a question and a little bit of information... 🤔

[2016-01-30 12:02] #1237 closed

[2016-02-04 17:18] drewhannay opened #1238 "MultipleFailureException should override printStackTrace()"
Currently `MultipleFailureException` overrides the `getMessage()` method, but not this `printStackTrace()` method. This means that anyone calling `printStackTrace()` will only see the last exception in the `MultipleFailureException`, which is often the least useful.

Ideally `MultipleFailureException#printStackTrace()` should include the stack traces of all the wrapped exceptions.

[2016-02-05 07:36] jlink commented on #1238
Since JUnit 5 is based on the exception hierarchy in opentest4j you might also want to bring up your point there: https://github.com/ota4j-team/opentest4j
It's called `MultipleFailuresError` there.

[2016-02-06 22:01] stefanbirkner commented on #1232
It is skipped. The test `test()` of the following example is skipped:

[code]

[2016-02-10 20:17] #1232 closed

[2016-02-10 20:23] marcphilipp commented on #1235
@Capoot I finally found some time to look into your sample project. Thanks for providing it!

I checked out your code and noticed the rule is doing more than `setup()` and `before()` in your test that doesn't use a rule. The call of `mockServer.isRunning()` seems to be the problem. When I remove the calls in `after()` and `getMockServer()` of `MockServerRule` the tests in `MockServerWithRuleTest`

[2016-02-10 20:23] #1235 closed

[2016-02-13 16:29] ibrahimbeliki opened #1243 "Assume.assumeTrue doesn't work as expected"
Hi.

I've wrote some cucumber tests, that I expect some of them run in some conditions.
So in the step definitions class I've added this code:

`    @Before("@WideWindow")
    public void beforeScenario() {
        Rectangle rec = GraphicsEnvironment.getLocalGraphicsEnvironment().getMaximumWindowBounds();
        double width = rec.getWidth();
        assumeTrue(width >= 1910);
    }`

In cucumber

[2016-02-14 14:39] stefanbirkner commented on #1243
This problem has to be fixed by Cucumber. I created a pull request for it: cucumber/cucumber-jvm#961.

[2016-02-14 14:39] #1243 closed

[2016-02-14 16:58] Tibor17 commented on #1243
@stefanbirkner right, Cucumber should properly handle `AssumptionViolatedException` but notice that JUnit is less verbose in the assertion statements than Hamcrest.
Notice this: `failed: org.junit.AssumptionViolatedException: got: , expected: is `

[2016-02-14 17:17] simplerun opened #1244 "Can auto formation of a string from a number in 'Parameters(name=...)' be replaced with custom format ?"
Posted code create results. Junit work OK.

      @Parameters(name="{index} : in {0}.{1}.{2}; out {4}.{5}.{6}; shift : {3}")
    public static Collection<Object[]> ValidDateProvider() {
    	Object[][] data = new Object[][] {
    		// day, month, year, dayIncrement, newDay , newMonth,, newYear
			new Object[] {1,1,2010,10,11,1,2010}, new Object[] {1,1,2020,35, 5,2,2020},
  I run it in Eclipse Mars

[2016-02-15 11:15] Capoot commented on #1235
So it was my fault after all. Thank you for looking into it and sorry for the inconvenience.

[2016-02-20 13:07] wangyanstorm opened #1246 "Does it have a easy way to add new annotation associate with old one except for implement annotationfinder?"
Does it have an easy way to add new annotation except for implement annotationfinder?

[2016-02-20 16:03] kcooney commented on #1246
Are you asking if JUnit will allow you to define your own annotations to replace the built-in ones? If so, the answer is it would require a custom runner.

If that wasn't what you were asking, could you rephrase your question?

[2016-02-20 16:13] jlink commented on #1246
BTW, in JUnit5 this can be easily done through meta annotations.

[2016-02-21 19:22] mirkoseifert opened #1247 "Add easier way to provide parameters for parameterized tests"
Hi,

I'm using parameterized tests a lot, but I think that there should be an easier way to write them. Currently, one needs to add an annotation to use the `Parameterized` runner, add a static method annotated with `@Parameters` (which returns a collection of object arrays), add fields and a constructor that initializes the fields.

I'm also aware of the theories features, but I don't think it is

[2016-02-21 21:29] kcooney commented on #1247
Have you seen https://github.com/Pragmatists/JUnitParams ?

Also, if you are willing to try an alpha release, https://github.com/junit-team/junit5 has other options for parameterized tests. See http://junit-team.github.io/junit5/#method-parameters-and-dependency-injection

[2016-02-22 07:57] mirkoseifert commented on #1247
Thanks for the links, JUnitParams looks nice. I will try both.

[2016-02-22 07:57] #1247 closed

[2016-02-24 17:03] mjdl opened #1248 "HTTP 404 for http://junit.org/news/index.htm"
Just tried following the link to http://junit.org/news/index.htm from the FAQ question "What's the latest news on JUnit?" in the "Overview" section of the FAQ http://junit.org/faq.html

I'm not sure what the intended URL for the latest news on JUnit might be, as there is no such page linked to by the JUnit front page.

[2016-02-26 09:43] AndyGee opened #1249 "org.junit.internal.MethodSorter#getDeclaredMethods should also mixin and sort super methods from clazz.getSuperclass()"
If a test class extends an abstract class (which could also extend an abstract class) then the current implementation fails to sort the methods from clazz.getSuperclass(). This could also be a recursive call if the superclass in turn has a superclass etc.

[2016-02-26 11:54] rob0229 opened #1250 "Timeout Test and Rule Annotation bug"
I created a simple test that has a 'for loop' where a public int getPrice() function is called 2.1 billion times as a test of the timeout. When I set the timeout for 10ms, it will correctly fail the test because the test takes 6200 milliseconds to run on my older machine. The problem is when I I increase the timeout to 100 ms. The test passes. I played with other values and I could recreate the is

[2016-02-27 00:52] kcooney commented on #1250
The timeout values are approximate. Also, for slow machines and older JVMs, a thread that spends a long time doing work without making a blocking call or a sleep.call can result in other threads not getting scheduled (including the JUnit thread that is implementing the timeout).

[2016-02-27 01:09] kcooney commented on #1249
This is intentional. All base class test methods are run before subclass test methods. Changing this behavior would break too many users' tests.

[2016-02-27 01:09] #1249 closed

[2016-02-29 08:49] marcphilipp commented on #1244
JUnit uses `MessageFormat` to convert the String pattern into the test name. Therefore, you can adjust the NumberFormat using a pattern like this: `@Parameters(name="{index} : in {0}.{1}.{2,number,#}; out {4}.{5}.{6,number,#}; shift : {3}")`.

[2016-02-29 08:49] #1244 closed

[2016-02-29 08:52] #1246 closed

[2016-02-29 13:02] marcphilipp commented on #1248
Thanks for reporting!

There are actually quite a few broken links on that page:
![6qmhafrci6aaaaabjru5erkjggg](https://cloud.githubusercontent.com/assets/214207/13395110/d5c26554-deec-11e5-9d50-d61d8d2382ad.png)

I think we should just remove FAQ entries that only consist of a link that does not exist anymore.

[2016-02-29 13:03] marcphilipp commented on #1248
@mjdl Do you have time to prepare a pull request?

[2016-02-29 14:18] mjdl commented on #1248
I may have time today late PM EST to review links on that page and ‎revise... I will see.

[2016-03-09 13:46] paulduffin opened #1253 "Improve ErrorReportingRunner, make it support Filterable, accept a class name and support better test names"
ErrorReportingRunner does not support Filterable which means it doesn't play well with Filters that are trying to remove known issues. Filters often ignore descriptions that have children so that they do not filter out whole suites of tests and instead rely on a Runner that has children to support Filterable. ErrorReportingRunner has children but doesn't support Filterable so it is impossible to e

[2016-03-11 15:47] mangelo123 opened #1254 "Potential bug with Assert.assertThat or CoreMatchers.hasItem"
I've narrowed down a test to where I believe there is a bug in either of the aforementioned methods. See code below for the scenario:

The data from the **indicators** list is just a simple db access using JPA. The **equals** and **hashCode** methods of the **Indicator** class simply use the **id** attribute.

[code]

[2016-03-11 17:22] kcooney commented on #1254
I suggest stepping through the code. My guess would be that your equals() method isn't symmetric.

Note that hasItem() is a Hamcrest method, so.if this is a framework bug, then it would be a Hamcrest bug.

[2016-03-11 17:50] mangelo123 commented on #1254
I got the test to pass by doing this:

[code]
**Address** inherits from **Indicator**. Why would `indicators.indexOf(theActualIndiator)` work and `assertThat(indicators, hasItem(addr))` not work when equals() does not  check for class equality?

[2016-03-11 17:56] mangelo123 commented on #1254
Figured it out even more. Some of the descendants of Indicator did not implement equals() so it was using the inherited version (indicator) which only checked for ID.

[2016-03-11 17:56] #1254 closed

[2016-03-13 14:32] #1248 closed

[2016-03-13 14:48] marcphilipp opened #1257 "Fix broken links on FAQ page"
As a follow-up on #1248 the remaining broken links on the website's FAQ should be fixed or the corresponding FAQ entries should be removed.

![6qmhafrci6aaaaabjru5erkjggg](https://cloud.githubusercontent.com/assets/214207/13395110/d5c26554-deec-11e5-9d50-d61d8d2382ad.png)

[2016-03-14 15:42] kcooney commented on #1078
I vote to.close this, since JUnit lambda does this.

[2016-03-15 11:47] rherrmann opened #1258 "JavaDoc for TemporaryFolder::delete() documents wrong exception type"
JavaDoc states that an `IllegalStateException` is thrown when the rule is unable to clean up resources. However an `AssertionError` is thrown in this case.

The same applis to the nested `Builder::assureDeletion()`.

I someone can clarify which one is right, I would try to provide a patch.

[2016-03-15 12:11] npathai commented on #1258
@rherrmann I was the one who worked on this feature. There was a discussion whether we should go with IllegalStateException or AssertionError. And finally we decided to use `AssertionError`. The javadoc is outdated as I had used IllegalStateException during initial commit.

[2016-03-15 12:50] rherrmann commented on #1258
@npathai thanks for clarifying. I have created a corresponding pull request: https://github.com/junit-team/junit/pull/1259

[2016-03-15 13:52] marcphilipp commented on #1258
Fixed by #1259.

[2016-03-15 13:52] #1258 closed

[2016-03-17 11:43] hodge1024 opened #1260 "Adding new test causing assertion failures in existing tests"
I'm attempting to add a new test class to an existing test project.  I'm running Junit 4.11 within eclipse environment working on an eclipse plugin project.

Adding a new test class seems to work fine and existing tests work as expected, however when I add a test method (annotated with @Test annotation) then existing tests fail with assertion errors.  The newly added test has no body and doesn't d

[2016-03-17 11:58] marcphilipp commented on #1260
Are you executing the new test as a Plugin test or a regular JUnit test?

[2016-03-17 12:33] hodge1024 commented on #1260
I'm running as a Plugin test, as the project we're working on is a plugin.

[2016-03-17 12:37] marcphilipp commented on #1260
Without the actual code it's impossible to see what's causing the test to fail. Can you post a simplified version of the test class that fails?

[2016-03-17 12:56] hodge1024 commented on #1260
I'll discuss with client, depends on their copyright rules for the code in question.  Will get back to you.

[2016-03-17 13:51] kcooney commented on #1260
My guess is there is some kind of static state in the code being tested or in the test itself, so the tests aren't isolated. Adding the test changes the test order. In any case, your best coarse of action is to use the debugger to see why the tests are failing.

[2016-03-17 14:08] hodge1024 commented on #1260
Looking at the code there is some static initialization going on (in the code under test).  I'm stepping through to see specifically where the null value return gets introduced.  If successful will try to produce a generic test that simulates the issue.   Can't post production code here.

[2016-03-19 17:55] marcphilipp commented on #1078
JUnit 5 supports writing tests as interface default methods:
http://junit-team.github.io/junit5/#interface-default-methods

Therefore, I close this issue.

[2016-03-19 17:55] #1078 closed

[2016-03-20 18:06] jtulach commented on #212
My change https://github.com/junit-team/junit/pull/1262/commits/02756b208241a7adcc4ecfce5a2188d81010d1b5 is likely to address the needs stated in this issue.

[2016-03-21 04:04] fcalderonnearsoft opened #1263 "I got an error in line 116 in MaxCore class"
When I was watching MaxCore class IntelliJ show me up the following error:

` Exception 'org.junit.runners.model.InitializationError' is never thrown in the corresponding try block`

![captura de pantalla de 2016-03-20 21 00 55](https://cloud.githubusercontent.com/assets/17256207/13910428/4a38bdf0-eedf-11e5-8079-fb98f5c8d7e9.png)

[2016-03-21 10:46] hodge1024 commented on #1260
OK, got to the bottom of this.  Seems our existing tests were dependent on ordering of test execution.  Adding additional tests changed order of execution and caused a couple of failures.   Added additional mocking to ensure state was correctly setup and now working regardless of order.  Thanks for your help.

[2016-03-21 10:47] hodge1024 commented on #1260
Closing issue.

[2016-03-21 10:47] #1260 closed

[2016-03-21 11:37] marcphilipp commented on #1260
Thanks for reporting back! Glad you were able to figure out the cause of the problem.

[2016-03-21 16:20] avargas-nearsoft commented on #1263
Are you trying to use an anonymous class? If so, then it seems that the exception won't never be thrown. However, if you made an simple instance of Suite, omitting the curly braces {...} (that creates an anonymous class) you would catch the InitializationError.

[2016-03-21 21:18] marcphilipp commented on #1263
Well, the `Suite` constructor` declares `InitializationError` because it calls `super(klass)` and its super-class `ParentRunner` might throw such an error in the case of validation errors.

If I change the `Suite` constructor's visibility temporarily to `public` and omit the local anonymous subclass, the error does not show up anymore. Thus, it looks like a bug in IntelliJ to me.

[2016-03-21 21:18] #1263 closed

[2016-03-24 06:24] abinabrahamanchery commented on #1257
![404 in junit](https://cloud.githubusercontent.com/assets/5570791/14009996/1a393f5a-f1b7-11e5-8e3a-8ae573c14a83.PNG)

when i tried to access http://junit.org/faq.html , Its returning 404 error ...!!  is it removed ???

[2016-03-24 08:00] marcphilipp commented on #1257
We're in the process of working on a new website for the upcoming JUnit 5. Thus, the URL changed to http://junit.org/junit4/faq.html. However, thanks to your issue report, I've now created redirects for all pages, including http://junit.org/faq.html.

[2016-03-24 08:00] #1257 closed

[2016-03-25 00:36] avargas-nearsoft opened #1266 "Missing test case for junit.textui.TestRunner"
@fcalderonnearsoft and me noticed that there is no test case for TestRunner. Should we create it or is it also unused?

[2016-03-25 00:49] kcooney commented on #1266
This class was part of JUnit 3, and isn't used in JUnit 4. The JUnit3 part of the code base is effectively in maintenance mode, so it is not worth anyone's time to write tests for this class.

[2016-03-25 00:49] #1266 closed

[2016-03-25 00:53] avargas-nearsoft commented on #1266
Ok, thanks!

[2016-03-28 19:20] sirikid opened #1270 "Used only first* from methods marked @Parameters"
I think it might be useful to have more than one method marked @ Parameters.
\* lexicographically first

[2016-03-28 20:09] fcalderonnearsoft opened #1271 "Method copyArray of JUnitCommandLineParseResult class could replace using of ArrayList for primitive array"
In the copyArray metod we receive an array to copy of, from a starting point to an ending point. The values are added in a for loop to an arraylist. We think it could be more efficiente if we use a primitve array, as we know the size the new array should have and that way improve the performance.

[2016-03-28 20:17] marcphilipp commented on #1271
You're probably right about that. Since the array of command line arguments is probably not very long it won't make a big difference. If you want to give it a shot, please keep in mind that JUnit 4 can only use JDK methods present in JDK 5, e.g. no `Arrays.copyOfRange`.

[2016-03-29 14:46] kcooney opened #1273 "Links to older Javadoc are broken"
http://junit.org/junit/javadoc/4.10 gives me a 404. I can't find a link to JUnit 4.10 Javadoc on the new sites page.

Can we please reconsider changing all of the Javadoc links for JUnit4? There are countless answers on Stackoverflow that point to specific Javadoc pages (for instance, http://stackoverflow.com/a/2935935/95725).

[2016-03-29 16:15] marcphilipp commented on #1273
This is unrelated to the recent repo rename. These links have been broken since we're using the new maven-site generated website.

[2016-03-29 16:16] marcphilipp commented on #1273
Your second point, however, is certainly related to the recent repo rename. We could create Javascript redirects for all those. Would that work?

[2016-03-29 19:07] marcphilipp commented on #1271
Resolved in #1272.

[2016-03-29 19:07] #1271 closed

[2016-03-29 19:08] marcphilipp commented on #1270
Can you please provide a compelling example? ;-)

[2016-03-29 19:44] sirikid commented on #1270
In the first method I create test data using a PRNG, and in the second I read from a file previously detected edge cases.

[2016-03-29 20:50] marcphilipp commented on #952
Closing due to lack of activity.

[2016-03-29 20:50] #952 closed

[2016-03-29 20:52] marcphilipp commented on #1023
The Javadocs are now available again at http://junit.org/junit4/javadoc/4.10/ and so on.

[2016-03-29 20:52] #1023 closed

[2016-03-29 20:54] marcphilipp commented on #1273
I've created loads of redirecting pages. Both http://junit.org/javadoc/4.10/ and http://junit.org/junit4/javadoc/4.10/ work now.

Links like the one on Stack Overflow work as well:
http://junit.org/javadoc/latest/org/junit/rules/ExpectedException.html

[2016-03-29 20:54] #1273 closed

[2016-03-30 14:21] kcooney commented on #1273
Awesome. Thanks!

[2016-04-07 03:25] Zir0-93 opened #1276 "Test"
![Diagram: junit4-master/src/main/java/org/junit/Assert.java](http://localhost:9080/github/junit-team/junit4/diagram/junit4-master^src^main^java^org^junit^Assert.java/)lol

[2016-04-07 04:43] chang-chao opened #1277 "FilterRequest may hide the real failure cause(exception) of a test"
# Description
FilterRequest may hide the real failure cause(exception) of a test

# Steps To Reproduce
## 1. Write the following test code
<pre>
@RunWith(PowerMockRunner.class)
@PrepareForTest(value = { ClassUnderTest.class })
public class BarTest {

	@Test
	public void test() {
		System.out.println("hello world");
	}
}
</pre>

## 2.Put wrong version javassist which is needed by powermock in class

[2016-04-07 04:58] #1276 closed

[2016-04-07 05:17] Zir0-93 opened #1278 "Test"
[code]

[2016-04-07 05:30] marcphilipp commented on #1278
Yes?

[2016-04-07 05:30] #1278 closed

[2016-04-10 17:43] kcooney commented on #1277
Based on the discussion on #1279 I think this should be fixed on the Eclipse side. @chang-chao could you file.a big against Eclipse for this?

[2016-04-11 11:29] Buzz2Buzz commented on #1166
What's the answer finally for this behaviour ?

[2016-04-11 11:32] marcphilipp commented on #1166
Repeating @kcooney's question:

[2016-04-12 07:45] Buzz2Buzz commented on #1166
I'm sorry I'm not sure to use it properly ...
In my case it's not a custom Runner but a Rule. This rule takes the statement to execute and repeats it n time.

[code]

[code]

That's why I need a new `Description` for each loop. Is this the right way to do it ? Because JUnit console log isn't accurate.

[2016-04-13 02:17] kcooney commented on #1166
@Buzz2Buzz Rules should execute the statement chain more than once. I'd you want to run a test method n times you need a custom runner.

[2016-04-13 14:47] kcooney commented on #1166
I am going to close this. Too many things would break if the test count differed from the number of description objects.

[2016-04-13 14:47] #1166 closed

[2016-04-15 03:59] chang-chao commented on #1277
A bug is filed against to Eclipse.
https://bugs.eclipse.org/bugs/show_bug.cgi?id=491752

[2016-04-15 03:59] #1277 closed

[2016-04-15 14:34] kcooney commented on #1277
@chang-chao thanks. I suggest updating the Eclipse bug to have the same steps to reproduce that you had here.

It's possible that they need to keep that `throw` there but need to check if the runner is `ErrorReportingRunner`

[2016-04-17 16:34] kcooney commented on #1270
@sirikid why do you need two methods annotated with `@Parameters` to do that? You could have one method that does both things (then it's 100% clear what JUnit would do).

[2016-04-20 07:38] chang-chao commented on #1277
@kcooney Thanks for the adivce,the bug description in eclipse bugzilla is updated.

[2016-04-25 16:28] moderatemisbehaviour opened #1284 "Could tests that don't match a category be considered 'ignored' so that they show up in the test summary?"
I have recently discovered the awesome `Category` annotation. I am using it to run particular subsets of a larger set of tests, in other words, I am ignoring all tests that are not relevant to my current test run.

It would be even more helpful to me if tests that were not run were marked as 'Ignored', so that they can be picked up in test summaries / reports. If I am skipping tests, I want to kno

[2016-04-25 20:12] kcooney commented on #1284
That would be difficult to do, since the `Categoies` runner is implemented as a `Filter`, so anything that isn't in the category is removed from the Runner hierarchy before any tests are run.

Ignored tests are tests that you asked to run but couldn't be run because they were temporarily disabled via the `@Ignore` annotation. When you are using `Categoies` you are only asking to run some tests.

N

[2016-04-26 08:30] moderatemisbehaviour commented on #1284
Thanks for the reply Kevin, I wanted to have a dig around in the code to see how much effort this would be to change, I can't find the category runner though [with the others](https://github.com/junit-team/junit4/tree/master/src/main/java/org/junit/runners) though.

[2016-04-26 15:37] marcphilipp commented on #1284
It's in the `experimental` package:
https://github.com/junit-team/junit4/blob/master/src/main/java/org/junit/experimental/categories/Categories.java

[2016-04-28 14:00] tburny commented on #1219
they have with existing JUnit runners which must be changed with a lot of
staff inside if just one change is proposed.

I saw a few runners since your last post and I figured out that your argument is perfectly valid.

In JUnit 5 the concept of [annotation based extensions](http://junit.org/junit5/docs/current/user-guide/#extension-model) replaces Rules.  These extensions (should) allow modifying

[2016-04-28 19:46] kcooney commented on #1219
@tburny JUnit 5 feature requests should be filed at https://github.com/junit-team/junit5

I doubt we will support adding behavior via package level annotations for JUnit4-style tests. Currently we don't even support adding behavior via class annotations (ouside of `@RunWith`; you add behavior by annotating methods or fields.

[2016-05-02 10:42] marcphilipp commented on #1169
This issue was fixed in the `junit5` branch. However, that branch will be closed now. Therefore, I'm re-opening this issue.

[2016-05-02 11:46] marcphilipp commented on #1133
I'm closing this issue because JUnit 5 supports lazy evaluated assertion messages:
http://junit.org/junit5/docs/current/user-guide/#assertions

[2016-05-02 11:46] #1133 closed

[2016-05-03 16:13] busbey commented on #958
@jaruk how close is your issue958 branch to being ready for review?

[2016-05-04 14:12] pratikkumar19 opened #1288 "@RunWith not running with maven"
Hi, I am using Junit for testing.
I have created a custom junit runner and have been using it with @RunWith annotation on a test class .
The problem is when using maven as a build manager for my java project, the test class annotated with @RunWith is completely getting ignored.
Going through maven documentation , I saw that there is no way to specify a custom junit runner.
How can I run the junit

[2016-05-04 14:35] marcphilipp commented on #1288
Normally, you don't have to configure anything to use a custom runner using Maven. Please open an issue in [Maven Surefire's issue tracker](https://issues.apache.org/jira/browse/SUREFIRE).

[2016-05-04 14:35] #1288 closed

[2016-05-10 06:54] #1229 closed

[2016-05-10 07:00] kcooney commented on #1207
Without a way to reproduce this, we can't work on a fix. I'll close it for now, but feel free to reopen if you can reproduce the problem.

[2016-05-10 07:00] #1207 closed

[2016-05-10 07:00] #1197 closed

[2016-05-10 07:02] #1193 closed

[2016-05-10 07:08] #1250 closed

[2016-05-12 23:25] alb-i986 opened #1290 "Tests annotated with `@Test(expected = AssumptionViolatedException.class)` will be marked as skipped instead of passing"
When using `@Test(expected = AssumptionViolatedException.class)` the test will actually be marked as skipped instead of passing, as if the AssumptionViolatedException were thrown up in the stack.
In fact that's what seems to happen: https://github.com/junit-team/junit4/blob/master/src/main/java/org/junit/internal/runners/statements/ExpectException.java#L22

I've found this bug while doing #1289, w

[2016-05-12 23:50] alb-i986 commented on #1290
I think I got it. See #1291

[2016-05-13 07:07] rillig-nm opened #1295 "Javadoc for RuleChain contains errors"
* The class modifier `static` is not necessary.
* The method calls are missing closing parentheses.

In addition, the documentation should make clear that the `RuleChain` cannot be used to define the order of existing rules, e.g. the following does not work as expected:

[code]

In this code, `middle` is executed twice.

[2016-05-13 07:19] rillig-nm opened #1296 "JUnit should guarantee execution order of @Rules in test class hierarchies"
In the following code, there is currently no guarantee that the rules are executed in a specific order:

[code]

It should be defined that rules from a super class are wrapped around rules from a subclass, analogous to how `@Before` and `@After` already work.

The order of rules within a single class should be left unspecified, since that can be worked around using the `RuleChain`.

[2016-05-13 12:22] alb-i986 opened #1297 "Can't run our suite of tests in parallel"
[code]

This will run our unit tests in parallel (2 classes). But it doesn't work.
Depending on how the test classes are scheduled, I get either a BUILD FAILURE (see e.g. https://travis-ci.org/alb-i986/junit/jobs/129814767)

[code]

or the command hangs, and I need to CTRL-C.

The former is probably due to [SystemExitTest](https://github.com/junit-team/junit4/blob/master/src/test/java/org/junit/te

[2016-05-13 12:28] marcphilipp commented on #1297
+1 I wasn't a fan of introducing it in the first place.

[2016-05-13 12:56] alb-i986 opened #1298 "Unit test UnsuccessfulWithDataPointFields#reportBadParams"
https://github.com/junit-team/junit4/blob/master/src/test/java/org/junit/tests/experimental/theories/runner/UnsuccessfulWithDataPointFields.java#L63

[code]

The test is called "reportBadParams", which I guess is talking about the fact that the theory method `everythingIsZero` is not using the params `x` and `y`.
But it's not asserting anything about that specific fact.

Actually Theories doesn't

[2016-05-14 11:42] marcphilipp commented on #1295
You're right -- thanks for reporting this issue!

Do you have time to submit a fix?

[2016-05-14 11:52] marcphilipp commented on #1296
@junit-team/junit-committers Do you think we should guarantee such an order?

[2016-05-14 12:04] marcphilipp commented on #1298
I guess the test was written to ensure that the parameters are reported even though they are not used.

@dsaff Can you remember anything more specific?

[2016-05-14 15:22] kcooney commented on #1296
I thought we already defined an order. The code is here:

https://github.com/junit-team/junit4/blob/master/src/main/java/org/junit/runners/model/TestClass.java#L90

Is that not called  for rules?

[2016-05-17 10:34] rillig-nm commented on #1296
I’m sorry, this already works exactly as expected. Some time ago I was sure that it didn’t, but right now I cannot reproduce this.

[2016-05-17 10:34] #1296 closed

[2016-05-17 10:38] rillig-nm commented on #1295
No, I don’t. Setting up the necessary IDE that exactly follows your coding conventions doesn’t seem time-efficient to me.

[2016-05-17 11:36] marcphilipp commented on #1295
If you use Eclipse you just have to clone the repo and open the project in Eclipse.

[2016-05-24 06:59] marcphilipp commented on #1223
This issue has been addressed in #1304.

[2016-05-24 06:59] #1223 closed

[2016-05-24 14:19] paulduffin opened #1307 "JUnit enhancements for Android and other environments"
I have been working on Android for a while now and have spent a lot of that time working on various parts of the Android testing infrastructure. As part of that work I noticed a few issues with the support that JUnit has for integrating into different environments. In order to address those limitations I would like to make a number of changes:
- Make JUnit 3 tests run more like JUnit 4 tests, use

[2016-05-24 14:59] paulduffin commented on #1219
I've created another issue similar to this but focused on Android that references this. See https://github.com/junit-team/junit4/issues/1307. I also have some prototype changes to add support. Anyone who's interested please take a look at let me know what you think.

[2016-05-27 16:33] alb-i986 opened #1309 "Regression introduced in TemporaryFolder?"
#1304 has possibly introduced a regression.

If you run our test suite, you get a tmp file leftover in the project root dir.

[code]

I tracked down the unit tests causing that to be in TimeoutRuleTest:
- timeUnitTimeout
- longTimeout

Both run the test class AbstractTimeoutTest, which uses a TemporaryFolder.
Given the usage it makes:

[code]

.. I would expect the tmp file to be created in the sy

[2016-05-27 17:41] varming commented on #1309
Oops. Looks like the File(String) constructor should have been used. Sorry.

[2016-05-27 17:48] marcphilipp commented on #1309
@alb-i986 Good catch!

@varming Do you have time to provide a fix?

[2016-05-27 18:08] varming commented on #1309
@marcphilipp I am working on it now.

[2016-05-29 18:19] sbrannen commented on #1307
@paulduffin, when you say "_there is no way that we can move to JUnit 5 anytime soon (I'm not sure if it can actually run JUnit 3 tests)_," what is it that keeps you from moving to JUnit 5 for the runtime?

The JUnit 5 framework (i.e., the `Launcher` and `TestEngine` APIs) have to be launched on a Java 8 JVM, but that does not pose a hurdle with regard to what types of tests can be executed. A `Te

[2016-05-29 18:24] kcooney commented on #1309
Fixed via #1304

[2016-05-29 18:24] #1309 closed

[2016-05-30 01:41] aishahalim commented on #1178
Gradle 2.2 relies on junit 4.11 for its java plugin I believe so if you run

you'll see two log lines that specify the application and implementation classpaths. The application classpath will include the junit jar with the version your project specified and the implementation classpath includes junit-4.11 which is bundled with gradle itself. For some reason, when creating the test report, it uses

[2016-05-31 11:41] paulduffin commented on #1307
@sbrannen Basically, we have an awful lot of code involved in running the JUnit tests (i.e. not the tests themselves) which is dependent on JUnit 4 classes. Moving straight from that to using JUnit 5 is not really viable, especially if it doesn't yet have the capabilities that we need.

Global timeouts and parameters aren't sufficient, ideally we need the ability to define the equivalent of global

[2016-05-31 12:00] Reissner opened #1314 "more javadocs would be helpful"
I use JUnit for a while.
I also wrote a graphical wrapper for it, because i do not use the usual ide but emacs with jdee.
For people like me, more detailed javadocs would be helpful.

[2016-05-31 12:18] marcphilipp commented on #1314
On which classes did you miss more detailed Javadoc?

[2016-05-31 13:02] Reissner commented on #1314
Hi Marc,
the most basic ones.
E.g. Description is almost not at all described. equals and hashcode are
vital. testcount counts the atomic tests only and so on.
Failure: convenience methods are based on exception, docs would be helpful.
Result is quite subtile: is used in conjunction with
RunListener.testRunFinished.

Required is what goes into getIgnoreCount() (assumptions false?), what
goes into

[2016-05-31 13:54] marcphilipp commented on #1178
As pointed out in https://github.com/junit-team/junit4/issues/976#issuecomment-146030886 4.12 broke serialization compatibility with earlier versions in `ArrayComparisonFailure`. The field `fCause` was removed but is expected by earlier versions. A fix would be to reintroduce the field but also use `initCause()` in order not to break serialization compability between 4.12 and 4.13.

[2016-05-31 18:45] aishahalim commented on #1178
Ah, that makes sense -- to not have serialization incompatibility at all across (the minor) versions.

I'm not too familiar with the development process of this project -- since the issue is set as a milestone of 4.13, you'd expect the bugfix to be available for that version (and not back patched into 4.12)?

[2016-05-31 21:42] aishahalim commented on #1178
It seemed like this fix would probably have to be folded in 4.13 so created a pullrequest on top of master: https://github.com/junit-team/junit4/pull/1315

Tested with gradle 2.2, running a test that expected the arraycomparisonfailure thrown:
`$ ./gradlew --version

------------------------------------------------------------
Gradle 2.2
------------------------------------------------------------

[2016-06-01 05:17] Macarse opened #1316 "RunListener implementation questions"
I am creating a custom `RunListener` to update a test run on TestRail with the results from an android automation run. I have two questions:

1) How important is to be able to declare the `RunListener` as thread safe?

I see if it's not marked with `@RunListener.ThreadSafe` the listener will be wrapped in the `SynchronizedRunListener`. AFAIK, `AndroidJUnitRunner` will run one test at the time, so

[2016-06-01 05:27] kcooney commented on #1316
If you are not sure if your listener implementation is thread-safe then I would not recommend annotating it as thread-safe. The cost of acquiring a noncontested lock.is low so if there is only one thread then there will be no noticeable impact on the running time by leaving the listener unannotated.

[2016-06-01 05:30] kcooney commented on #1316
As for.knowimg if a test has passed, `testStarted()` is called right before the test started and `testFinished()` is called right after it ends.

Note: for general "how do I use JUnit's <something> API" questions, I recommend StackOverflow.com

[2016-06-01 05:30] #1316 closed

[2016-06-01 05:36] Macarse commented on #1316
@kcooney but I can't know if the test passed or not just using the `Description`, right? Or I am missing something very obvious?

[2016-06-01 06:12] marcphilipp commented on #1316
You know that a test passed when `testFinished()` is called without a prior call to `testFailure()` with the same `Description`.

[2016-06-01 06:35] marcphilipp commented on #1178
Since 4.12 has been released last December and 4.13 will be backwards compatible I don't see a point in shipping a 4.12.1 for this fix.

Thanks for the pull request! I've added a comment on #1315.

[2016-06-01 14:14] Reissner opened #1317 "Filter.matchMethodDescription(Description) has confusing behavior"
I think the documentation of this method is misleadinig.
What it really does is:
If desiredDescription does not describe a single test, no test is executed at all.
If desiredDescription describes a single test, then each description is run containing this single test.

I think this is not what is documented and also it is not what is wanted:
it is used in

 Request.filterWith(final Description des

[2016-06-01 14:18] Reissner opened #1318 "Request.filterWith(final Description desiredDescription)"
Documentation is syntactically wrong.
 "Returns a Request that only runs contains tests whose Description equals desiredDescription. "

What it does is returns a request which is empty if desiredDescription is not a single test
and which filters all but the single test if desiredDescription is a single test.

What is most probably wanted is
a filter which runs those tests in this Request which are

[2016-06-01 14:33] kcooney commented on #1317
@Reissner would you be willing to send us a pull request that improves the Javadoc?

[2016-06-01 14:33] kcooney commented on #1318
@Reissner would you be willing to send us a pull request that improves the Javadoc?

[2016-06-01 14:44] kcooney commented on #1317
Also your description of the current behavior doesn't match the code (see https://github.com/junit-team/junit4/blob/master/src/main/java/org/junit/runner/manipulation/Filter.java).  Is the test you are trying to filter use a `Runner` that is `Filterable`?

[2016-06-01 15:12] kcooney commented on #1317
Nevermind, I see your point about the behavior.

[2016-06-01 16:20] Harrisnick commented on #1295
I have come across this issue and thought it would be a great way to start contributing to JUnit. I'd like to modify the Javadoc as suggested by rillig-nm and also add something to clarify how RuleChaining works with existing rules.

I will submit a fix now.

[2016-06-02 01:25] Reissner opened #1320 "Request.classes(newTestClass).getRunner().getDescription()"
With a quite straightforward testclass annotated
@RunWith(Suite.class)
@SuiteClasses({
    XMSectionTest.Basic.class
})
public class XMSectionTest {
...

I obtain for Request.classes(testClass).getRunner().getDescription() the value null,
whereas for Request.aClass(testClass).getRunner().getDescription()
I obtain eu.simuline.arithmetics.left2right.XMSectionTest
Hm,.... the first seems a bug to me,

[2016-06-02 01:36] Reissner commented on #1317
I think, it is not the point to improve the documentation,
but to change the behavior to make it useful.
The documentation for this new behavior could be something like

If you agree with documentation
'Returns a Request that only runs tests in this request contained in <code>desiredDescription</code> '
for
 Request.filterWith(final Description desiredDescription)
with current implementation based

[2016-06-02 02:49] kcooney commented on #1317
It's unclear to be what this should do if you pass a suite. Firstly, they are hard to build (it needs to include all children and grandchildren, etc). Secondly, if the request was previously filtered, then the suite you pass in may no longer match anything.

I can think of two options:

a. If you pass in a suite it should throw `IllegalArguementExxeption`
B. When comparing suites to the passed-in

[2016-06-02 15:28] Reissner commented on #1317
I digged a little bit more into and now I think, the problem is elsewhere:
Filter has a method
public abstract boolean shouldRun(Description description)
with almost no javadoc comments.
The contract should be:
For atomic descriptions, i.e. if description.isTest() holds,
shouldRun(description) determines whether description passes the filter.

Otherwise, if description contains at least one leaf d

[2016-06-02 16:10] Reissner opened #1321 "ParentRunner<T>: T is Runner for Suite"
documentation of ParentRunner says:
(For {@link BlockJUnit4ClassRunner}, {@code T} is
 * {@link Method} . For {@link Suite}, {@code T} is {@link Class}.)

The latter is wrong: should be {@link Runner}.

[2016-06-02 19:55] kcooney commented on #1321
@Reissner Good catch! Would you be willing to send us a pull fixing the docs?

[2016-06-02 19:57] kcooney commented on #1317
I think it's perfectly fine for `shouldRun()` to return `false` for a suite description without looking at the children

[2016-06-02 20:17] Reissner commented on #1321
done.

[2016-06-02 20:17] #1321 closed

[2016-06-02 20:19] Reissner commented on #1317
Oh, no! not at all. It is possible to return true on any suite but it makes bad performance...
also scalability.
So I suggest to return false if one can be sure that no atomic test shall be run in the suite.
If not sure, one may return true.

[2016-06-03 00:36] kcooney commented on #1317
I am also not sure that `matchMethodDescription` is okay. See my comment starting with "It's unclear to me"

As for the Javadoc suggestion, I have a counter proposal: create a subclass of `Filter` named `TestFilter` than implements the algorithm yoy described.

[2016-06-03 02:07] Reissner commented on #1317
Now that i understood the principle, i think the implementation of
Filter.matchMethodDescription(final Description) is perfectly ok.

My problem was that I misunderstood the intention behind Filter.shouldRun.
This in turn comes from a lack of documentation.
Thus I think we shall add something:
clear what to do for atomic tests.
For suits: true only if not excluded that at least one atomic test in

[2016-06-03 05:03] reecefowell opened #1322 "@DataPoints Boolean fails if null is first in array"
The following compiles and runs successfully:

[code]

The following does not:

[code]

Producing the following error:

[code]

It is when NULL is first in the array of booleans we get the error, but not the last in the array.

[2016-06-03 05:07] reecefowell commented on #1322
Incidently, when NULL is last, although the code runs, a NULL Boolean is never considered as a test case data point that can be injected.

[2016-06-03 05:20] reecefowell commented on #1322
I see that this was resolved in 4.12, I was using 4.11, so I am closing this ticket now.

[2016-06-03 05:20] #1322 closed

[2016-06-03 07:06] SeriyBg opened #1323 "Theories and Assumptions doesn't work as expected"
Since Theories doc says:

And Assume doc says:

I'm expecting @Theory to be ignored if assumption doesn't pass the condition. But instead it fails the test.

This test fails, while I'm expecting it to be ignored.
[code]

I'm using JUnit version 4.12.

[2016-06-03 07:44] SeriyBg commented on #1323
Thax to comment on SO I found what is the issue. Test if failed only if all assertion fail and is ignored if at least one asserion passed.
So this test fails
[code]
But this one pass
[code]

Looks like right behavior for me, but it's not obvious from documentation. It would be great to explaint this behaviour in docs.

[2016-06-06 11:57] Reissner opened #1325 "Result shall take failed assumptions also into account"
In some version assumptions came into the game
but tests with failed assumtions do not go into Results: in fact they cannot be distinghished from passed tests which i think is inadequate.
Suggestion: add a category besides ignored: invalidated holding tests with failed assumptions.
The number of those is the number of invocations of testAssumtionFailure..

[2016-06-06 12:01] marcphilipp commented on #1325
There's already a pull request for that: #1294.

[2016-06-06 12:01] #1325 closed

[2016-06-06 12:05] Reissner opened #1326 "why dropped junit.framework.AssertionFailedError?"
This is more a question but an issue.
In very old junit, AssertionFailedError extends AssertionError was available.
But now Assert throws just AssertionError.
With assertions enabled, failed assertions cannot be distinguished from failed tests.
Isnt this a bug??

[2016-06-06 14:21] kcooney commented on #1326
Believe it or not, JUnit actually predated the `assert` keyword being added to Java.

I wasn't involved in the initial creation of JUnit 4.0 but I suspect they decided that creating a new exception wasn't necessary.

In the end, distinguishing the two doesn't matter. When tests throw exceptions they fail. The message should make it easy to see why the failure happened.

[2016-06-06 16:38] Reissner commented on #1326
Well, I remember the times where one distinguished,
whether a test could not be executed and was thus invalid and did neither pass nor fail
or whether it could be executed but discovered a failure.

With AssertionFailedError being thrown by class Assert,
one cannot distinguish clearly.

[2016-06-06 19:18] kcooney commented on #1326
With JUnit4-style tests, if a test can determine that it cannot be executed, then it can use `Assume` so it isn't reported as a pass or a fail.

If JUnit cannot run the test for some reason, that shows up as a failure.

To the best of my knowledge, JUnit3-style tests never threw a `AssertionFailure` that wasn't an instance of `AssertionFailureError`, so if you saw those, your tests or code was thr

[2016-06-06 19:18] #1326 closed

[2016-06-06 23:55] Reissner commented on #1326
Well, AssertionFailedError extended AssertionError, so the fathers of JUnit surely had a notion of assertion. By the way, in the very first draft of the jls assert was forseen, but later dropped.

You write: If JUnit cannot run the test for some reason, that shows up as a failure.
Hm, if a tests fails to execute (originally called 'test in error'), this does not show a failure in the software test

[2016-06-07 08:30] pussinboots opened #1327 "One Test Instance for each Parameter value"
Hi,

i use the Parameterized together with Selenium to run each test for different browser. Works pretty well.

Then i need the possibility to run different test case method on the same browser instance mostly for performance purpose. After a while i find the possibility to provide my own BlockJUnit4ClassRunnerWithParameters implementation. So it was quite simple to achieve what i need by just pro

[2016-06-07 09:07] Fanch- commented on #664
Hello, what about this issue? Is there a workaround to use Parameterized.class and have the possibility to run a single test ? `-Dtest=TesClass#testName*` doesn't work.

[2016-06-07 16:39] kcooney commented on #1326
Again, I wasn't there for the original design of JUnit4. From what I understand, David and Kent decided  that the distinction between failure and error wasn't necessary (and possibly confusing) when they designed JUnit4 ten years ago.

This has been the far too late to change this behavior now in the JUnit4 code base. Perhaps you can file a feature request at https://github.com/junit-team/junit5

[2016-06-07 16:57] kcooney commented on #1326
Also remember that there are many third-party assertion frameworks and thise frameworks may not want to depend on JUnit classes. These libraries tend to throw `AssertionError`

[2016-06-08 03:01] kcooney commented on #664
@Fanch- there is no current fix. We thought would fix this on too of the ImmutableDescription work we were working on, but that effort was abandoned.

[2016-06-08 03:13] kcooney commented on #1317
Again, instead of updating the Filter Javadoc to describe a complicated algorithm for creating a filter that matches on leaf nodes, why don't we add to JUnit an abstract Filter implementation that implements that algorithm?

[2016-06-08 09:39] bileshg commented on #45
@coreyjv Is this functionality in the pipeline because we are running Parameterized Test Cases where we need such annotations. Both @BeforeParam and @AfterParam are required.

[2016-06-08 11:01] coreyjv commented on #45
@bileshg --

Per @dsaff this request was 'mothballed' a few years ago now. I defer to him if he wants to resurface it again. Additionally, I'm not sure if this is something that would be more appropriate for JUnit 5 now (I haven't kept up with the progress there).

[2016-06-08 11:36] bileshg commented on #45
@coreyjv Ok. Thanks for responding. Actually, I needed it for something else - Getting failed test case count as per parameter. Take a look at this [question](http://stackoverflow.com/questions/37697014/get-failed-test-case-count-as-per-parameter).

[2016-06-08 12:37] paulduffin commented on #1307
Does anyone have any objections to extending JUnit 4.13/14 as requested here? I'd like to know whether I should continue working on this.

[2016-06-08 14:21] kcooney commented on #1307
We have has many discussions about global.Rules and David in particular was concerned about test behavior being specified ouside of the test class. I am not saying we wouldn't support it, but it has been rejected in the past.

I personally think a global timeout would be fine if 1) the timeout exception made it clear that the timeout was global , 2) the timeout could be overridden in the test, 3)

[2016-06-08 15:32] paulduffin commented on #1307
WRT your restrictions on global timeouts.

1. Ok, given that this would just be a rule the rule could do anything. It would largely be up to the person configuring the timeout rule.
2. As long as the test can only specify a shorter timeout that would be fine. Otherwise, if the test can specify a longer timeout or even no timeout that would pretty much eliminate a lot of the point of having a globa

[2016-06-08 23:25] juherr opened #1328 "For Spock and parameterized tests, Description.getMethodName() returns values that are not method names"
The javadoc is saying:

[code]

As I understand it,

[code]

should work if `desc.getMethodName() != null`.

Maybe parameterized tests (#892) are a specific use cases but what about the other test cases?

For example, with the following simple Spock specification:

[code]

`desc.getMethodName()` will return `"a new stack instance is created"`.
Is it the expected value?

Source ref: https://github.

[2016-06-11 11:37] marcphilipp commented on #1328
Unfortunately, `Description` was not designed with use cases outside of JUnit in mind. Therefore, methods like `getMethodName()` have to be used carefully. In this case, Spock is passing "a new stack instance is created" to the `Description` factory method as a method name.

The JUnit platform that JUnit 5 will be built upon has an abstraction that is designed to be support use cases outside of Ja

[2016-06-11 12:07] marcphilipp commented on #1320
For the sake of a complete example:

[code]

Executing the main method prints:

[code]

So, there is an intended difference: When using `Request.classes` there's an additional `Description` at the root of the hierarchy. Its display name is `"null"` because it doesn't have a test class associated with it. So the descriptor is not `null` but its `toString()` method returns the String `"null"`.

Why

[2016-06-11 12:16] juherr commented on #1328
In fact, they are more passing it as a method `displayName` which seems correct for me.

What surprises me is not having `null` when the method doesn't exist.

BTW, I found a workaround and it is not a problem anymore: https://github.com/cbeust/testng/pull/1063

[2016-06-11 12:31] marcphilipp commented on #1323
Documentation will be improved in #1324.

[2016-06-11 12:31] #1323 closed

[2016-06-11 14:43] kcooney commented on #1328
If are passing it as the display name, we *might* be able to.fix this

[2016-06-11 17:41] juherr commented on #1328
@kcooney It is always `displayName` computed from the class name and the "name" (not clear for me what name is supposed to be).
And for the moment `getMethodName()` is computed from the `toString()` aka `displayName` and returns, in fact,  `name`.

I see many "problems":
- It is not possible to override anything from `Description`
- It is not possible to configure its `displayName` logic (+/- same

[2016-06-11 23:58] kcooney commented on #1328
@juherr at one point we were considering solving these problems with a builder that built immutable `Description` objects. It was challenging to do this without breaking existing users. Getting filters to work was also challenging.

The work was tabled when the JUnit Lambda effort started.

[2016-06-12 00:26] kcooney commented on #1328
One thing to consider: it might be simpler and better to reimplement the JUnit Spock integration on top of JUnit Lambda.

[2016-06-12 22:20] juherr commented on #1328
@kcooney I'm not sure to understand you: what is the expected behavior for `getMethodName`?
As I mentioned before, I think some fixes are possible and backward compatible. I can propose a PR but I need to understand what I should do before ;)

I'm sure it is, but not really my business :)

[2016-06-13 09:23] bugparty commented on #688
I have the same problem on Intellij IDEA

[2016-06-15 07:29] kcooney commented on #1328
@juherr if the need for these changes are for Spock then I think we should close this bug. JUnit Lambda has a more flexible description mechanism that solves these issues.

[2016-06-15 07:50] juherr commented on #1328
Yep, not a problem for me.

The root problem was the support of Spock into TestNG where I was surprised about their usage of `getMethodName` and I wanted to know if they are rigth and/or they can improve it.
But as I said, I found a workaround ;)

[2016-06-16 09:11] LilooJedi commented on #1218
I had the same problem with `@ClassRule` and the temp folder creation `@BeforeClass` solved it! Thanks.

[2016-06-17 08:58] garfieldnate opened #1329 "assumeTrue doesn't work in @Parameters methods"
My test class loads some expensive resources in the parameters function, so I want to skip that step if the entire class of tests is going to be skipped anyway. However, when I use `assumeTrue` in the parameters function the tests fail with the following:

[code]

I am running JUnit 4.12 within Eclipse. MWE below:

[code]

[2016-06-21 09:39] ptahchiev commented on #95
I don't think using the hamcrest matcher's fixes this issue. For example this code:

[code]

will produce this result:

[code]

I think junit or hamcrest still needs `isNumericEquivalent` method.

[2016-06-21 09:43] marcphilipp commented on #95
Have you tried using [`comparesEqualTo`](http://hamcrest.org/JavaHamcrest/javadoc/1.3/org/hamcrest/Matchers.html#comparesEqualTo(T))?

[2016-06-21 09:43] ptahchiev commented on #95
Yes, `comparesEqualTo` actually works. Thanks.

[2016-06-21 09:44] marcphilipp commented on #95
Here's a cheat sheet I created some time ago:
http://www.marcphilipp.de/blog/2013/01/02/hamcrest-quick-reference/

[2016-06-23 10:31] helaili opened #1332 "testSuiteStarted and testSuiteFinished executed twice"
@baev, I've created a simple implementation of RunListener using `4.13-SNAPSHOT` and noticed my implementations for `testSuiteStarted` and `testSuiteFinished` are actually called twice. Looking at the stack traces, it seems to originate in ParentRunner :

[code]

Both `testNotifier.fireTestSuiteStarted()` and `statement.evaluate()` are triggering the call to `junit.runner.notification.RunNotifier.

[2016-06-23 11:48] helaili commented on #1332
Looking deeper, it seems `fireTestSuiteXXX` is called both for test suite classes and test case classes. Therefore :
- if I have N test classes in a test suite, I will receive N+1 calls to `testSuiteStarted` while I am expecting one only,
- you receive a `testSuiteStarted` call even when you're not using test suites.

[2016-06-23 12:17] helaili commented on #1332
According to [`Description.isTest()` and `Description.isSuite()`](https://github.com/junit-team/junit4/blob/dc43a04fcac86f1d412b428cce1ad9737d2287d3/src/main/java/org/junit/runner/Description.java#L203), whatever is not a test case is a test suite, hence a test class is a test suite.

Is it working as expected?

[2016-06-23 13:02] marcphilipp commented on #1332
Yes, that's the JUnit 4 definition of a suite. Thus, the events fired are correct, too.

[2016-06-23 13:02] #1332 closed

[2016-06-23 19:14] #1295 closed

[2016-06-23 22:48] ekeeton commented on #122
Just use testNg - does not require methods annotated @BeforeClass to be static - problem solved the way it should be

[2016-06-28 18:17] alb-i986 opened #1334 "ExternalResource: the behavior is different than using multiple After methods"
Multiple issues here:
1. When the test fails _and_ closing the resource fails, the test failure is lost: only the exception coming from the after() method is propagated.
2. In case there are multiple (ExternalResource) rules in place, and (closing) one fails, then all of the subsequent resources will _not_ be closed (without even trying to!).

This was not the case when encapsulating the tear down

[2016-06-28 19:02] alb-i986 commented on #1334
Sorry, I should have opened one issue for each point.
I used "fixes 1334" in my commit, so this will be closed as soon as the PR for point 1 is merged.

[2016-07-07 20:53] mjustin opened #1337 "Issues with AssumptionViolatedException constructor parameter name"
There are some inconsistencies with the constructor parameter names in the Javadocs for [AssumptionViolatedException](http://junit.org/junit4/javadoc/4.12/org/junit/AssumptionViolatedException.html), as well as mismatches between the documented behavior and the parameter names:

[code]

The (String, T, Matcher) constructor is inconsistent with its own description, as well as with the (T, Matcher)

[2016-07-09 05:01] #1270 closed

[2016-07-11 08:13] PeterWippermann commented on #1329
What do you mean by:

Why should all tests be skipped?

[2016-07-11 08:33] PeterWippermann commented on #1327
Thanks for sharing your thoughts and your code. But it would be more helpful, if you would set up a pull request instead of an issue.

However, I think your code heads to the wrong direction. By caching the instances of the "test class" in createTest() you circumvent JUnit's principle of executing every test method on a "fresh" instance of that test class.

If you want to reuse parameter objects (

[2016-07-11 08:54] garfieldnate commented on #1329
My code base is being retrofitted to work with multiple locales, and many of the tests apply to one locale or another. In some cases it is specific tests within a file, in other cases it is the entire file of tests that should not be run for the locale. By "all tests should be skipped," I mean the entire file, not the entire test suite, which does not sound useful to me.

Of course, it would also

[2016-07-11 09:19] PeterWippermann opened #1338 "Allow functionality of Suite, Parameterized and BlockJUnit4ClassRunnerWithParameters to be reused in custom Runners"
As of version 4.12 there is much encapsulated functionality in `Suite`, `Parameterized` and `BlockJUnit4ClassRunnerWithParameters`, which is hidden in private methods and not available for custom implementations of `Runner` for reuse.

I find it very interesting to implement a parameterized Suite. But since accessing the code of the already existing classes is not possible, I'd have to copy a lot

[2016-07-11 09:35] PeterWippermann commented on #1329
Ok, got it :-)

From the documentation of [assumptions](https://github.com/junit-team/junit4/wiki/assumptions-with-assume):

So I propose you put your assumption in `@BeforeClass` as it seems to be a good practice.
However, to avoid the expensive processing of resources in your `@Parameters` method, why don't you convert your assumption there to a simple check with an `if`-statement?

`

    @Para

[2016-07-11 14:09] kcooney commented on #1338
We don't have a schedule for 4.13. In the past we did releases when someone had time to do the work. Perhaps we should start by tagging bugs and pull requests that we want to go in 4.13.

Adding public methods to these classes that would only used for code reuse seems odd. The average user would be confused about when to use them. Extracting a class with helper methods might make more sense. The o

[2016-07-11 14:36] PeterWippermann commented on #1338
Hi @kcooney ,
I didn't say, that I wanted to contribute a parameterized suite yet - that might be a second step. First of all I wanted to assure that you would allow to make the code accessible that I'm interested in. If not, it would make no sense for me to take the next steps.

I have solutions for these, but I think they should be left as implementation details to the users. Again, first of all

[2016-07-12 05:34] pussinboots commented on #1327
Thanks for the feedback. I will think about what you said and open a pull request or at least put in an own repositrory.

[2016-07-12 05:34] #1327 closed

[2016-07-12 08:41] PeterWippermann commented on #1338
@kcooney , I'd appreciate a feedback on short notice :-)

[2016-07-12 16:09] marcphilipp commented on #1334
Can you please open a separate issue for point 2?

[2016-07-12 17:58] kcooney commented on #1334
As an asside, the test fixture prototype I sent out last week has neither of these problems :-)

[2016-07-12 19:34] marcphilipp commented on #1338
@PeterWippermann JUnit 5 M1 was released last week. The roadmap for the GA release is available here: https://github.com/junit-team/junit5/wiki#roadmap

[2016-07-12 20:59] kcooney commented on #1338
I am sick so I have been slow to respond.

I guess it depends on how willing the team is to support these proposed public methods going forward given that we would almost certainly not implement a parameterized suite in JUnit 4.x. I haven't had time to take a look at those APIs.

Given that 4.13 won't be released for several months you would have to copy and paste anyway for the time being, so I s

[2016-07-13 09:59] PeterWippermann commented on #1338
@kcooney I understand, although that's a bit disappointing.
Given the release plan for JUnit 5 (linked by @marcphilipp) and its GA by "the end of 2016", do you plan to maintain JUnit 4 afterwards at all?

[2016-07-13 10:29] marcphilipp commented on #1338
Yes, we will maintain JUnit 4 afterwards.

[2016-07-13 14:34] kcooney commented on #1338
Didn't mean to imply that we would not maintain 4.x. Most of the team is focused on 5.x so responses to pull requests has been slower than normal. Also, for larger changes, we have sometimes asked if the user has considered 5.x, which slows discussions and reduces the number of commits.

One advantage to trying what you want in 5.x is it would give us additional feedback on the 5.x APIs.

[2016-07-13 16:48] marcphilipp commented on #1337
You're right! Do you have time to submit a pull request?

[2016-07-13 18:04] aaronmagi opened #1339 "Is there a way to pass a variable into JUnitCore when testing a Class in a Jar?"
I wanted to know if there is a way to pass in a `variable` to a `Class` when running it from `JUnitCore`?

I am currently testing `Classes` within a `Jar` and would like to pass in a variable to a @`Test`.

Is there any way to do this?  I saw @Parameters but I believe this only works with a static set.  I want to pass a port number into the test.

**Code**

[code]

[2016-07-13 18:06] marcphilipp commented on #1339
There's no built-in way to do this. How about setting a system property and reading that in your test?

[2016-07-13 18:16] morsmodre opened #1341 "Execution of custom code when @BeforeClass fails?"
I'm not sure if this is the right place to place this question, but this is specific and nitpicking enough for me to try.

I'm using junit to run some integrations tests with docker. I have a custom TestRule to copy the logs from the containers when a certain test fails:

[code]

Now, if the tests fails in @BeforeClass the logs are not copied since the TestRule is no good for @BeforeClass or @Afte

[2016-07-13 18:29] marcphilipp commented on #1341
Can you move the container creation/deletion to another `TestRule` and use `RuleChain` to define the order like in the following pseudo-code example?

[code]

[2016-07-13 19:10] PeterWippermann commented on #1338
That's good news!
May I propose, that we just do both?

1. I will have a look at JUnit 5 and try out, how I can solve these kind of problems there. I should have taken a look into the future of JUnit anyway much earlier ;-)
1. Let me start a pull request for my proposed changes in JUnit4. I'd be very happy if these could make it into 4.13, so I can build a ParameterizedSuite on top of that.

[2016-07-15 16:36] aaronmagi commented on #1339
@marcphilipp   The problem is that we are trying to run junit tests in parrallel and inside the test execute a test based on a URL.  That URL needs to have a different port for each test.  This will not work with System Properties because there is no mapping for different ports to each test unless we can somehow pass in a way to read a different property

Port1, Port2....

Do you know any other wa

[2016-07-16 18:48] marcphilipp commented on #1339
How do you run them in parallel? Would a parameterized test help?

[2016-07-17 12:31] #1178 closed

[2016-07-17 17:28] kcooney commented on #1338
@PeterWippermann I couldn't find most of the methods you wanted to extract. Why don't you send us a pull where you just change them to public static methods, and we'll see which ones make sense to make visible externally and where they belong?

[2016-07-17 17:32] kcooney commented on #1320
I think it makes sense for the root `Description` node from `Request.classes()` has no class name, but it does seem weird that the `toString()` returns `null`. Can someone suggest a better string representation? Perhaps `"classes"`?

[2016-07-17 17:44] kcooney commented on #1329
If you filter out all of the test methods (for example, via `Categories`) then I believe JUnit won't call the `@Parameters` method

[2016-07-17 17:52] kcooney commented on #1284
I vote to close this, since ignored tests shouldn't be reported the same as tests you decided not to run.

[2016-07-17 17:54] marcphilipp commented on #1284
Agreed.

[2016-07-17 17:54] #1284 closed

[2016-07-17 17:57] kcooney commented on #1253
I'm not sure `ErrorReportingRunner` should report filterable. It's usually used to report critical errors during test initialization. If it were filterable, it would be too easy for errors to be unintentionally filtered out.

Having all the children called initializationError is problematic. I think 0e4cb7ee fixed one of the major causes of this.

Can you give an example of the kind of known issue

[2016-07-17 18:00] kcooney commented on #1226
I don't think we will be changing this in JUnit 4.x, so I vote to close it

[2016-07-17 18:04] marcphilipp commented on #1226
Agreed.

[2016-07-17 18:04] #1226 closed

[2016-07-17 18:20] kcooney commented on #1182
This would likely break people

[2016-07-17 18:20] #1182 closed

[2016-07-17 18:24] kcooney commented on #1177
There's no way to do this currently. I'm not sure how JUnit could know that a test failure shouldn't be reported as a failure. You could use a `Rule` to cause the test to not fail.

I wouldn't recommend using a rule to retry tests. JUnit creates a unique instance of the class for each test method, but if you use a rule to retry you would get the same instance run multiple times, which means that y

[2016-07-17 18:24] #1177 closed

[2016-07-18 05:59] #1337 closed

[2016-07-18 12:41] paulduffin commented on #1253
ErrorReportingRunner not support Filterable doesn't make it impossible to filter out it just makes it a lot more awkward as filter implementations have to handle it specially. That adds maintenance and development costs, and increases the cost of upgrades as the class is internal and has changed quite a few times.

In AOSP tests are run in many different environments and in many different ways, so

[2016-07-18 16:33] kcooney commented on #1253
Currently, the only case where `ErrorReportingRunner` will create a `Description` with more than one child is when you use `Request.classes()`. You can avoid using this method by creating an on-the-fly `Suite` that contains the classes you want to run, and then using `Request.runner()`

Even though the runner isn't `Filterable`, you should still be able to filter out errors because any runner that

[2016-07-19 11:20] paulduffin commented on #1253
Actually, ErrorReportingRunner will create a Description with more than one child any time that ParentRunner.validate() finds more than one error, e.g. two @Test annotated methods with a parameter. However, for the purposes of this discussion it really doesn't matter whether there is one child or many.

When I said a Filter ignores a Description with children I meant that the filters we have (whic

[2016-07-19 19:18] PeterWippermann commented on #1338
@kcooney I started PR #1348 . Please have a look :blush:

[2016-07-22 01:30] garfieldnate commented on #1329
I've refactored my code so that this just isn't a problem any more (moving expensive operations to other places, etc.). However, I still think handling the assumption in the parameters method would be the most convenient from a user's standpoint. I've never had to consider the running order of `beforeClass` and `parameters`, and but it seems that many people have issues with this (from a quick Goo

[2016-07-22 17:17] kcooney commented on #1253
@paulduffin I realize that filtering `ErrorReportingRunner` is a bit ugly, but 1) it isn't designed to be filtered (it's designed to report critical errors that the test class's runner could not handle) and 2) making it easy to filter `ErrorReportingRunner` has to be weighted against the real possibility that making it`Filterable` will break existing users.

Existing filters might not expect to be

[2016-07-22 18:17] kcooney commented on #1253
One idea: the top-level `Description` created by `ErrorReportingRunner` could contain a specific annotation

[2016-07-24 11:46] marcphilipp commented on #1320
I think "classes" sounds good!

[2016-07-24 12:25] marcphilipp commented on #1334
I think #1335 and therefore 85d7d33 only addressed @alb-i986's first point. So I'm reopening this issue.

@alb-i986 Please provide an example for the second issue.

[2016-07-24 17:48] PeterWippermann opened #1350 "Code base doesn't comply with JUnit's own coding style"
I'd like to suggest to reformat all code under `org.junit.*` once to meet the defined [formatting guidelines](https://github.com/junit-team/junit4/blob/master/CODING_STYLE.txt).

At the moment not all the files are formatted accordingly to that standard. This causes problems for contributors - especially in pull request. If you format the code you get a lot of extraneous diffs - just because of th

[2016-07-24 17:52] kcooney commented on #1350
If you can find a way to guarantee that new code will use the new formatting regardless of what editor they use (for instance, with [Spotless](https://github.com/diffplug/spotless/blob/master/README.md)) then I'd be fine doing a reformat.

[2016-07-24 19:17] PeterWippermann commented on #1350
All I can do is: import Google's code style in Eclipse. Change 2 space indentantion to 4 spaces. And run the formatting over all affected files.

[2016-07-24 19:27] Stephan202 commented on #1350
A non-Eclipse solution could be to use [google-java-format](https://github.com/google/google-java-format/). There's also a [googleformatter-maven-plugin](https://github.com/talios/googleformatter-maven-plugin).

[2016-07-24 23:20] kcooney commented on #1350
Thanks, @Stephan202

I'm going on vacation for a few days, but hopefully I can look into the Maven plugin next weekend.

[2016-07-27 23:59] HTrustProject commented on #906
The following article describes how to use a TestWatcher for taking screenshots: http://www.thinkcode.se/blog/2012/07/08/performing-an-action-when-a-test-fails

[2016-07-28 00:00] heese commented on #906
The following article describes how to use a TestWatcher for taking screenshots: http://www.thinkcode.se/blog/2012/07/08/performing-an-action-when-a-test-fails

[2016-08-16 07:44] PeterWippermann commented on #1314
@Reissner Why don't you start a pull request and add the JavaDocs for a single class with the documentation you would have liked to see? Let's see, how this works :-)

[2016-08-20 14:11] mcqueenorama commented on #875
Is there a workaround for this? I see no releases that include this patch.

[2016-08-20 15:04] kcooney commented on #875
This was fixed in c52397d. Apparently the fix didn't get into the 4.13 release notes. I'll reopen the bug as a reminder.

[2016-08-25 10:35] childnode opened #1354 "@RunWith(Enclosed.class) and its @BeforeClass"
:information_source:  preliminary note: this issue might not be an Junit issue at all but a question about how it is designed and probably an error in gradle / IntelliJ

:information_desk_person:  we actually ran into some problems with Enclosed tests, a BeforeClass method in the enclosing class:

[code]

<strike>
with

[code]

</strike>
<strike>

[code]

</strike>
<strike>
with build.gradle setti

[2016-08-25 16:17] kcooney commented on #1354
If you tell JUnit to run `InnerTestClass` in isolation then `runBeforeEnclosedSuite()` will not be run. This is because when you tell JUnit to run a class, it uses the runner for the class, and in this case `InnerTestClass` isn't annotated with `@RunWith` so runner for is  `BlockJUnit4ClassRunner`.

Is for the other behavior, it would be easier if you could run the test without Gradle our Injtelli

[2016-08-25 21:51] childnode commented on #1354
hi @kcooney

thx for clarifying these questions.
what is still open to me: what is the designed behaviour? for me: @BeforeClass should work even on Enclosed Suit classes?!

[2016-08-26 00:38] kcooney commented on #1354
@childnode `@BeforeClass` (and `@ClassRule`) should work with `@RunWith(Enclosed.class)` if you run the outer class.

[2016-08-26 02:20] garfieldnate commented on #1329
I've only just run into this, but it seems that the same problem exists for `@AfterClass` methods. I ran into this problem when timing tests using apache.commons.lang3.StopWatch:

    private static StopWatch stopWatch = new StopWatch();
    @BeforeClass
    public static void setup() {
        assumeTrue(somethingFalse);
        stopWatch.start();
    }
    @Test
    public static void someLongTe

[2016-08-26 07:30] kcooney commented on #1329
@garfieldnate in general if any `@Before` methods are called then all the  `@After` methods are called, even if the `@Before` methods threw exceptiona. The thinking is that the `@Before` method could have done something before the exception was thrown that requires a tear down.

`@BeforeClass` and `@AfterClass` are similar. Having the behavior be different for assumption failures would be confusin

[2016-08-26 07:49] garfieldnate commented on #1329
I understand how that could lead to some bad accidents. jUnit has no way of telling whether a method did setup before throwing an assumption exception. However, I think AssumptionViolationException should be dealt with in the after methods.

[2016-08-26 11:04] childnode commented on #1354
ok, thx for your answers @kcooney - to resume:
1. any execution of sub-/InnerTestClass doesn't trigger any before/after on the enclosed suite - by design.
2. running enclosed suite, will indeed include it, except
2.1. any tool, like gradle, doesn't build a correct suite but adds / executes the inner classes directly

still mysterious: why does it work for some but not for others if gradle version

[2016-08-26 16:25] Tibor17 commented on #1329
AFAIK the user wants to alter the phase when injection of @Parameters
is done and call the Assumption right before @Before and skip
before-test-after if the assumption in parameters fails.
My hint is to introduce new descriptive method in the annotation @Parameters.
[code]

In code this might be
[code]

And the lifecycle would be:
+ parameters
+ before
+ test
+ after

On 8/26/16, Nathan Glenn <not

[2016-08-26 20:56] kcooney commented on #1354
@childnode I have no idea what Gradle does when you run your tests. If it runs `TestSomething` the the `@BeforeClass` method should be called.

I also don't know why the Java version matters.

You could a debugger to see what is going on by following the instructions at http://stackoverflow.com/a/25619391/95725

I suggest setting breakpoints in your test and in the methods in `Request`.

[2016-08-26 21:07] kcooney commented on #1329
Looking back at the original motivation (avoiding an expensive operation that produces the parameters) it sounds like something JUnit 5 already supports. @marcphilipp can you comment?

As for JUnit 4 the simple workaround would be to just return an array of size one containing all nulls, and have a `@Before` method use `Assume` to skip the tests in this case.

[2016-08-27 19:11] Tibor17 commented on #1329
@kcooney The problem is that the organizations won't change the framework and entire testset due to this feature. If it's a simple change then why not to make it in JUnit 4.

[2016-08-27 23:39] kcooney commented on #1329
@Tibor17 I am not sure we can make a simple change that wouldn't break people. We would likely break people if we changed the way assumption failures were handled in `@Before` and/or `@BeforeClass` methods. Do you have a specific proposal?

[2016-08-28 09:00] Tibor17 commented on #1329
if `aroundTest =true` nothing changed. If false then it is up to JUnit when parameters methods are called. It's clear that JUnit would not call the methods before @Test. Obviously before calling @Before or Rules.

[2016-08-28 19:54] kcooney commented on #1329
@Tibor17 I'm guessing when you said `@Before` you meant `@BeforeClass`. In any case, making the method order conditional on an annotation parameter wouldn't be very discoverable.

Again, if someone can find a clean way to handle assumption failures in `@Parameters` methods please send a pull.

[2016-08-28 20:27] Tibor17 commented on #1329
No, i mean this order:
BeforeClass
Parameters
Before
Test
After
AfterClass

AFAIK currently the order is (which would mean aroundTest = true by default):
BeforeClass
Before
Parameters
Test
After
AfterClass

exactly! This might not be visible solution in case of multiple @Parameters.

On 8/28/16, Kevin Cooney <notifications@github.com> wrote:

--
Cheers
Tibor

[2016-08-28 21:54] kcooney commented on #1329
@Tibor17 `@Before` methods are instance methods so they cannot be called until after the test class has been constructed. Constructing the test class requires that JUnit know the parameters.

[2016-08-29 10:00] Tibor17 commented on #1329
@kcooney So what is the order of the method by in Parameterized?
If params are called before `@Before` then no issue. The only thing is to skip the before-test-after if @Parameters fail with the assumption.

[2016-08-29 14:40] kcooney commented on #1329
@Tibor17 The `@Parameters` method is called before any `@BeforeClass` methods and before any class Rules. It is called while the Runner tree is being built (from the `Parameters` constructor) so it may be tricky to handle assumption failures there.

[2016-08-29 17:30] Tibor17 commented on #1329
Then it does not have the solution I wanted. Nice way would be to have
`assumeTrue` in the constructor of `FibonacciTest(int input, int
expected)`, see this example and imaging the constructor with
assumption
https://github.com/junit-team/junit4/wiki/parameterized-tests

On 8/29/16, Kevin Cooney <notifications@github.com> wrote:

--
Cheers
Tibor

[2016-09-05 21:29] 2mferreira opened #1356 "junit4 Truck Factor"
Dear **junit4** contributors,

I am Master's student investigating the importance of the idea of truck factors in Software Engineering.

As you know, [truck factor](https://en.wikipedia.org/wiki/Bus_factor) (aka bus factor) is defined as “the number of people on your team who have to be hit by a truck before the project is in serious trouble”. By "serious trouble", we mean that it will very diffic

[2016-09-05 23:58] kcooney commented on #1356
It looks like [nine](https://github.com/orgs/junit-team/people)

[2016-09-05 23:58] #1356 closed

[2016-09-06 11:02] siavashabdoli opened #1357 "TextUtils.isEmpty(String) return wrong value."
I run a test and I get NullPointerException on null object method but the point is before this line I check the String with TextUtils.IsEmpty(String) so the line must not be run at all here is my code:

        if (TextUtils.isEmpty(number)) return false;
        int length = number.length();

I see the same question on StackOverFlow but I already unitTests.returnDefaultValues true.

http://stacko

[2016-09-06 13:42] kcooney commented on #1357
`TextUtils` isn't a JUnit method, so this doesn't sound like an issue with JUnit. I suggest using a debugger.

IMHO it is very rare to have a String where `null` and empty are valid values, and in those rare cases, just manually check for both. Have your methods check their input values and throw a `NullPointerException` if they receive a `null`. This will allow you to catch NPEs at the source and

[2016-09-06 13:42] #1357 closed

[2016-09-06 13:50] siavashabdoli commented on #1357
@kcooney R U kidding me? `TextUtils` class is in android.text package and here is the code of that method

[code]

the problem is with Junit. this is very simple code. I get NPE at `number.length();` it's impossible and in real application does not throw any Exception.

[2016-09-06 13:58] siavashabdoli commented on #1357
@kcooney maybe I describe it not so good. but you don't even read the stackoverflow post :)

[2016-09-06 16:16] kcooney commented on #1357
@siavashabdoli I did read the Stack Overflow question, plus this one about `returnDefaultValues`: http://stackoverflow.com/a/39171844/95725

JUnit just executes the code in your test method. The `android.text` package isn't released as part of JUnit. The problem isn't with JUnit

[2016-09-09 07:34] pranavparikh opened #1358 "Using TestWatcher at Suite level ?"
I wrote a TestWatcher for my tests which sends the results to our reporting system.
Instead of extending my custom testwatcher in every test or adding it as a rule in each JUnit test class
	@Rule
	public MyWatcher watcher = new MyWatcher();
,
can I do this at a suite level ?

[2016-09-09 14:38] kcooney commented on #1358
A rule is a decorator that wraps the `Statement` that runs the test method, class or suite. If you had a `TestWatcher` at the suite level, it wouldn't be notified about individual tests run inside the suite.

Have you looked at `RunListener`?

[2016-09-12 18:39] marcphilipp commented on #1329
JUnit Jupiter indeed provides an extension point to skip an entire test class: [`ContainerExecutionCondition`](http://junit.org/junit5/docs/current/user-guide/#extensions-conditions).

[2016-09-18 07:21] kcooney commented on #226
(doing a pass at closing old issues)

Given 1) JUnit 4-style tests were introduced a long time ago 2) JUnit 5 is around the corner and 3) this only affects an error case (a test case with no tests), I'm not sure it's worth fixing this

[2016-09-18 07:21] #226 closed

[2016-09-18 18:40] kcooney commented on #1238
This was fixed via 35c8fd37

[2016-09-18 18:40] #1238 closed

[2016-09-19 10:42] igor-rubis opened #1361 "Subsequent scenarios in @SuiteClasses are skipped if the first one fails"
Hello.

In my project I use @SuiteClasses like the following:

If first scenario fails, lets say due to AssertionFailedError the rest scenarios are skipped. With the following output:

I also tried to set jvm property:

But it seems like it does not work in such cases.

I use jUnit 4.12 with Serenity 1.1.36 and serenity-jbehave 1.13.0.

Is there a way to not to skip subsequent tests in @SuiteClass

[2016-09-19 14:02] #1361 closed

[2016-09-19 16:11] kcooney commented on #212
Closing this. See #905 for rationale

[2016-09-19 16:11] #212 closed, assigned to nobody

[2016-09-21 11:41] zwz987654 opened #1362 "How to show details when expect error"
My junit tests run on jenkins server with other people's.So,I always get dirty data like this:
`java.lang.Exception: junit.framework.ComparisonFailure: row count (table=t_beststore_ylx_task_record) expected:<[1]> but was:<[2]>`
How can I know what dirty data id?
The dirty data from other's test case,so I hardly find out where the data inserted.I also use @DatabaseTearDown to clean database,so i ca

[2016-09-21 16:20] rpost opened #1363 "ErrorCollector reports AssumptionViolatedException as failure when assumption is not meet multiple times."
Sample test:

[code]

Expected result: test ignored.
Actual: test failed.

Working as expected (ie. test results as ignored) when:

[code]

[2016-09-21 17:29] kcooney commented on #1362
Assertion libraries like Truth or Fest often provide better assertion messages.

If that doesn't help, I suggest asking on http://stackoverflow.com (though you will likely need to provide more details including what your test looks like. Much more people read that than the JUnit issue database

[2016-09-21 17:29] #1362 closed

[2016-09-21 17:33] kcooney commented on #1363
I am tempted to argue that error collector shouldn't be used for assumption failures. ErrorCollector is intended to allow you to make an assertion but have the test continue. Assumption failures are meant to stop processing and move on to the next test.

Perhaps if the delegate passed to `checkSucceeds()` throws an assumption failure  `checkSucceeds()` should immediately rethrow the exception

[2016-09-21 20:18] rpost commented on #1363
That's what I'd expect

[2016-09-21 22:08] kcooney commented on #1363
@rpost Could you send us a pull with that change and a test? The JavaDoc should document this of course

[2016-09-22 17:50] accesio opened #1364 "No documentation for running filtered tests from the command line"
Hi

There's no documentation that explains how to use the new features such as --filter, from the command line  to select different categories of tests. You provide documentation for scala and gradle
( https://github.com/junit-team/junit4/wiki/Categories ) but not from the command line itself.

[2016-09-22 19:13] kcooney commented on #1364
https://github.com/junit-team/junit4/wiki/Test-runners would be he best place to do this (unless you think we should create a specific page foe this)

@accesio would you like to make a first pass at this?

[2016-09-28 07:49] terorontti opened #1365 "Interrupted test cases cause random failures with thread reuse"
Whenever a test case is interrupted (Thread.interrupt()), the test runner thread seems to stay in interrupted state. This causes random failures later when the thread is reused for other test cases.

Expected behaviour: When the thread is reused, interrupted flag for the thread is cleaned before starting a new test case. This can be done by calling `Thread.interrupted()`, which returns the interru

[2016-09-28 08:17] kcooney commented on #1365
Thanks for the bug report.

I wonder if JUnit should cause an otherwise passing test to fail if the interrupted bit was set during the test run. I am guessing no, because so many otherwise passing tests would start failing, and the fix would be to sprinkle `interrupted()` calls everywhere.

There is also the question of whether `ExpectesException` `assertThrows()` or `expectThrows()` should ever c

[2016-09-28 21:15] rpost commented on #1363
I took a look into code and now I think we should make all `ErrorCollector` AssumptionViolationException-proof, which implies changes in `org.junit.Assert#expectThrows` so that assumption violation is rethrown if expected exception is not `AssumptionViolationException`. Do you agree?

[2016-09-29 01:24] kcooney commented on #1363
I don't think `expectThrows()` should special case `AssumptionViolationException`. The contract of `expectThrows()` is very explicit; if the expected exception isn't thrown by the lambda you get an assertion error.

Taking a step back, what problem are you trying to solve? The expressions passed into these methods should be production code, not test code, and `AssumptionViolationException` should

[2016-09-29 15:00] henrik242 opened #1366 "net.sf.proguard:proguard:jar must specify an absolute path"
I get a strange error in my Gradle build.  Is this a junit4-ant problem?

    Processing of /home/travis/.gradle/caches/modules-2/files-2.1/com.carrotsearch.randomizedtesting
      /junit4-ant/2.3.4/f671cb9471d984103ccaaf09fcbc7fc6d8be07a0/junit4-ant-2.3.4.pom failed:

    'build.plugins.plugin[com.pyx4me:proguard-maven-plugin].dependencies.dependency.systemPath'
      for net.sf.proguard:proguard

[2016-09-29 18:19] rpost commented on #1363
I worked around my initial problem with my code. I just wanted to ensure correct behavior for `AssumptionViolationException` wherever it is thrown but now I started to doubt :).

[2016-09-30 04:54] kcooney commented on #1363
I am actually now leaning to having `ErrorCollector` wrap `AssumptionViolationException` in another exception if it is the only collected exception. That way, if you have any collected errors you'll get a failure (not a skipped test)

[2016-09-30 08:48] m9aertner commented on #1219
Using a "Global Rules" approach, I was able to replace an even lower-level solution using AspectJ that had the goal of fixing certain things _centrally_, i.e. without having to change the unit test classes.
While this is not a shippable amendment right now, I'd like to share some of the points that I found along the way:

- We have thousands of unit test classes. With and without base classes, JUn

[2016-09-30 14:42] kcooney commented on #1366
This isn't maintained by us. I.searched for "com.carrotsearch.randomizedtesting" and it looks like you want https://github.com/randomizedtesting/randomizedtesting

[2016-09-30 14:42] #1366 closed

[2016-10-04 20:07] PeterWippermann commented on #1338
For the period before this issue can be solved, I set up a project that provides exactly this functionality and makes it available for reuse: https://github.com/PeterWippermann/parameterized-suite

[2016-10-04 20:17] PeterWippermann commented on #655
I had the same use case and implemented such a `ParameterizedSuite`. Have a look at it, if you like: https://github.com/PeterWippermann/parameterized-suite

[2016-10-04 20:26] kcooney commented on #655
I agree with David on this. If making Suite easier to extend would help, please file a bug or create a pull.

[2016-10-04 20:26] #655 closed

[2016-10-05 07:17] PeterWippermann commented on #655
Well, that was my intention when I opened #1338 .

[2016-10-05 07:25] PeterWippermann commented on #1358
In general: If you don't want to repeat yourself and copy your `@Rule` in every test class, I would suggest to introduce a super class for your test classes and place your TestWatcher there.
For your specific use case of test reporting, `RunListener` might be a better fit than `@Rule`.

[2016-10-05 15:30] jaredculp opened #1368 "Why does RuleChain use a List internally instead of a stack?"
Curious why a list was chosen for a problem that has LIFO semantics?

In other words, why

[code]

vs

[code]
where `this.chain` is a `Deque<TestRule>`.

Is this simply due to `Deque<T>` not being introduced until JDK 1.6?

[2016-10-05 19:05] kcooney commented on #1368
Stack extends Vector, and Vector predates the new collection classes, so that wouldn't be a good choice.

JUnit 4 still only requires JDK 1.5. That might change in the future, but using `Deque` isn't a good enough reason to change JUnit's required JDK.

[2016-10-06 15:50] jaredculp commented on #1368
Makes sense. Thanks!

[2016-10-06 15:50] #1368 closed

[2016-10-08 18:00] kcooney commented on #1358
Agreed with Peter here. Good luck!

[2016-10-08 18:00] #1358 closed

[2016-10-08 18:13] #1189 closed

[2016-10-10 15:12] ddwolf opened #1369 "how to test a single test in cli"
I have a test class:
TestClassA
   |---methodA
   |---methodB

how can I test just methodA using comman line?

[2016-10-10 17:08] Tapan2064 commented on #1369
//test class`
package test1;

public class TestClassA {

	static int a=9;
	int b=8;
	public static int methodA(){
		a++;
		return a;
	}
	public int methodB(){
		b++;
		return b;
	}

}
`

//Implementing junit
package test1;

import static org.junit.Assert.*;

import org.junit.Test;

public class TestJunit {

	   @Test
	   public void testPrintMessage() {
	      assertEquals(10,TestClassA.methodA())

[2016-10-11 00:19] ddwolf commented on #1369
# {test1.TestJunit#testPrintMessage}# this is for maven's command line?

[2016-10-11 01:55] kcooney commented on #1369
@ddwolf if you are using Maven see
http://maven.apache.org/surefire/maven-surefire-plugin/examples/single-test.html

[2016-10-11 01:55] #1369 closed

[2016-10-11 02:10] ddwolf commented on #1369
@kcooney I dont' use maven...and I know how maven achieve this.
I just use `java -cp $CLASSPATH org.junit.runner.JUnitCore --some other  options`

[2016-10-11 03:40] kcooney commented on #1369
@ddwolf I suggest looking into Maven or Gradle. They both should support what you want (so we havenw spent time to duplicate that work in JUnitCore). I also suggest installing an IDE and running tests from the IDE (I use Eclipse, but IntelliJ IDEA is quite popular)

[2016-10-11 08:45] Tapan2064 commented on #1369
**@ddwolf**  I have implemented in Eclipse its work.
create a project,inside that project create a package test1 and create all the three classes and pass {**test1.TestJunit#testPrintMessage**} as a command argument of **TestCheckingviacommandline.java** it will work.I think its not a part of MAVEN.

test1->package
TestJunit->class
#->for separation
testPrintMessage->method (here you can pass your

[2016-10-11 13:46] kcooney commented on #1369
In Eclipse, you just right-click on the test method and select "Run As -> JUnit Test"

[2016-10-12 01:43] ddwolf commented on #1369
@kcooney @Tapan2064
this solution solved my problem
http://stackoverflow.com/a/9288513

[2016-10-12 03:36] htetmyomyint opened #1370 "Unrooted Tests when running single test in Eclipse with failing @AfterClass"
I used JUnit 4 to test method that works with Apache Storm and Elasticsearch.
When tested method throws an exception Unrooted Tests appears at JUnit console of Eclipse.
When tested method works correctly, JUnit is correct.

[2016-10-12 04:15] kcooney commented on #1370
Could you give some steps to reproduce, including a sample failed test? Does it require Apache Storm and Elasticsearch to reproduce?

[2016-10-12 05:39] htetmyomyint commented on #1370
@kcooney , Unrooted Tests still happen without Apache Storm and Elasticsearch.
It happens with sample code like following.

//Target class
package mypackage;

public class MyClass
{
    public Object throwExcep() throws Exception
    {
        throw new Exception();
     //  return null;
    }
}

and JUnit method ,
    @Test//(expected = Exception.class)
    public void test_5tth_notexistedcluster

[2016-10-12 06:43] kcooney commented on #1370
@htetmyomyint I formatted your code. Does it look right? Does the test class have a base class? Does it use a custom runner?

Can you provide a screenshot? Does it happen with other versions of Eclipse? I ask because this is a very simple test, so it shouldn't give you weird output.

[2016-10-12 06:46] kcooney commented on #1370
also, these might help:

- http://stackoverflow.com/questions/120889/unrooted-tests
- http://stackoverflow.com/questions/23229538/junit-test-unrooted-tests-initializationerror
- http://forum.spring.io/forum/spring-projects/data/60152-unrooted-tests-eclipse-and-running-individual-junit-4-tests

[2016-10-12 07:45] htetmyomyint commented on #1370
@kcooney , Thanks for answers.

Actually code inside @AfterClass has the problem.
But I can't see all error stacktrace and wrongly located the error.

Regards,

[2016-10-12 13:49] kcooney commented on #1370
@htetmyomyint can you provide an example that demonstrates this problem?

[2016-10-12 15:55] htetmyomyint commented on #1370
@kcooney I hope you mean this.

Target class

`public class Target {
	public Object targetMethod() {
		return new Object();
	}

	public void throwNull(){
		throw new NullPointerException();
	}
}`

Test class
`public class Test {

	@Test
	public void testThrowNull() {
		Target target = new Target();
		target.targetMethod();
       //do assert
      // assertion may be failed or success
	}

	@AfterC

[2016-10-12 18:55] kcooney commented on #1363
After working on #1363 here's what I think we should do

- If the `Callable` passed to `ErrorCollector.checkSucceeds()` throws an `AssumptionViolatedException` then `checkSucceeds()` should wrap it with an `AssertionError` (with a useful message) before calling `addError()`
- If an `AssumptionViolatedException` is passed to `addError()` then `addError()` should wrap it with an `AssertionError` (wi

[2016-10-14 18:23] pauljct06 opened #1372 "Incorrect @BeforeClass order in IntelliJ"
Here is my Test class
![image](https://cloud.githubusercontent.com/assets/9300208/19398206/80a02bde-9219-11e6-8122-8cf22090389e.png)

@BeforeClass is running at the end when selecting run
<img width="849" alt="screen shot 2016-10-14 at 2 16 43 pm" src="https://cloud.githubusercontent.com/assets/9300208/19398132/1cd029a6-9219-11e6-8a34-a328423e193c.png">

but when running the test as a debug it com

[2016-10-14 19:22] BrunoDM2943 commented on #1372
Wich junit's version are you using? Have you tried run this on other IDE?

[2016-10-14 21:48] kcooney commented on #1372
I suspect IntelliJ might be capturing stout and printing it to the console later. You can use a debugger to see what order the methods are called.

[2016-10-14 22:19] #1213 closed

[2016-10-17 04:17] kcooney commented on #1370
This sounds like the issue fixed by #1082

@htetmyomyint does the problem happen in 4.13?

[2016-10-17 13:33] pauljct06 commented on #1372
I am using IntelliJ Ultimate 2016.2.4. I haven't had the time to try it on another IDE yet.

[2016-10-17 14:09] marcphilipp commented on #1372
We had a similar problem with IntelliJ in JUnit 5: https://youtrack.jetbrains.com/issue/IDEA-160397

[2016-10-17 18:57] BrunoDM2943 commented on #1372
Guys, I used hamcrest-all-1.3.jar, junit-4.12 and Intellij Ultimate 2016.2.4. This bug didnt happened! @pauljct06 , could you attach the junit and hamcrest jars that you are using?

![image](https://cloud.githubusercontent.com/assets/7273952/19451087/bcbadaf6-948a-11e6-959e-3cbcb72dd2dc.png)

[2016-10-17 21:08] htetmyomyint commented on #1370
@kcooney yes, it still happens in 4.13.

[2016-10-18 19:28] pauljct06 commented on #1372
@BrunoDM2943  Sorry for the delay, see below the Junit and the Hamcrest I am using

![image](https://cloud.githubusercontent.com/assets/9300208/19493151/8d82dbae-9547-11e6-8bd7-5f868caa53bc.png)

[2016-10-18 22:39] kcooney commented on #1370
@htetmyomyint thanks for checking. Since you are the only one that has seen this, could you try stepping through with a debugger to see what is causing the problem? I suspect you would want to set breakpoints in `BlockJUnit4ClassRunner.runChild()` and in `RunAfters.evaluate()`

[2016-10-23 05:45] drocsid opened #1373 "Cannot resolve method expected @Test annotation: @Test not applicable to type."
Hello,

I started using the mvn-quickstart-archetype to create an application. It generates a test like below with the maven pom for junit 3.X

[code]
Then I tried adding the following lines and updating the pom for the most recent junit4
[code]

I've wasted at least an hour reading docs and changing import statements, reading the FAQ, looking at Stack Overflow, etc.

Can someone suggest how I can

[2016-10-23 14:57] kcooney commented on #1373
Which version of the JUnit jar is it using?

Note that the JUnit team doesn't maintain any Maven code.  Also you will get many more views of your question if you ask on stackoverflow.com

[2016-10-23 14:58] marcphilipp commented on #1373
That sounds like you have a `@Test` annotation on the test class, too, right?

[2016-10-23 15:01] BrunoDM2943 commented on #1373
Could you paste all the Java code for the class here?

[2016-10-23 22:29] drocsid commented on #1373
This is what a bare generated test looks like, sans package declaration

[code]

This is what my test looks like, sans package declaration

[code]

This should be enough source from my class to look over the method I'm testing

[code]

[2016-10-24 01:15] BrunoDM2943 commented on #1373
@drocsid , try those things:

1. Update the maven project and check if the junit is in the right version
2. If you are going to use JUnit 4, I suggest you use `@Test` (package `org.junit`) and separate the test case from the test suite, like this [sample](https://www.tutorialspoint.com/junit/junit_suite_test.htm
3. Just follow this sample and it should work!

[2016-10-24 02:10] drocsid commented on #1373
Big shame. I thought I tried that but maybe I left some of that test suite business around. It would be nice to have some up to date maven archetypes using JUnit4. Thanks!

[2016-10-24 02:10] #1373 closed

[2016-10-25 00:55] kcooney commented on #1373
@drocsid perhaps file a bug at http://maven.apache.org/archetypes/maven-archetype-quickstart/

[2016-10-25 21:39] PeterWippermann commented on #1236
Doesn't make much sense to me. The implementation of `ExternalResource` is pretty straight forward:
[code]

[2016-10-25 22:11] kcooney commented on #1236
Agreed. An exception in `after()` will hide failures from the delegate statement, but that is another issue.

@coreer please ping the thread if you have a reproducible test case and answers to my questions.

[2016-10-25 22:11] #1236 closed

[2016-10-26 19:06] vijay559 opened #1378 "Java.lang.verifyError"
A similar error has been seen by others who were using the roboelectric library when they try to access a file. Some suggested to use -noverify jvm argument in the build file to avoid verification in JVM. But I believe this is something the library has to address.

Can you please let me know.

   URL resource = getClass().getResource("/a.doc");
   File file = new File(resource.getFile()); ----- I

[2016-10-26 20:49] kcooney commented on #1378
@vijay559 this might be a problem with your JVM or your libraries or something else. It might not be a problem that this community can help with. Have you considered asking on stackoverflow.com ?

[2016-10-26 21:33] vijay559 commented on #1378
Actually after seeing your response, I removed the -noverify JVM flag and tried it again and it started to work. I did couple of changes after I Posted this issue. Not sure which resolved that issue.

[2016-10-26 21:34] vijay559 commented on #1378
Closing the issue as it is no longer happening. It might be the FILE IO api that I was using that caused this issue.

[2016-10-26 21:34] #1378 closed

[2016-10-30 22:31] tomwhoiscontrary commented on #1350
JUnit uses the Google style with the exception of different indentation.

The google-java-format tool doesn't support overriding the indentation.

If you want to enforce the style after reformatting, the tool of choice would be [Checkstyle](http://checkstyle.sourceforge.net/), via its [Maven plugin](https://maven.apache.org/plugins-archives/maven-checkstyle-plugin-2.16/). This supports [using the

[2016-10-31 09:41] PeterWippermann commented on #1350
Great effort, @tomwhoiscontrary ! 👍

[2016-10-31 15:39] #1320 closed

[2016-11-01 22:17] Stephan202 commented on #1350
I added a comment on PR #1379; seems four space indentation should be possible after all :).

[2016-11-16 16:43] marcphilipp commented on #664
<img width="232" alt="screen shot 2016-11-16 at 17 42 48" src="https://cloud.githubusercontent.com/assets/214207/20356211/1f6fdf7e-ac24-11e6-9e7d-91876b82d76e.png">

I think it would be ok to remove `getName()` from `testName()` because it's redundant anyway.

@junit-team/junit-committers What do you think?

[2016-11-16 18:03] kcooney commented on #664
As long as all `Description` instances are unique for a partameterized test.

[2016-11-16 18:48] marcphilipp commented on #664
We could set the unique ID in the description to make them unique. However, I'm wondering if/why they need to be unique in the whole subtree?

[2016-11-16 19:02] kcooney commented on #664
Yes, `Description` instances need to be unique. That's all that is passed to the listener to reference a test starting and ending. To build a tree like you showed and update it during the test run you need to know which test started.

[2016-11-16 19:33] marcphilipp commented on #664
Point taken. So, I think we should add a new factory method to `Description` that creates a test description with an explicit unique ID. We could then pass the current name as unique ID and use just the method's name as its display name. What do you think?

[2016-11-16 19:34] kcooney commented on #1372
@pauljct06 I think IntelliJ is buffering the output, which could affect the output order. Please use a debugger to see what order the methods are being called. Alternatively, modify your test to have a private static List field and update your test methods to append the name of the list to the field and then assert at the end that you get the expected order.

[2016-11-16 19:38] marcphilipp commented on #1372
@pauljct06 Which version of IDEA are you using? Can you update and try again?

[2016-11-16 19:44] kcooney commented on #664
@marcphilipp there already is a method in Description for creating a test Description with a given unique ID: https://github.com/junit-team/junit4/blob/master/src/main/java/org/junit/runner/Description.java#L109

I don't think that `Description` should *generate* unique IDs. Couldn't `Parameterized` pass a deterministic value to `Description.createTestDescription()`?

[2016-11-16 19:47] marcphilipp commented on #664
Yeah, but that one does not have a class parameter. So we need a different one.

I didn't mean that. I meant that `Parameterized` should _pass_ `method.getName() + getName()` as unique ID and `method.getName()` as name.

[2016-11-16 20:09] kcooney commented on #664
SGTM.

Even though we dropped the idea of having immutable Description instances for JUnit 4, should we add a builder to avoid having so many static creational methods?

[2016-11-19 10:58] marcphilipp commented on #664
Sure! 👍

[2016-11-21 16:06] gdemecki opened #1387 "Lack of the official XML schema definition for a JUnit report."
Please correct me if I'm wrong, but it seems to me that there doesn't exist a good description of the XML file format for reports produced by the JUnit.

On the internet we can find a few such XSD files provided by 3rd parties (via a reverse engineering), but there are usually outdated.

Wouldn't be good to have an official format available for everyone? Placed in the JUnit source code or on the W

[2016-11-21 16:42] kcooney commented on #1387
JUnit doesn't produce this XML.

[2016-11-21 17:00] PeteGillinGoogle opened #1388 "Assert.assertThrows gives unhelpful message if the code throws an exception with the same name from a different package"
This test:

  @Test
  public void foo() {
    Assert.assertThrows(com.google.foo.NotFoundException.class, this::bar);
  }

  private void bar() {
    throw new com.google.bar.NotFoundException();
  }

fails with the message "unexpected exception type thrown; expected: java.lang.String<NotFoundException> but was: java.lang.String<NotFoundException>" which is not very helpful.

Given how easy it is

[2016-11-21 17:32] baev commented on #1387
@gdemecki I guess you mean `surefire.xml`. So you can find the schema here https://github.com/apache/maven-surefire/blob/master/maven-surefire-plugin/src/site/resources/xsd/surefire-test-report.xsd

And xml parser https://github.com/apache/maven-surefire/tree/master/surefire-report-parser

[2016-11-21 18:03] #1387 closed

[2016-11-21 18:41] #1388 closed

[2016-11-21 18:41] marcphilipp commented on #1388
Good catch, thanks!

[2016-11-21 18:55] PeteGillinGoogle commented on #1388
Thanks for the super-quick fix!

[2016-11-22 08:25] gdemecki commented on #1387
Thanks @baev and @kcooney. This answers my question clearly.

[2016-11-30 05:10] kcooney commented on #1161
These should be addressed in JUnit 5

[2016-11-30 05:10] #1161 closed

[2016-11-30 05:16] kcooney commented on #1079
We no longer are planning a 5.0 release from this codebase

[2016-11-30 05:16] #1079 closed

[2016-11-30 05:20] #1067 closed

[2016-11-30 05:23] kcooney commented on #706
Fixed in #1154

[2016-11-30 05:23] #706 closed

[2016-11-30 05:25] kcooney commented on #602
assertThrows() resolves this.

[2016-11-30 05:25] #602 closed

[2016-11-30 05:26] #534 closed

[2016-11-30 05:28] #375 closed

[2016-12-01 20:35] #1073 closed

[2016-12-05 07:06] #1363 closed

[2016-12-08 19:12] davidonlaptop commented on #1372
@kcooney : It does look like IDEA is buffering the output:

[code]

Output:
[code]

[2016-12-08 21:21] kcooney commented on #1372
@davidonlaptop thank! So not a bug on our side :-)

[2016-12-08 21:21] #1372 closed

[2016-12-09 15:07] davidonlaptop commented on #1372
For reference: this bug appears to be fixed in the latest IntelliJ version (2016.3.1 RC)
https://intellij-support.jetbrains.com/hc/en-us/requests/825635?page=1

[2017-01-08 14:21] stephaneeybert opened #1407 "Name conflict on @Before(d) method with its homonym in its base class"
Having a @Before(d) method in a class, and another @Before(d) method bearing the same name in its base class, makes the base class method not being called.

Renaming one of the two methods solves the issue.

Version: 4.12.

[2017-01-08 15:19] marcphilipp commented on #1407
Well, if you override a method in the subclass you effectively replace the base class method so there is only one left for JUnit to execute. 🤔

[2017-01-08 16:07] stephaneeybert commented on #1407
Makes sense.

[2017-01-08 16:09] kcooney commented on #1407
I personally recommend making `@Before` and `@After` methods final.

[2017-01-08 16:11] marcphilipp commented on #1407
I also prefer not to overwrite `@Before` and `@After` methods.

But if you really have to, you should add a call to the `super` implementation to execute both:

[code]

[2017-01-08 16:11] #1407 closed

[2017-01-08 20:08] kcooney commented on #1370
@htetmyomyint I was able to reproduce this and it looks like an Eclipse bug.

Eclipse appears to do the following

1. Create a Request to run `Test`
2. Filter the request with `Request.filterWith(Description)`
3. Use the `Request` returned by step 2 to run the test

In order to run the test method, we of course have to run the `@AfterClass` method. As far as I can tell, JUnit properly notifies the

[2017-01-09 08:33] stephaneeybert commented on #1407
I had done the explicit super call before (and indeed it worked) but was simply puzzled why I had to. My eyes must have been glued too much that day :-)

[2017-01-09 08:34] marcphilipp commented on #1407
Sure, no problem at all. 🙂

[2017-01-10 15:16] shadowtdt opened #1410 "wiki/exception-testing uses deprecated examples"
thrown.expectMessage(JUnitMatchers.containsString("Size: 0"));

[2017-01-11 15:17] marcphilipp commented on #1410
Fixed, thanks!

[2017-01-11 15:17] #1410 closed

[2017-01-11 17:23] paulduffin opened #1411 "Enforce order of @Before/@After annotated methods even when override is also annotated"
I recently had a problem where a fix to a compiler that copied annotations from a method onto a synthetic bridge method created by the compiler changed the behavior of a test.

I had two classes, lets call them Base and Derived. Each of them had an @Before annotated method, lets call them baseBefore() and derivedBefore() respectively. The order in which they were executed was critical, Base.baseBe

[2017-01-11 21:37] kcooney commented on #1411
I don't think I agree with the last sentence. If you override a `@Before` method you shouldn't annotate the method on the subclass with `@Before`.  If you do, then I am personally fine with the call order being undefined.

Personally, I recommend always making Before and After methods final. If subclasses need to change or replace the base class behavior, extract a non-final protected method and h

[2017-01-12 11:18] paulduffin commented on #1411
The background for the compiler issue can be found at:
https://bugs.openjdk.java.net/browse/JDK-6695379
https://bugs.eclipse.org/bugs/show_bug.cgi?id=495396

The compiler change was not made with JUnit in mind, and they're certainly not going to revert it for JUnit.

I agree that making Before/After methods final is better but it's not possible in the specific case that I mentioned above because J

[2017-01-12 16:38] kcooney commented on #1411
My apologies. It looks like the behavior is defined in JUnit, and JUnit is trying to do what you propose. See:

- https://github.com/junit-team/junit4/blob/master/src/main/java/org/junit/runners/model/TestClass.java#L87
- https://github.com/junit-team/junit4/blob/master/src/main/java/org/junit/runners/model/TestClass.java#L63
- https://github.com/junit-team/junit4/blob/master/src/main/java/org/jun

[2017-01-12 17:49] paulduffin commented on #1411
That test simply checks to make sure that the @Before/@After methods are still called even after they've been overridden. As there is only one of each type they cannot check the order in which they are invoked. To do that SubShadowing would need to define its own @Before/@After tests that do not override any from SuperShadowing. I would not expect changing the visibility of SuperShadowing to have

[2017-01-13 18:47] kcooney commented on #1411
You are correct. That test does exercise shadowing (because the `@Before` method isn't called twice) and we have tests that ensure that super class `@Before` methods are called before sub-class `@Before` methods, but we didn't test the intersection.

I have created a potential fix in #1412 but this would be a change in behavior, and I don't know how large impact would be. The change impacts not on

[2017-01-14 17:41] kcooney commented on #1411
BTW, I think it's a bug that we ignore shadowed fields (for `@Rule` and `@ClassRule`) if both the field in the base class and the field in the subclass are annotated with the same annotation.

[2017-01-16 16:34] paulduffin commented on #1411
The fix in #1412 looks great (one small spelling mistake of @Befoer instead of @Before). One slight concern that I have is that your test could be working simply because of a fluke in the order of methods. It would be safer for your test to enforce an ordering that causes the test to fail without your change.

The 'shadowing' field issue also seems like a bug to me as fields aren't shadowed in Jav

[2017-01-16 16:52] kcooney commented on #1411
The current order wasn't indeterminate. The code searches for methods starting from the test class up the super-class chain, and if it sees a method in a super class that was shadowed by a previously-seen method, it ignores it. Very deterministic.

[2017-01-17 03:02] kcooney commented on #1411
While working on fixing the issue where JUnit could consider fields or static methods as shadowed, I realized that there is a second possible fix for the problem for JUnit's handling of bridge methods, and that's to ignore bridge methods when scanning methods (see pull #1413). Unlike the previous proposed fix (pull #1412) this wouldn't change the behavior of test classes that have a `@Before` meth

[2017-01-17 10:12] bangnab commented on #766
As far as I understand, this has been solved in JUnit 5 with the Extention API (see http://junit.org/junit5/docs/current/user-guide/#extensions). So I propose that the issue be closed.

[2017-01-17 12:23] paulduffin commented on #1411
When I said the order was indeterminate I was referring to the order in which @Before methods within a class are called.

Say you have baseBefore() from the base class and three methods (derived1Before(), derived2Before(), derived3Before()) from the sub class all annotated with @Before. Then baseBefore() is called before any of the other methods but those methods can be called in any order.

If th

[2017-01-17 16:38] kcooney commented on #1411
For the case where the method is added explicitly by the developer, it is not the override that causes the change in calling order; it's overriding _and annotating the method with `@Before` and `@After`_. If you just override, you get the behavior you eant, because you are simply changing the behavior of the method in the subclass.

We could argue back and forth as to what the behavior should have

[2017-01-17 18:52] marcphilipp commented on #1411
I'm fine with either #1412 or #1413. It sounds like you're more comfortable with #1413 but I'll let you make the choice. 🙂

[2017-01-18 02:44] kcooney commented on #1411
Incidentally, both changes could lead to what Paul is calling "indeterminate behavior". If a base class has two `@Before` methods and a subclass overrides one of them and annotates the overridden method with `@Before` then the order that the before messages are called is currently defined (and would remain so with #1413) but will become indeterminate with #1412

In short, if a class has multiple `

[2017-01-22 10:31] marcphilipp commented on #766
Spring does now provide Rules:
http://docs.spring.io/spring/docs/current/javadoc-api/org/springframework/test/context/junit4/rules/SpringClassRule.html

Moreover, the JUnit Jupiter API was designed with composability of such pre-processors as one of its main design goals.

So, indeed, I think this issue can be closed! Thanks, @bangnab for bringing it to my attention! 👍

[2017-01-22 10:31] #766 closed

[2017-01-22 10:32] marcphilipp commented on #1411
So, will you merge #1413?

Thanks, will do!

[2017-01-22 20:09] adrianosimoes commented on #1370
So, is this a Eclipse bug and not a JUnit bug?

[2017-01-22 20:17] adrianosimoes commented on #1290
What's the status of this issue? Is it fixed?

[2017-01-22 22:48] kcooney commented on #1290
@adrianosimoes there is a fix in #1291 by @alb-i986 but there were some issues with the tests and the pull languished. Alberto, any chance you can make the requested changes?

[2017-01-22 22:50] kcooney commented on #1370
@adrianosimoes yes, I believe it is an issue with the Eclipse JUnit integration.

[2017-01-22 22:53] adrianosimoes commented on #1370
Then, should this issue be closed?

[2017-01-22 22:55] kcooney commented on #1370
@adrianosimoes it's still an issue, just not one we believe we can fix on our side.

[2017-01-22 23:05] kcooney commented on #1411
Done.

I'll be sending a pull for the issue with fields and static methods hopefully soon.

[2017-01-22 23:05] #1411 closed

[2017-01-22 23:11] kcooney commented on #1297
This should be an easy fix; just revert 9d2817c

[2017-01-22 23:32] #875 closed

[2017-01-23 07:31] alb-i986 commented on #1290
Sure, I'll try to finish it asap.

[2017-01-23 23:41] alb-i986 commented on #1290
@kcooney I hope I haven't missed anything. Please check it out.
Thanks
--alb

[2017-01-25 08:56] adrianosimoes commented on #1090
The pull request that originated from this story ( #1091 ) ended up being close. Should we close this story also?

[2017-01-25 15:03] #1090 closed

[2017-01-25 15:23] kcooney commented on #1090
@adrianosimoes thanks for pointing that out. Closed.

[2017-01-26 08:42] adrianosimoes commented on #1081
This issue seems to be staled. Should we accept @ggupta2005 suggestion?
Other solution would just be to use abs(delta)?

[2017-01-26 15:16] kcooney commented on #1081
What we should do if you pass a negative delta is an interesting question but unrelated to this issue. I don't think we should use abs(delta) since that wouldn't be a behavior one would expect.

I am going to close this issue. If you want the allowed error to be relative you can make the delta relative to your expeted value.

[2017-01-26 15:16] #1081 closed

[2017-01-26 17:25] jason-s commented on #1081
No, that won't work, because it trips a divide-by-zero error if d2=0. There's some real subtleties here and if users have to provide their own functionality they may get it wrong.

[2017-01-26 17:32] jason-s commented on #1081
@kcooney I have no major problem with this issue being closed, but I'm disappointed, mainly because of the following:

- Users that naively try to use `assertEquals(double, double)` will see that [this method is deprecated](http://junit.sourceforge.net/javadoc/org/junit/Assert.html#assertEquals(double, double)) (and rightly so):

        Deprecated. Use assertEquals(double expected, double actual,

[2017-01-26 21:23] kcooney commented on #1081
@jason-s We would happily accept pull requests to improve the documentation.

[2017-01-26 21:39] jason-s commented on #1081
Fair enough.

[2017-01-27 09:06] adrianosimoes commented on #728
I tried this with JUnit 4.11 and I didn't got any error if I put the @Ignore on the B class.
Probably fixed already.

[code]

[2017-01-29 23:29] adrianosimoes commented on #117
Since there is already an issue for the proposed solution ( #1135  ), should this issue be closed?

[2017-01-30 04:52] kcooney commented on #117
I don't think we want to give `Description` a protected constructor. Every time we've discussed issues related to this, we've pushed towards either more static methods in `Description` for creating instances or a builder.

[2017-01-30 04:52] #117 closed

[2017-01-30 05:31] kcooney commented on #1370
FYI: This sounds similar to https://bugs.eclipse.org/bugs/show_bug.cgi?id=297280 which was marked as fixed. I think the fix was targeted to 3.6 M5. I think I verified the problem in Eclipse 4.6.2

[2017-02-03 19:00] liamsharp opened #1416 "Throw ComparisonFailure rather than AssertionError for all equals methods"
I'd like to propose a change that I think would make the `assertEquals` methods easier to work with - apologies if I've missed something.

When a test fails in Eclipse with `assertEquals()` and the parameters are not strings, an `AssertionError` is thrown. This gives a backtrace, but to see what was not equal, I have to copy and paste out the error into another editor to read the top line. Here's

[2017-02-03 19:15] kcooney commented on #1416
We would most likely do this by integrating with https://github.com/ota4j-team/opentest4j but we need some changes there so JUnit4 can use those APIs. See https://github.com/ota4j-team/opentest4j/issues/27

[2017-02-04 02:00] kcooney commented on #1416
Incidentally, the reason why this isn't so simple is you might get an exception when calling `toString()` on the `expected` and/or `actual` values.

[2017-02-04 09:57] marcphilipp commented on #1370
I'm closing this issue as it was a bug in Eclipse that has been fixed in the meantime.

[2017-02-04 09:57] #1370 closed

[2017-02-06 00:35] #669 closed

[2017-02-13 20:06] FeuRenard commented on #1045
PR #1418 was rejected because you don't like the feature. As a consequence this issue should be closed.

[2017-02-13 20:24] #1045 closed

[2017-02-13 20:25] stefanbirkner commented on #1045
You're right. Thanks.

[2017-02-14 00:31] kcooney commented on #1045
Note for other people that may be following along: we are considering other ways to specify the order of rules via the `@Rule` annotation. See #1417

[2017-02-14 02:18] #1290 closed

[2017-02-14 08:20] neeravarora opened #1419 "AssertNotSame not failing even if the two objects are same ."
Hi all,

I have encountered an issue with the usage of assertnotsame method .
**Steps to reproduce the issue is as follows** -
a)Create a class lets say A with a field of the following type , for eg -
**Map<String,Map<String,Set<String>>>  customMap ;**
and override its equals method to provide customised implementation to compare two instances of the class .
b) create two equal objects of the cla

[2017-02-14 08:31] #1419 closed

[2017-02-14 08:55] tankilo opened #1420 "Is junit 4.12 fully backward compatible with junit 3.8.1?"
I google a lot and seems there is no offcial announcement about this question. Thank you~

[2017-02-14 09:13] marcphilipp commented on #1420
The JUnit 4 JAR includes the JUnit 3.8.2 code so you can execute JUnit 3-style and JUnit 4-style tests side by side. Thus, it's backward compatible with 3.8.1.

[2017-02-14 09:13] #1420 closed

[2017-02-22 02:40] xcjm commented on #1416
wow ,I want to learn,but it can't load .can you send me resoure to load the Junit4.Thanks

[2017-02-22 02:59] xcjm commented on #1416
my email  837392688@qq.com.

[2017-02-22 04:54] kcooney commented on #1416
@xcjm http://javarevisited.blogspot.com/2014/08/top-5-books-to-learn-unit-testing-junit-tdd-Java-programmers.html?m=1

[2017-02-23 16:54] suttermichael commented on #139
we have the same issue. In our case we execute the tests with feature toggle variation to ensure that the implementation is running with feature switched on/off.
Is there something happening on this issue?

[2017-02-23 17:52] kcooney commented on #139
A run of a test is associated with a `Description` (which as the name implies, represents a description of a test, not a run of a test). I don't see how JUnit could support multiple results from running the same test without breaking users that extend our API.

If you are wanting to run a test with a feature on or off you can use `Parameterized` and have a parameter for each feature you need to to

[2017-02-27 22:28] adrianosimoes commented on #71
Isn't everything now already in JUnit.org pages? Should the sourceforge page be deleted now?

[2017-02-27 22:31] adrianosimoes commented on #722
Haven't this been fixed in Junit 5 with assertThrows?
Since as far as I know JUnit 4 will always be Java 7 compatible, should this be closed?

[2017-02-27 22:33] adrianosimoes commented on #324
Is this issue still valid for JUnit 4, since there was created a similar issue in another project?

[2017-02-27 23:10] adrianosimoes commented on #670
Is this still a valid issue?

[2017-02-27 23:28] adrianosimoes commented on #799
The pull request originated from this issue was closed. Should this issue also be closed?

[2017-02-28 00:40] kcooney commented on #670
@adrianosimoes I don't think the maintainers are thrilled with the idea of processing package-level annotations. I think we should leave it open in case someone has a use case other than `@Ignore` where it would be useful to process package-level annotations. If `@Ignore` is the only supported feature, then it doesn't seem very compelling IMHO.

[2017-02-28 00:42] kcooney commented on #799
@adrianosimoes the pull was closed because of unresolved comments, not because we wouldn't want thsi feature.

[2017-02-28 00:44] kcooney commented on #71
@adrianosimoes the sourceforge page points to junit.org, so I see no reason to delete it.

I don't think we have anything else to do here, so I'm closing it. Thanks.

[2017-02-28 00:44] #71 closed

[2017-02-28 00:45] kcooney commented on #722
@adrianosimoes JUnit 4.x also has `assertThrows` so yes, this can be closed.

[2017-02-28 00:45] #722 closed

[2017-02-28 00:53] kcooney commented on #324
I'm not convinced there is a great need for some kind of an before method for theory values. The initial code could be written as:

[code]

[2017-02-28 15:02] kcooney commented on #324
If we wanted to have first-class support of initialization of data point values, we could do this:

[code]

JUnit would see if there were data points method for `Browser` and if there were none it would look for methods that return `Callable<Browser>`  and if it found them would call each callable right before calling the theory.

[2017-02-28 20:25] kcooney commented on #670
One use case just came up (`@RunWith`). I could imagine wanting to specify `@Category` at a package level as well. For `@RunWith` it is clear what happens when the package has the annotation and some classes in the package are also annotated. For `@Category` the desired behavior is less clear.

[2017-03-03 18:02] dmlloyd opened #1426 "Trimmed stack traces do not include suppressed throwables"
Sometimes suppressed exceptions contain critical context.  Trimmed stack traces should include suppressed exceptions if any are present.

The workaround is to disable trimmed stack traces.

Ref: getTrimmedStackTrace in org.junit.internal.Throwables

[2017-03-03 19:20] CorinnaL opened #1427 "ExternalResource after() not called if before() throws"
If an Exception is thrown during the execution of the before() method in a class inherited from the ExternalResource rule, the after() method is not called. This differs from the behavior of the @Before / @After annotations which is why I assume this is not intended.

[code]
[code]

From the above code I would expect

but get only

[2017-03-04 00:47] kcooney commented on #1426
Could you provide a sample stacktrace that is problematic? It would be easier to fix this problem if you give the original trace and the trimmed version. Thanks.

[2017-03-04 00:49] kcooney commented on #1427
Thw behavior of this rule has been this way for so long that I suspect changing it would break people.

[2017-03-05 02:08] brianegge commented on #670
Supporting package level annotations would be straight forward to do. However, the number of people actually using them would likely be between zero and one. It appears there is little demand for this feature, so it's probably best to close this request.

[2017-03-05 04:11] kcooney commented on #670
There is discussion about possibly using them in #1423

[2017-03-05 19:03] cesar1000 commented on #670
@brianegge I disagree. A package-level @Ignore annotation as you suggested in your original request can be really useful, as there's no convenient way to disable a set of test un current JUnit. So is a @RunWith annotation for defining a default runner for a set of tests.

As to whether this would see adoption: maybe not if annotations need to be added manually, but IDEs could use this feature and

[2017-03-06 17:29] CorinnaL commented on #1427
I certainly would not want anyone to break. I also just realized that this behavior is documented and thus probably no news to you. Thank you for the response!

[2017-03-06 17:29] #1427 closed

[2017-03-08 14:58] nagkumar commented on #838
Big issue not having assert count as part of JUnit is, most people write testcase but they are not using any asserts, this way managment is unable to monitor the value of test case through Junit report.

[2017-03-08 20:00] adligo commented on #838
Try using Tests4j if you want to count asserts, it does count asserts;

https://github.com/adligo/tests4j.adligo.org

https://www.linkedin.com/pulse/fabricate-tests4j-now-githubcom-scott-morgan

Cheers,
Scott

On Wed, Mar 8, 2017 at 8:58 AM, Raja Nagendra Kumar <
notifications@github.com> wrote:

--
Scott Morgan
President & CEO
Adligo Inc
http://www.adligo.com
1-866-968-1893 Ex 101
scott@adligo.co

[2017-03-09 10:03] AndreaBaroncelli commented on #656
I had the same issue and circumvented it by using net.avh4.test.junit.Nested instead of org.junit.experimental.runners.Enclosed. Just consider that, unlike Nested may suggest, "nested" classes are actually to be declared as "inner", i.e. not static.

[2017-03-10 06:14] AshwinJay commented on #527
I wanted to create some test data that is common to all my tests in a class. I wanted to parameterize my tests too. So, I thought I'd create it in the BeforeClass annotated method but alas! The BeforeClass method needed a TemporaryFolder annotated with ClassRule. So, I cannot create static data for my test class before of the unintuitive order in which the initialization happens.

[code]

This wou

[2017-03-10 07:37] kcooney commented on #527
@AshwinJay unfortunately, if we changed the ordering that these things happened, we would likely break someone. I suggest:

[code]

[2017-03-10 16:22] AshwinJay commented on #527
Thanks but I wanted to createData before all the tests began, so this would not work.

Workaround:
I created a TemporaryFolder without the annotation and called the before() method myself as suggested here: https://github.com/junit-team/junit4/issues/671#issuecomment-17355601

[2017-03-11 18:31] kcooney commented on #527
@AshwinJay could you describe how your parameter data relates to the setup done in your `@ClassRule`?

[2017-03-12 11:24] forvoid opened #1429 "A Exception for junit4.12 about org/hamcrest/SelfDescribing"
hello, guy!
why my use junit4.12.jar thows Exception org/hamcrest/SelfDescribing,no hamcrest ?
java.lang.NoClassDefFoundError: org/hamcrest/SelfDescribing

	at java.lang.ClassLoader.defineClass1(Native Method)
	at java.lang.ClassLoader.defineClass(ClassLoader.java:763)
	at java.security.SecureClassLoader.defineClass(SecureClassLoader.java:142)
	at java.net.URLClassLoader.defineClass(URLClassLoader

[2017-03-12 14:35] marcphilipp commented on #1429
You need to add the hamcrest-core JAR to the classpath as described here: https://github.com/junit-team/junit4/wiki/Download-and-Install

[2017-03-12 14:35] #1429 closed

[2017-03-12 14:48] forvoid commented on #1429
think you ~  I have add this JAR  now .the application is complise. thinks for you answer again

[2017-03-14 05:30] AshwinJay commented on #527
@kcooney I wanted to create some test data in a directory before all the tests started.

1. That meant using a `public static TemporaryFolder` annotated with `@ClassRule`
2. I wanted to then create all the data in a method annotated with `@BeforeClass` and store the file names + some info in a `private static TestData[]`
3. Finally I wanted the `@Parameters` annotated method to simply return the t

[2017-03-14 14:31] kcooney commented on #527
@AshwinJay Parameterized is designed to have the parameters method generate the data. This is required so JUnit knows the number of test methods and so the test names can include the data in the `Description`. There are ways you can bend Parameterized to.meet your use case, but they won't be simple.

Some ideas:

* If the data you are writing is n files each with generated data, have the `@Paramet

[2017-03-15 10:04] dariusgm opened #1430 "NullPointerException"
Given the following class:

[code]

and the corresponding test
[code]

This code results in a nullpointer exception inside of junit, as the surrounding code is static.
The stacktrace:

[code]

without the catch, the test will fail. Seems like a concurrency problem, as when I use an other id in the test that do not exist, the test is stabile.

[2017-03-15 14:54] kcooney commented on #1430
@dariusgm that exception is thrown from your code, not JUnit. I suggest using a debugger.

[2017-03-15 17:35] #1430 closed

[2017-03-15 17:59] kcooney commented on #1430
@dariusgm  One thing to point out: your tests for `IsCustomer` depend on the state of `CompanyRepository`, which can make your tests fragile. For instance, depending on the state of `CompanyRepository` your test could be testing an ID that doesn't correspond to a Company, or your test could be testing an ID that corresponds to a Company that isn't a customer. Future changes to the state of `Compan

[2017-03-17 11:27] SqAutoTestTeam commented on #664
Are there any estimates when it'll be fixed ?
This bug blocks related bug of JUnit5
https://github.com/junit-team/junit5/issues/549

[2017-03-17 15:28] kcooney commented on #664
@SqAutoTestTeam no one is actively working on this. I did update the Description builder branch recently so an ambitious contributor could start from there.

Fixing this would require new APIs on Description. We wouldn't want JUnit 5 to require those new APIs (currently JUnit 5 would work on just about any version of JUnit 4.x)

[2017-03-17 16:39] natancox opened #1431 "@Test annotation is not composable, please add @Target ElementType.ANNOTATION_TYPE"
I really want to add ElementType.ANNOTATION_TYPE in the @Test annotation because I want to combine a number of annotations into one custom annotation.

[code]

Currently, a lot of my tests look like which gets a bit boring because it is 3 lines of code for each test.

[code]

So I want to be able to combine them in a single annotation like this

[code]

So I can finally do this

[code]

[2017-03-18 00:22] kcooney commented on #1431
This is a duplicate of #194

[2017-03-18 00:22] #1431 closed

[2017-03-18 12:00] Tibor17 commented on #664
@diogoeag
Did you read this chapter in Surefire?
http://maven.apache.org/surefire/maven-surefire-plugin/examples/single-test.html#Multiple_Formats_in_One

Filtering parameterized tests works since of version `2.19`. In your case it is `-Dtest=TesClass#testName[*]` instead of `-Dtest=TesClass#testName`.

[2017-03-18 14:50] sabi0 opened #1432 "Asserts for CharSequence contents"
A lot of APIs in Android deal with `CharSequence`. And using `assertEquals()` with `CharSequence` arguments is cumbersome and unstable. One has to reproduce the exact same type which might change later.
And sometimes it just does not work (e.g. `StringBuilder` uses default `Object.equals()` implementation).

Therefore I would suggest to add new methods like
`assertContentEquals(CharSequence expect

[2017-03-18 15:55] kcooney commented on #1432
Important issue, but I would prefer to do it in `assertEquals` or an overload of `assertEquals`. Having to know which assert message to use for which use case is error-prone.

You might want to consider using assertion frameworks with a fluent API (like Truth or Fest).

[2017-03-18 16:13] sabi0 commented on #1432
The problem with `assertEquals` is that sometimes you do need to compare the types too.
So I believe `assertEquals("abc", new StringBuilder("abc"))` must fail. Therefore the need for separate methods to compare just the content.
This is IMO very similar to the current `assertArrayEquals` approach.

I agree that picking the right method would become a bit trickier. But it's anyway better than the c

[2017-03-18 16:15] kcooney commented on #1432
Could you list what specific methods you are proposing?

[2017-03-18 16:17] sabi0 commented on #1432
So far I've been thinking of just these two:
`Assert.assertContentEquals(CharSequence expected, CharSequence actual)`
`Assert.assertContentEquals(String message, CharSequence expected, CharSequence actual)`

[2017-03-18 16:23] kcooney commented on #1432
Could you give better examples? I would never write `assertEquals("abc", new StringBuilder("abc"))` (I would call `build()` on the builder)

Also I do think DSL based frameworks are often a better fit. In Truth I would write:

    assertThat(myCharSequence).hasValue("hello");

[2017-03-18 16:41] sabi0 commented on #1432
Here is an example of how it might look in a test:
`assertContentEquals("abc", bundle.getCharSequence(Notification.EXTRA_TEXT));`

Adding also a `HasValue` `Matcher` is a good idea.

[2017-03-18 16:48] kcooney commented on #1432
Thanks. Since `CharSequence` doesn't provide a contract for `equals()` how do you propose we consider two `CharSequence` values equal?  Is it simply that they have the same `toString()` representation? If so why not make the expected value a `String`?

[2017-03-18 16:57] sabi0 commented on #1432
Good point. Though I am hesitant because having expected and actual values having the same type looks cleaner.

And I would also compare the lengths first. To avoid calling `toString()` unless it's really necessary.

[2017-03-20 20:39] magneticflux- opened #1433 "Theories Runner runs @Theory methods before Mockito's JUnitRule initializes mocks"
Mockito's `JUnitRule` rule runs the `MockitoAnnotations.initMocks(testClass)` method after all `@DataPoint` annotated fields have been acquired. This causes all `@DataPoint` annotated fields to appear to be `null` when the tests are run. This is due to the nature of `PotentialAssignment`, which maintains a reference to the field's _value_, but not the field itself.

Is there any way to allow Mocki

[2017-03-20 22:20] kcooney commented on #1433
@magneticflux Could you clarify your use case? Do you have `@DataPoint` fields that you want to initialize to a mock object? Data point fields must be static, so I don't see how `MockitoAnnotations.initMocks(testClass)` could be used to initialize them.

[2017-03-20 22:49] magneticflux- commented on #1433
@kcooney The `MockitoAnnotations.initMocks(testClass)` gets an instance of the test class through the `apply` method in the `MethodRule` class. It then uses the `Class.getDeclaredFields()` method to access each field, before setting the field using the provided test class instance. If the field is null, as per Oracle Javadocs for `Field.setField`, the instance is ignored.

As for my use case, I ha

[2017-03-20 23:04] magneticflux- commented on #1433
@kcooney [Here](https://github.com/magneticflux-/MinesweeperJ/blob/example-mockito-junit-theories-null-issue/src/test/java/org/skaggsm/minesweeperj/entities/PlayerInfoTest.java#L54) is a test class that causes the issue. The line with the failed assertion is the one highlighted. Repo has a Gradle wrapper, so you should be able to clone and build it for yourself if you want to experiment.

[2017-03-21 01:58] DanielCatz commented on #1186
Hi there,
I'd like to contribute, just as soon as I figure out my environment issues(Plugin execution not covered by lifecycle configuration: com.google.code.maven-replacer-plugin:replacer:1.5.3:replace)

Is this a good place to start?

[2017-03-21 02:15] kcooney commented on #1186
@DanielCatz This is a great place to start. The "up-for-grabs" label is used for non-contentious issues that should be moderately easy to resolve.

The hardest part of this one would be coming up with a good test.

[2017-03-21 04:54] kcooney commented on #1433
This is working as intended. When you have a field or method that is annotated with `@Rule`, the rule is applied "around" each test method. The `@DataPoints` methods and fields, however, are evaluated before any of the test methods are executed (so JUnit can enumerate the test cases). So the rule can't be "in scope" when the data points are evaluated.

We could possibly special case `@DataPoint` f

[2017-03-21 12:06] magneticflux- commented on #1433
Okay, thank you for the explanation. I'll experiment with your `@ClassRule` idea and see if it's viable for initializing fields before the Theories runner can get to them.

That's what I'm doing as a workaround. I initialize the mock in a static method annotated with `@BeforeClass` and immediately do any stubbing. Since that's working, and `@ClassRule` fields run before any `@BeforeClass` methods,

[2017-03-21 12:06] #1433 closed

[2017-03-27 16:41] drjasonharrison commented on #1145
Will this also resolve the warning that com.netflix.nebula.lint produces:

    warning   duplicate-dependency-class         junit:junit:4.12 in configuration ':moduleA:compile' has 21 classes duplicated by org.hamcrest:hamcrest-core:1.3 (use --debug for detailed class list) (no auto-fix available)

https://github.com/nebula-plugins/gradle-lint-plugin/issues/103

[2017-03-27 17:06] kcooney commented on #1145
@drjasonharrison I don't think that should happen with JUnit 4.12 (it doesn't ship with Hamcrest classes). Is it possible you depend on multiple versions of JUnit?

In any case, I suggest trying to create a minimal reproducible test case and ask on stackoverflow.com

[2017-03-29 18:20] manueljordan opened #1434 "Consideration of create a new annotation to be executed before of @Parameters"
## Overview

I have assumed that `@BeforeClass` is executed before of `@Parameters`.
I did realize it is not true.

## Situation

The situation is that `@Parameters` needs mandatorily data initializated from `@BeforeClass`.

Now, because my original assumption was wrong, my unique way to around this is through a `static` block to accomplish my goal.

## Original Proposal

Assuming this behaviour i

[2017-03-30 03:15] kcooney commented on #1434
Unfortunately, JUnit needs to call `@Parameters` methods very early so it can enumerate all the test cases (which is done before any tests are run). The `@BeforeClass` and `@ClassRule` members for each class are called/applied right before the tests in their corresponding class are started.

Could you initialize your data in the `@Parameters` method?

[2017-03-30 14:32] manueljordan commented on #1434
Thanks by the explanation.

It depends of the following: How many times the `@Parameters` method is executed?
I am assuming just one (how a `static` block) and the Test Class constructor is called N times according the number of items added in the `@Parameters` method. Am I correct?

Because I had that doubt, having the intention to save resources and time about testing, I use the `static` block.

[2017-03-30 17:03] kcooney commented on #1434
I am personally not a fan of doing initialization that could fail in static blocks. If code in a static block throws an exception, the class fails to load, and the resulting exceptions can be confusing.

If you want the initialization to happen once even if the `@Parameters` method is called multiple times, make the method synchronized and store the result of your initialization in a static volati

[2017-03-31 12:39] manueljordan commented on #1434
Thanks by your perspective. I understand and I am agree.

But in my `static` block is created a lot of data that has no relation with infrastructure data (DataSource, JMS connections), the data created is expensive in some way.

Thus because that data can't be created in `@BeforeClass` it is created in a `static` block

[2017-03-31 16:22] kcooney commented on #1434
@manueljordan can you enumerate how many parameters your `@Parameters` method will return without doing the expensive initialization?

If so, you could do something like this:

[code]

If you cannot know the number of parameters at the time the `@Parameters` metrhod is called, then you'll have to do the expensive initialization in the `@Parameters`  method. I don't think adding another JUnit annot

[2017-03-31 16:22] #1434 closed

[2017-04-02 11:25] Gaibhne opened #1436 "Update TestWatcher Javadoc to specify that it should be the "outer" rule"
Depending on the **field name** of the ExpectedException rule, the rule works or breaks when used in conjunction with a TestWatcher. More details, as well as a test case demonstrating the faulty behaviour, can be seen at:

http://stackoverflow.com/questions/43088543/junit-test-both-passes-and-fails-conflict-using-both-expectedexception-and-tes

[2017-04-02 16:52] kcooney commented on #1436
The ordering of rules is undefined. If you need to enforce ordering between rules, you can use `RuleChain`. We could perhaps make it easier to discover this. Any suggestions?

[2017-04-05 06:31] kcooney commented on #115
Closing. We won't be adding way to intercept things between the test and the `@After`. The general solution is to move the code from `@After` to another rule and use `RuleChain`

[2017-04-05 06:31] #115 closed

[2017-04-05 07:13] kcooney commented on #537
JUnit 5 is much more modular. We couldn't do this in JUnit 4 without breaking many people, and we ready have a next major release in JUnit 5, so I am closing

[2017-04-05 07:13] #537 closed

[2017-04-05 07:20] kcooney commented on #670
From a discussion in #1423

[2017-04-06 01:47] kcooney commented on #1106
All issues are either tracked by other bugs no or have been resolved

(1) We are adding `assertThrows` and  `assertThrows` in 4.13
(2) Tracked by #1221
(3) See my first comment for this issue
(4) See my first comment for this issue

[2017-04-06 01:47] #1106 closed

[2017-04-07 08:35] Diantha opened #1437 "Hibernate integration test with junit"
Hello, can you please insert an example to how use integration test for hibernate with junit ? I don't have found any integration test in your project, I think it will be very helpfull for the user like me. Thank you

[2017-04-07 16:05] kcooney commented on #1437
There are countless books online resources for using hibernate and writing JUnit tests for hibernate code. I don't think the JUnit team is well suited to add to that.

If you find a particularly useful online resource, please let us know and we can link to it from the wiki.

[2017-04-07 16:05] #1437 closed

[2017-04-08 21:57] joseph-mccarthy commented on #1432
I would like to take this feature request, please. Could it please be assigned to me. Thank you.

[2017-04-09 00:42] kcooney commented on #1432
@joseph-mccarthy GitHub apparently only lets you assign issues to someone on the project's team. But we almost never assign issues anyway. Feel free to submit a pull request after reading the guidelines

[2017-04-12 22:26] ahmedhamdy90 commented on #1212
I need to close the unterminated thread associated with the timeout at the test case. Is there anyway for doing so? Any way???

[2017-04-12 22:57] kcooney commented on #1212
@ahmedhamdy90 JUnit calls Thread.interrupt() on the test thread. If the test thread is blocking on a method that can be interrupted (usually indicated by "throws InterruptedException") then the thread should be killed. But if the test method is calling code that has an infinite loop, then there's no way to kill it.

[2017-04-12 23:02] ahmedhamdy90 commented on #1212
@kcooney I built a tool that test the students'  codes online, and I really in a place that a student may have an infinite loop, my site can't be down because of a single infinite loop in a test case, there must be a way...
I am trying to get the list of running threads after the JUnit finishes, then search in each of them if it is the test case thread or not, then stop it (hack, as stop is a depr

[2017-04-12 23:37] kcooney commented on #1212
@ahmedhamdy90  launch the tests in a separate process. If the entire test run times out, kill the subprocess.

[2017-04-13 15:29] kcooney commented on #1212
@ahmedhamdy90 You might want to consider using a continuous build system to run the tests, since they are designed for a very similar use case. You might want to try asking on stackoverflow.com (you'll likely get many more responses)

[2017-04-14 13:35] Diantha commented on #1437
the problem is that... i haven't found anything usefull or real working...

[2017-04-14 15:08] Tibor17 commented on #1437
@Diantha
Are you looking for testing Hibernate API or rather JPA?
I created a project which has JPA Runner and able to substitute an expensive CDI container.

[2017-04-15 03:01] edelgadoh commented on #1094
There is a javadoc for junit 4.12 here http://junit.org/junit4/javadoc/4.12/org/junit/runners/model/RunnerBuilder.html

[2017-04-17 10:06] joseph-mccarthy opened #1440 "Force Coding Style"
Enforce coding style using maven plugin such as check style? I think this would save reviewers time, and assure that all code is formatted correctly.

[2017-04-17 13:43] kcooney commented on #1440
This is a duplicate of #1350

[2017-04-17 13:43] #1440 closed

[2017-04-21 00:19] #45 closed

[2017-04-21 09:01] Diantha commented on #1437
@Tibor17  both, but I am interesting in you project

[2017-05-01 01:17] jbduncan commented on #1169
@kcooney, what else needs to be done to fulfill this issue, if anything?

[2017-05-01 14:19] kcooney commented on #1169
@jbduncan as Marc said, this was fixed in the junit5 branch but for various reasons we cannot merge that branch to master. If anyone wants this fixed they can send us a fresh pull from a branch off of master.

[2017-05-02 15:55] kcooney commented on #1436
@Gaibhne do you have any suggestions for how you could have discovered `RuleChain` as the solution to your problem (Java doc improvements, updates to the wki, etc)?

[2017-05-03 08:01] JonathonShields opened #1444 "Including tests multiple times in a suite of tests."
Hi all,

I have a requirement to run the same set of tests concurrently(in separate threads), after doing some digging about I came across ActiveTestSuite. I've seen some posts re an equivalent mechanism in JUnit 4, as of yet I've not seen a suggested out of the box supported mechanism for JUnit 4. So I've continued down the path of ActiveTestSuite, I'm happy to be told there is a different mechan

[2017-05-03 11:45] JonathonShields commented on #1444
It appears the gradle test runner is using the JUnit Description as a unique key for the test execution and validates against it, the way its implemented it seems it doesn't support current running of the same test suites.

I know this is probably 'hacky' but is there a way to override the auto generated description, for example append the thread ID to it so that all tests will be seen as unique?

[2017-05-03 13:44] kcooney commented on #1444
The JUnit `RunListener` API uses `Description` as well so many things break if you run the same test class multiple times. We have no plans to fix this in JUnit 4. No idea if JUnit 5 supports that use case.

If you use a custom `Runner` you may be able to provide different `Description` instances for different instances of the same class in a suite of tests, but I would caution against doing so in

[2017-05-03 13:53] JonathonShields commented on #1444
The JUnit 4 test runner in Eclipse has no issues running the test suite and doesn't fall fowl of running the same test multiple times. It does seem specific to the Gradle integration, specifically in JUnitTestEventAdapter.java.

Is there a way to override this class and provide a custom implementation? I'm not sure what else I can do :(

[2017-05-03 14:00] kcooney commented on #1444
Our API doesn't provide a way to know which of the n copies of the test had a test failure, so I would be surprised if Gradle was the only tool that didn't work well for what you are trying to do.

I suggest reaching out to the JUnit 5 team.

[2017-05-03 14:06] JonathonShields commented on #1444
Thanks I appreciate your time. I'm not sure what contacting the JUnit 5 team could offer, the issue isn't in JUnit as I see it, now I could be wrong here.

The ActiveTestSuite class has been around since JUnit 3, the suite passes fine in Eclipse using the default runner. Automating their execution is my issue now, and it seems the Gradle integration and perhaps others as you have highlighted aren'

[2017-05-03 14:44] kcooney commented on #1444
You are running against a fundamental design assumption of JUnit 4. It isn't related to threads. Test methods are assumed to be uniquely identifiable by `Description` values.

I suggested contacting the JUnit 5 team because they designed a new API that build tools and IDEs can use to run tests. When if that API didn't have that same deep assumption, the test engineer used by JUnit 5 running JUnit

[2017-05-03 14:44] #1444 closed

[2017-05-03 19:31] ezrasavard opened #1446 "assertEquals passes when it should fail when strings begin with escaped character"
When using assertEquals(String a, String b), the following assertion will pass, when it should obviously fail:

`assertEquals("\bbar", "\bfoo");`

After tracing the process, it seems likely that this is related to how junit processes the strings in order to produce the expected/actual log statement.

[2017-05-03 20:33] kcooney commented on #1446
I could not reproduce this with either `org.junit.Assert.assertEquals(String, String)` or `junit.framework.Assert.assertEquals(String, String)`:

Here's the test of `org.junit.Assert`:

    @Test
    public void stringsStartingWithSameEscapedCharacterDiffer() {
        try {
            assertEquals("\bbar", "\bfoo");
        } catch (ComparisonFailure exception) {
            assertEquals("expect

[2017-05-03 20:40] JonathonShields commented on #1444
Thanks again. So I think its safe to say the JUnit itself doesn't explicitly support the execution of the same test(s) concurrently at least not by design?

[2017-05-03 23:16] ezrasavard commented on #1446
Thanks for your reply -- I'm using JUnit 4.12, packaged with IntelliJ IDEA 2016.3.6. I'm using org.junit.Assert, so I'm focusing on that one here.

This is the code I am running, and the results are interesting. The first test passes, and so does the second. I'm not sure why this would happen.

[code]
I've run this test using IntelliJ and also with Maven from the commandline. Can you reproduce my

[2017-05-04 15:53] kcooney commented on #1444
Again, concurrency isn't the issue. We hopefully resolved those.

If I understand correctly, you are running the tests in a class multiple times in a single test run. The problems are 1) JUnit will send multiple starting events to the listener with the same `Description` values (so the listener can't tell which one is reporting failures) and 2) my guess is if you went to the top if the `Runner` hi

[2017-05-04 16:18] panchenko commented on #1446
I can reproduce this in IntelliJ, in Eclipse and Maven works as expected.
I would suggest reporting a [bug](https://youtrack.jetbrains.com/issues/IDEA), most likely this failure is lost while sending it to IDE.

[2017-05-05 01:10] ezrasavard commented on #1446
I'm surprised about it working in Maven, but I suppose my Maven config is pointing to the junit package that came with IntelliJ - I'll be back at work on Monday and will check back in then. Thanks for your support.

[2017-05-07 17:50] kcooney commented on #1446
@ezrasavard if you can reproduce in IntelliJ you can launch in a debugger and see if an exception is thrown from. `testFoobars()` and,  if so, if it gets reported to the registered `RunListener` instances.

Alternatively add a call to `fail()` after the assertion in `testFoobars()`.

[2017-05-09 13:23] BlackDark opened #1450 "org.junit.runner.Description NullPointer when created without annotations"
Every constructor of the [Description class](https://github.com/junit-team/junit4/blob/master/src/main/java/org/junit/runner/Description.java#L44) allows to leave the annotation array parameter empty. The corresponding field fAnnotations will therefore be initialized with ```null```. But here's the problem. If you then want to for example call the ```.getAnnotations()``` [see here -> require nonNu

[2017-05-09 13:31] BlackDark commented on #1450
Ah my mistake, found the mistake in the jbehave runner

[2017-05-09 13:31] #1450 closed

[2017-05-09 17:00] nisabhar commented on #1218
I have legacy Test class which extends TestCase. I need to add ClassRule in the test class, however when I run the test case  JUnit38ClassRunner is used instead of BlockJUnit4ClassRunner . Hence my rule is not executed . I am using Maven 4.11 . If I use RunWith then my runBare method is not called at all in the test class

[2017-05-09 22:50] kcooney commented on #1218
@nisabhar classes that extend `TestCase` do not support `@Rule`. The behavior you are seeing is expected.

[2017-05-13 06:10] panchenko commented on #1426
This is about [Throwable.addSuppressed(Throwable)](https://docs.oracle.com/javase/7/docs/api/java/lang/Throwable.html#addSuppressed(java.lang.Throwable)) and [Throwable.getSuppressed()](https://docs.oracle.com/javase/7/docs/api/java/lang/Throwable.html#getSuppressed()) methods introduced in java 1.7.

Currently in `Throwables` when building the trimmed version only `getCause()` is appended, it sho

[2017-05-14 04:02] panchenko commented on #1334
That change fixes this fully and this issue can be resolved, as demonstrated in my PR, which just flattens MultipleFailureException in this case.

[2017-05-14 04:05] panchenko commented on #1224
This is fixed by #1334

[2017-05-14 04:46] panchenko commented on #1169
This can be closed as it is fixed by #1376

[2017-05-14 04:58] panchenko commented on #383
The ordering of rules is addressed in #1445

[2017-05-14 05:00] panchenko commented on #1436
The ordering of rules is address be #1445

[2017-05-14 05:57] Gaibhne commented on #1436
While ordering fixes the issue, what happens is not actually something that SHOULD be something that depends on the order of the rules, so there is no way I would have ever gotten the idea to read any documentation relating to rule orders.

Don't get me wrong, as a programmer, I see why it happens the way it does, but that is only in hind sight. Nothing but a meaningful error or warning message co

[2017-05-14 14:18] panchenko commented on #1436
This issue can be addressed in the following ways:
1. If `TestWatcher` is implemented as a rule it can access the final result only it is the outermost one. This limitation can be added to the class javadoc.
1. Extend ordering of rules, so a rule implementation can specify how it should be ordered.
1. Deprecate `TestWatcher` and implement replacement via `RunListener`. Would be the best approach.

[2017-05-15 12:39] lucasvc commented on #58
Why is this issue closed?
This code is too uneasy:

[code]

[2017-05-15 12:48] panchenko commented on #58
@lucasvc What's the problem exactly?

[2017-05-15 13:01] lucasvc commented on #58
[code]
`IllegalStateException` is thrown because folder is not yet created.
So I could call folderRule.create(), which says _Do not use_.

How can I use the rule at `@Before`?

[2017-05-15 13:03] panchenko commented on #58
I've just checked it works in junit 4.12.

[2017-05-15 13:07] lucasvc commented on #58
d'0h >.<
I'm at 4.11, sorry for not telling before.

[2017-05-15 13:48] kcooney commented on #58
@lucasvc it should work in 4.11. Could you provide a full example including the test class definition? How are you running the test?

[2017-05-15 14:28] lucasvc commented on #58
Ok, found the problem. Seems caused by the [`powerkmock`](https://github.com/powermock/powermock) runner:
[code]

Using other runner (like the `MockitoJUnitRunner` one) works as expected.

[2017-05-15 19:14] kcooney commented on #58
@lucasvc your problem appears to be https://github.com/powermock/powermock/issues/427 which is apparently fixed by https://github.com/powermock/powermock/pull/606

Alternatively usehttps://github.com/powermock/powermock/wiki/PowerMockRule

[2017-05-15 20:37] ezrasavard commented on #1446
Thanks again for the input -- since I can reproduce it with both IntelliJ and Maven (using the JUnit package from IntelliJ), the issue probably is with that package.

Can anyone else reproduce the issue using JUnit from IntelliJ, but running a test with Maven?

[2017-05-16 00:13] panchenko commented on #1446
Seems like with "Maven" you mean something different than the `mvn test` command executed in the terminal window :smile:
From the command line it works, but IntelliJ has issues.

[2017-05-16 02:11] ezrasavard commented on #1446
I'll try it again tomorrow @panchenko, but `mvn test` is what I used.

[2017-05-16 14:53] panchenko commented on #1446
Just in case I've created an [example project](https://github.com/panchenko/junit-examples/tree/master/issue1446)

[2017-05-16 15:43] kcooney commented on #1446
@ezrasavard since you are (so far) the only one to see this, you are probably the best one to track down the issue. You can launch your test under the debugger in IntelliJ and set breakpoints in your test methods and the following methods:

-  `org.junit.runner.notification.RunNotifier.fireTestFailure()`
- `org.junit.runners.ParentRunner.run()` ([here](https://github.com/junit-team/junit4/blob/mas

[2017-05-16 16:13] panchenko commented on #1446
I've tried before - an exceptions happens and it's lost by the Inteelij runner.

[2017-05-16 16:59] lucasvc commented on #58
@kcooney really thanks for the links!

[2017-05-16 18:39] ezrasavard commented on #1446
Thanks all - with the help of @panchenko 's test project, I've reproduced the correct behaviour with `mvn test`. I'll open this with IntelliJ.

[2017-05-16 18:39] #1446 closed

[2017-05-16 19:29] kcooney commented on #1446
@ezrasavard Please add a link to the IntelliJ bug/thread. I am extremely curious about what is going on.

My guess: they have a custom serialization format for sending data from JUnit to the IDE and that format can't handle the message.

[2017-05-16 19:36] ezrasavard commented on #1446
https://youtrack.jetbrains.com/issue/BND-1442
I added some notes from a bit more digging when reporting there. I wasn't able to dig in fully since I couldn't find source code for the caller at the point of failure.

[2017-05-16 21:50] luscicli commented on #761
I tried to your build the 4.13 version but the bug persists. I found a solution for the issue.
I observed that in my test suite classes usually I didn't put the `@RunWith` annotation.
So when the runner reflected my test classes considered it like `@RunWith(Parameterized.class)` by default.
My idea was been to explicit a runner for these classes but existing default JUnit runners didn't work.
I so

[2017-05-17 13:19] marcphilipp commented on #1169
Thanks, @panchenko!

[2017-05-17 13:19] #1169 closed

[2017-05-17 13:22] marcphilipp commented on #1224
Fixed by 85d7d3327a10435291f948121e1a8402b131fbd4.

Thanks, @panchenko!

[2017-05-17 13:22] #1224 closed

[2017-05-18 09:01] valterc opened #1453 "NPE when asserting classes that return null in toString"
[code]

This code results in a NPE from JUnit because the ToString method of the class is returning null.

Tested in JUnit 4.12

[2017-05-18 09:24] marcphilipp commented on #1453
On the one hand, IMHO `toString()` shouldn't ever return `null`. On the other hand, JUnit should not throw an NPE if it does.

@valterc Can you please post the relevant part of the stack trace?

[2017-05-18 12:49] valterc commented on #1453
@marcphilipp I agree with your points, but when working with third parties that is something we cannot change easily.

I see you committed a fix, but here goes the trace anyway:

[code]

[2017-05-19 01:00] #1453 closed

[2017-05-22 20:53] wheredevel opened #1457 "@Test alongside Lombok's @Delegate annotation?!"
Guys, I repost my issue with [Lombok](https://github.com/rzwitserloot/lombok) and [JUnit](https://github.com/junit-team/junit4).
Issue: https://github.com/rzwitserloot/lombok/issues/1356

I believe It's a cool feature actually (saves me alot of time, but need to workaround the `@Test` annotation limitation):

Original
----
Hi, guys!

I'm mixing-in a "template" test into an "origin" test.
Something

[2017-05-23 01:02] panchenko commented on #1457
JUnit runs the methods annotated with `@Test`, if your tool generates those automatically - it should also generate this annotation, then it would work out of the box. There is nothing JUnit should do in this case.

Also, on JUnit4 side additional ways to discover tests can be implemented in an runner.

Another approach would be posting a question on StackOverflow and describing the problem your t

[2017-05-23 06:38] wheredevel commented on #1457
My idea of posting this here, is about to show how `JUnit` tests can be **templated** and **mixed-in** easily using `Lombok` - and, hopefully, to push the community to closing this small gap.

[2017-05-23 06:54] kcooney commented on #1457
We would be unlikely to add support for.Lombok in JUnit 4.x (we currently still depend on JDK 5!)

If you cannot generate methods annotated with `@Test` you could create a runner that extends `BlockJUnit4ClassRunner` to find the methods.

It is possible that JUnit 4 would have better extension points for allowing you identify these methods as test methods.

[2017-05-23 06:54] #1457 closed

[2017-05-23 14:05] RajAsapu opened #1459 "@RunWith runs my tests multiple times"
I am using arquillian for running my docker containers and i am using @RunWith to trigger the arquillian and the cucumber tests. All my tests run 4 times instead of one time. Below is my code

Environment:
Junit 4.12
CukeSpace 1.6.3
Arquillian Cube 1.1.0

Code:
[code]

Note: All my tests including the before statement run 4 times

[2017-05-23 14:15] panchenko commented on #1459
Looking on how often `junit` happens in your code I think you would have more luck asking this question on the _arquillian_ or _cucumber_ resource.

[2017-05-23 17:33] RajAsapu commented on #1459
@panchenko : did that but no response yet

[2017-05-23 20:59] RajAsapu commented on #1459
Got resolved once i upgraded cukespace to 1.6.7

[2017-05-23 20:59] #1459 closed

[2017-05-25 04:44] #1297 closed

[2017-05-26 06:01] #1046 closed

[2017-05-26 06:03] #1426 closed

[2017-05-27 01:07] panchenko commented on #1334
@kcooney This issue can be closed.

[2017-06-07 14:50] NWuensche opened #1461 "Add assertThrowsOnNullArguments"
Hello everybody,
is it possible to create a new assert? It should pass iff every argument of the constructor of a class throws an NPE, otherwise not. I think this could reduce code smell a lot.

[2017-06-07 15:37] kcooney commented on #1461
Does this meet your needs?

https://github.com/google/guava/blob/master/guava-testlib/src/com/google/common/testing/NullPointerTester.java

[2017-06-07 18:02] kcooney opened #1462 "BlockJUnit4ClassRunner.methodBlock() should be called after fireTestStarted()"
In the fix for #1066 (https://github.com/junit-team/junit4/commit/a90b496a6595856066504baf4f737fb853a6e45d) `methodBlock()` is being called before `fireTestStarted()`. If creating the test instance is slow or has visible side-effects, it should be done after we send the notification that the test has started.

[2017-06-07 18:11] kcooney commented on #1462
I think this can be fixed by having `BlockJUnit4ClassRunner.runChild()` create a `Statement` that, when executed, calls `methodBlock()` and evaluates the result. That new statement would be passed to `runLeaf()`

[2017-06-08 16:05] #1462 closed

[2017-06-10 18:03] NWuensche commented on #1461
Jup, thanks.

[2017-06-11 01:18] #1461 closed

[2017-06-14 16:45] atulagrawal commented on #1127
PR for this issue has been merged. Can you please close this issue. Thanks.
Ref - https://github.com/junit-team/junit4/pull/1300

[2017-06-14 16:57] marcphilipp commented on #1127
Thanks, @atulagrawal!

[2017-06-14 16:57] #1127 closed

[2017-06-14 19:06] #1329 closed

[2017-06-14 23:31] alexblanck opened #1466 "ErrorCollector will not fail tests if used in conjunction with an ExpectedException"
I stumbled across a bit of an obscure edge case in one of our tests using Junit 4.12 and I'm wondering if this is a bug or if it's expected behavior.

It appears that any errors collected by the `ErrorCollector` are not reported if test throws an exception and the exception is also expected by the `ExpectedException`

For an example, see the first test method here:

[code]

As you can see in the e

[2017-06-14 23:57] panchenko commented on #1466
I think this is a duplicate of #1436

[2017-06-15 00:16] kcooney commented on #1466
Agreed that this is a duplicate. Short term, use `RuleChain` to order the rules. In JUnit 4.13 you will have two more choices: 1. use the `order` attribute of `Rule` (see #1445) and 2. use `Assert.assertThrows` or  `Assert.expectThrows`  instead of `ExpectedException`

Is there anything we could have done so you could have resolved the issue on your own? If we deprecated  `ExpectedException` in fa

[2017-06-15 16:28] alexblanck commented on #1466
Thanks for pointing me to the duplicate issue. I didn't make the initially connection between the two, but now I see that they are related.

I want to echo what @Gaibhne says in the other issue: I now understand why this is happening but I would have never known beforehand to pay attention to the ordering of `ExpectedException` with respect to other rules. This type of problem is particularly nast

[2017-06-16 00:33] kcooney commented on #1466
I don't see how we can automatically reorder rules without breaking existing tests. How do we know the test isn't expecting `ExpectedException` to catch exceptions thrown by `Verifier`?

I think deprecating `ExpectedException` would be the best path forward.

That being said, the problem isn't unique to `ExpectedException`. Any rule could throw an exception, and it's unclear whether the developer

[2017-06-16 14:59] stefanbirkner commented on #1354
This is a Gradle issue. I had a look at the Enclosed runners code and tested with IntelliJ, Gradle and Maven. Only Gradle has the problem. I think its a problem of Gradle's test discovery. Please use [Gradle's issue 2319](https://github.com/gradle/gradle/issues/2319) for further information about this problem.

[2017-06-23 21:06] Jcamilorada opened #1468 "Junit @before order is not honor when parent class is package private"
According to junit 4.12 documentation

But when the parent class is package private derived @before method is executed before. i.e:

[code]
[code]

output is

setup parent class

[2017-06-25 20:00] jabrena opened #1469 "How to remove the default number associate to File.createTempFile"
Hi,

I am doing Mock tests to emulate a Interface based on a Linux filesystem but I have some problems with the usage of the Class: `TemporaryFolder`.

The real system provide a interface like:

* sys/class/battery/voltage

Using some techniques, I can replace the real path for a Mock path, but the problem that I have is when the mock create a simulated batteryMock object:

* sys/mocks/battery/vol

[2017-06-26 06:23] panchenko commented on #1469
@jabrena I afraid it's not fully clear what are you trying to do. One can assume that your project deals with files, and that's all.

The `File.createTempFile()` method intentionally adds a random number to the file name, to make sure that concurrently executed classes/programs don't conflict with each other. If for your project this randomness is not needed, then you should not use this method.

[2017-06-26 07:42] marcphilipp commented on #1469
Closing this issue as it is not JUnit-specific.

@jabrena You'll have a much better chance to find a solution to your problem if you'd post it on StackOverflow.

[2017-06-26 07:42] #1469 closed

[2017-06-27 04:30] kcooney commented on #1468
What appears to happen is that JUnit gets an `IllegalAccessException` trying to call the method is called. I have a fix.

[2017-06-27 22:43] dylan-chong opened #1471 "AssertArrayEquals - show a more useful error message when failing"
With the code

[code]

I get the error message

[code]

But this doesn't tell me much about why it failed - if the length is wrong, then what are the extra values?

I would rather see an error message that shows both array contents:

[code]

Which is actually what you get when you convert your arrays to lists first.

[code]

Could the output format be changed to show both the contents of both arra

[2017-06-28 16:52] FiruzzZ opened #1472 "NPE using StaticMetamodel in more than one test"
I created a new test class for an Entity and making queries with JPA (Eclipselink 2.6.1) but using String and concatenations of SMM (StaticMetamodel) generated, instead of Criteria API.
The thing is that after ONE test is executed (succeeded/failed) in which I use at least one SMM reference to any Attribute, all other tests throws NPE (NullPointerException)
Examples:

`@Test public void test1() {

[2017-06-28 17:07] kcooney commented on #1472
This sounds like an issue with your tests or the code under test, not an issue with JUnit

I suggest asking on https://stackoverflow.com/

See https://stackoverflow.com/help/mcve for suggestions on asking good questions.

[2017-06-28 17:07] #1472 closed

[2017-06-28 17:14] kcooney commented on #1471
It looks like this was fixed by #1300

@dylan-chong can you confirm that the above pull fixes your issue?

[2017-06-28 17:16] kcooney commented on #1472
See also https://stackoverflow.com/questions/218384/what-is-a-nullpointerexception-and-how-do-i-fix-it

[2017-06-28 21:13] dylan-chong commented on #1471
Ah yes that looks like it fixes this issue. Thanks.

[2017-06-28 21:13] #1471 closed

[2017-06-29 11:41] FiruzzZ commented on #1472
I never heard that someone could debug or test by sounds, you must be some kind special of..
if u want links of records/backgrounds
[https://stackoverflow.com/questions/3854687/jpa-hibernate-static-metamodel-attributes-not-populated-nullpointerexception](https://stackoverflow.com/questions/3854687/jpa-hibernate-static-metamodel-attributes-not-populated-nullpointerexception)
[https://stackoverflow.

[2017-06-29 15:21] kcooney commented on #1472
@FiruzzZ sorry but this isn't a general forum for debugging problems with tests. It's a place to report bugs or feature requests for JUnit itself.  If you isolated your problem and it is a bug in the Junit code, please create an issue here. Otherwise, unfortunately, we likely don't have the expertise or time to help you.

Good luck!

[2017-07-14 18:24] bzitzow opened #1473 "Eclosed Runner - Support multiple levels of nesting."
Does Enclosed runner support this? I can't figure out how to get the third level of nesting to work.

-> Class (test fixture that represents the class/object level)
-> -> Method 1 (context)
-> -> -> Context 1 (context)
-> -> -> Context 2 (context)
-> -> Method 2 (context)

[2017-07-14 20:38] kcooney commented on #1473
The `Enclosed` runner only runs tests in static nested class. Any of those classes could be annotated with `@RunWith(Enclosed.class)`.

You can also try https://github.com/bechte/junit-hierarchicalcontextrunner/wiki

[2017-07-14 20:38] #1473 closed

[2017-07-18 21:49] kevdowney commented on #1219
@m9aertner Is there any parts you can share on your implementation for global rules... we have a large codebase without mixed tests but looking at efficient ways to apply a global rules?

[2017-07-20 20:18] Ehbraheem opened #1474 "Add getter for @Rule in a RuleChain"
I have this

[code]

I want to do something like

`rules.getrule().around(0).launchActivity();`

[2017-07-21 06:09] panchenko commented on #1474
I think `.launchActivity()` can be called directly via `mQuizActivityRule`/`mQuizActivityRule` what would be the benefit of doing that via RuleChain?
Also, RuleChain should not be needed when #1445 is merged.

[2017-07-21 06:44] Ehbraheem commented on #1474
I want to use RuleChain so I don't have to specify `mQuizActivityRule` explicitly, Since I want to manually start it for some test

[2017-07-21 11:07] panchenko commented on #1474
RuleChain is used only for ordering and the plan is switching to ordering via annotations like this:

[code]
so RuleChain is not needed at all.

[2017-07-21 11:40] Ehbraheem commented on #1474
@panchenko Thanks for that. But I still think that feature is worth implementing.

[2017-07-21 13:29] kcooney commented on #1474
I don't see how we could write a signature for your proposed method that would not require a cast.

[2017-07-28 07:49] nagkumar opened #1475 "@DebugTest annotation support"
For Debugging Purpose, one may write many test cases.. which may not have asserts but may be required for breakpoints based debugging.

It would be nice to have annotation @DebugTest in parallel to @Test. This is a clear indication that, such test code is meant for minimum viable tests to trace any exceptions in the main code

[2017-07-28 18:09] kcooney commented on #1475
What behavior would JUnit have for `@DebugTest` vs. `@Test`?

Is there a reason why you couldn't define your own `@DebugTest` annotation?

[2017-08-06 23:48] kcooney commented on #129
(going through issues targeting 4.13 to decide what to do with them)

Unfortunately this would cause problems:

- Any `MethodRule` that was applied before `LifeCycleAwareRule` would have referenced the (previous) test instance
- Any `TestRule` that takes `this` as a parameter would stop working

I don't think we ever intended for a runner to pass a different test instance to `BlockJUnit4ClassRunne

[2017-08-06 23:58] kcooney commented on #1083
This was fixed in a58d459

[2017-08-06 23:58] #1083 closed

[2017-08-07 00:03] kcooney commented on #1179
Most users shouldn't use ExpectedException (unless they cannot use lambdas).

The best way to replace the methods in ErrorCollector is to allow the caller so specify a `Predicate`, but that requires JDK 1.8.

Removing Hamcrest APIs would break backwards compatibility, so I don't see a reason to fix this in 4.13. Removing this from the 4.13 milestone.

[2017-08-07 03:00] #1474 closed

[2017-08-07 03:06] kcooney commented on #1436
I think updating the Javadoc of `TestWatcher` makes since so I've updated the summary of this issue accordingly.

[2017-08-08 12:18] xchangcheng opened #1479 "How to @Inject other classes when there is a @Rule"
I have defined a TestRule like this:

[code]

I have a test class like:

[code]

'A' in MyTest is null which means it's failed to be injected. But I don't want to move 'A' to ATestRule and
access it by 'testRule'.

Any idea how to inject A (with Guice) in MyTest?

[2017-08-08 14:11] kcooney commented on #1479
I generally do this:

        @Before
        public void injectMembers() {
            Guice.createInjector(new TestModule()).injectMembers(this);
        }

create the `Injector` in a `@Before` method and then call `Injector.injectMembers(tgis

[2017-08-08 14:16] kcooney commented on #1479
See https://github.com/google/guice/wiki/BoundFields for more discussion. My team is a fan of `BoundFieldModule` which is mentioned there.

Some people like to use frameworks like GuiceBerry.

[2017-08-08 14:22] xchangcheng commented on #1479
Thanks.
I have solved it in a similar way.

[code]

[2017-08-08 14:31] kcooney commented on #1479
@xchangcheng that works too if your rule needs to create the injector or have access to it. For my tests, the collection of modules tends to be different for every test case.

[2017-08-08 14:31] #1479 closed

[2017-08-18 12:13] sbrannen commented on #664
@kcooney and @marcphilipp,

What do you guys thinking about "backporting" the _fix_ in https://github.com/junit-team/junit5/pull/1018/files#diff-42ed8b618527eb1521dbe3cd9100e949R48 to JUnit 4?

[2017-08-19 02:20] kcooney commented on #664
@sbrannen that looks like a reasonable change. I would just want to make sure that if we backported those changes we wouldn't make JUnit 4.13 incompatible with JUnit 5, or require projects with JUnit 4-style tests to upgrade to 4.13 before they can run their JUnit 4-style tests using the JUnit 5 runner APIs.

[2017-08-19 11:04] sbrannen commented on #664
@kcooney,

👍

In JUnit 4 the change would only be to a single line in `Filter#matchMethodDescription(Description)`, and we can keep the same _fix_ in JUnit Vintage as it is now so that the `VintageTestEngine` would continue to work with JUnit 4.12.

So, unless I'm overlooking something, that should avoid any compatibility issues.

What do you think?

[2017-08-22 04:15] #81 closed

[2017-08-22 04:16] kcooney commented on #664
@sbrannen SGTM

[2017-08-30 15:29] robcanini opened #1480 "@Parameterized and @Category test configuration doesn't work"
I'm developing on a Java Spring web application which includes many integration tests.
As the number of tests is fast increasing, I introduced some Classpath Suite classes those is currently working.
Anyway tests group are also isolated with Category annotation decorating each single test class (FastTest, SlowTest) and test execution is triggered with maven surefire.
Now, the problem i've found is

[2017-08-30 16:03] Tibor17 commented on #1480
You should use `maven-surefire-plugin` with one goal only in unit testing.
If you want to execute integration tests, you should use `maven-failsafe-plugin` with two goals.
You can split execution of `maven-failsafe-plugin` in multiple ones and use `<test/>` configuration parameter and segregate the IT test set. If you do it like this you can use Maven proviles of system properties to combine execu

[2017-08-30 16:05] Tibor17 commented on #1480
If you use Spring, maybe interesting info would be to say that Failsafe plugin uses *.jar file of Maven artifact and not directory with compiled Java classes `target/classes`.

[2017-08-31 13:06] robcanini commented on #1480
It seems that when i filter for FastTests, the @Parameter function on @SlowTests parameterized tests is invoked as well as before failsafe configuration.
Then tests after all @Parameter invocation of all tests are not invoked.

What's happening here? Did I introduce some wrong configuration?

[2017-08-31 13:16] Tibor17 commented on #1480
The rule is that unit test/classes are named like this PortalServiceTest.
On the other hand integration tests are named PortalServiceIT.
Surefire plugin takes *Test, *Tests, Test*, the Failsafe plugin *IT.

On Thu, Aug 31, 2017 at 3:06 PM, robcanini <notifications@github.com> wrote:

--
Cheers
Tibor

[2017-08-31 14:39] robcanini commented on #1480
It seems to work, thank you!

[2017-08-31 14:39] #1480 closed

[2017-09-11 09:07] lrae24 opened #1481 "Using Junit with Ant"
Hi guys ,

So im trying something and just cant seem to get the ant task to run  and print out the result .

We use the standard webapp structure and i have the  Junit and Hamcrest JAR files in my build/lib folder .My test suite is a package with my .java test cases . The issue is i see everyone referring to a class file to compile then a test class file to compile and in my case i don't have both

[2017-09-11 15:06] stefanbirkner commented on #1481
Hi @lrae24,

this is the JUnit issue tracker and not a Q&A page. Please post your question on [Stackoverflow](https://stackoverflow.com/) and tag it with JUnit.

Thanks,
stefan

[2017-09-11 15:35] kcooney commented on #1481
See https://stackoverflow.com/help/how-to-ask about asking good questions on  stackoverflow.com. Also I suggest not using screenshots for the ant.xml snippet

[2017-09-11 16:08] panchenko commented on #1481
There is the [Getting started – Ant](https://github.com/junit-team/junit4/wiki/Getting-started-%E2%80%93-Ant) page already, which contains an example of the build script.

[2017-09-11 19:19] #1481 closed

[2017-09-17 08:39] cttillman commented on #1364
I am interested in writing documentation for this. What is the policy for editing the wiki? Is there a review process? Do I submit drafts somewhere in particular?

[2017-09-17 14:49] marcphilipp commented on #1364
There's no real policy/process. Feel free to edit the wiki and post a comment here so we can review. Thanks!

[2017-09-17 17:17] cttillman commented on #1364
Okay. I edited the section under Categories on the page https://github.com/junit-team/junit4/wiki/Test-runners.

[2017-09-18 19:10] dstaraster commented on #45
I see that "@BeforeParam/@AfterParam for Parameterized runner #1435" got merged and added to the 4.13 release notes. Does that mean there's going to be a 4.13 release? When? I'm in dire need of this functionality! I didn't see it in JUnit 5, so I'm wondering when I can expect @BeforeParam/@AfteParam to be available.

[2017-09-19 13:16] kcooney commented on #45
@dstaraster currently most of the JUnit team is focusing on releasing JUnit 5.0. I hope that soon after that we can start on the 4.13 release.

[2017-09-19 18:13] cttillman commented on #1186
Is there a policy against using mocks in general, or just against using Mockito?

[2017-09-19 18:42] Tibor17 commented on #1186
If you change this, Maven has to be notified and we will run a test.
Go ahead.

On Tue, Sep 19, 2017 at 8:18 PM, cttillman <notifications@github.com> wrote:

--
Cheers
Tibor

[2017-09-19 21:53] kcooney commented on #1186
@cttillman not sure I understand the question. If you are asking about the tests for JUnit 4.x itself, no we do not use mocking frameworks.

[2017-09-19 22:14] cttillman commented on #1186
@kcooney  For instance, I noticed `CorruptListener` only exists in testing, and I guess I was calling that "mocking." Maybe I am using the wrong terminology here.

[2017-09-19 22:20] kcooney commented on #1186
@cttillman Yes, the tests of JUnit 4.x use hand-rolled test doubles (fakes, stubs and mocks).

[2017-09-21 12:16] TedL opened #1482 "Run all tests in an IntelliJ module does not work when having class names with unicode characters"
Trying to run all testcases by right click on the module-> Run 'All Test' results in the followng error message:
"Process finished with exit code 1
Class not found: "se.xx.yy.TjÃ¤nsteplattformenTestHelperTest"Empty test suite."

The class name is: se.xx.yy.TjänsteplattformenTestHelperTest

However running only that class works.

I'm running IntelliJ Community edition version 2017.2.4
And jUnit plu

[2017-09-21 12:45] stefanbirkner commented on #1482
This seems to be an IntelliJ issue. Can you please create an issue in Jetbrains' issue tracker: https://youtrack.jetbrains.com/issues/IDEA

[2017-09-21 12:46] #1482 closed

[2017-09-21 13:00] TedL commented on #1482
Ok, no problem.
Thank you.

[2017-09-21 16:28] stefanbirkner commented on #1482
You're welcome.

[2017-09-23 16:00] kcooney commented on #1482
FYI: the IntelliJ bug is https://youtrack.jetbrains.com/issueMobile/IDEA-179384

[2017-09-27 20:09] helenocampos opened #1483 "Help with feature implementation"
Hi guys, first of all, I'm sorry for creating a topic in the issues section. I did so because I didn't find the right place.

I'm trying to implement a feature using JUnit as part of my master thesis research.
What I'm trying to do is to allow the execution of ordered test methods from different test classes.
Example:
Class A has methods mA1, mA2 and mA3.
Class B has methods mB1, mB2, mB3.
Class C

[2017-09-27 21:12] kcooney commented on #1483
This would be really hard to do in our current code base. Is there a compelling reason to support this  behavior?

There is a pull that provides support for specifying test method order within a single class. See #1130

[2017-09-27 22:02] helenocampos commented on #1483
The reason I would like to implement this is because I'm researching about Test Case Prioritization.
In short, I've found some evidence that prioritizing test cases at the test method granularity may provide a speed-up in the fault revealing speed. This might be interesting in the regression testing scenario, where in some cases, the suite execution takes long time, delaying feedback about faults.

[2017-09-28 01:50] kcooney commented on #1483
@helenocampos you can look at the code at https://github.com/junit-team/junit4/tree/master/src/main/java/org/junit/experimental/max

[2017-09-28 01:50] #1483 closed

[2017-09-30 14:13] marcphilipp commented on #1364
LGTM, thanks!

[2017-09-30 14:13] #1364 closed

[2017-10-01 16:21] btrajkovski commented on #1432
I have question about this issue. Is it still up for grabs?
I see that it is linked in PR #1439, but that PR is in request change for quite a long time. Can I take that as a basis for a new PR and go over the review comments?

[2017-10-01 19:23] kcooney commented on #1432
@joseph-mccarthy are you still working on this?

[2017-10-04 20:04] btrajkovski commented on #1432
@kcooney I am assuming that @joseph-mccarthy is no longer working on this and I've opened a PR with implementation.

[2017-10-05 17:02] ekovacs commented on #40
@vbergmann would the @ClassRule solve the problem you were facing?

[2017-10-05 18:52] kcooney commented on #40
@ekovacs the central request appears to be having rules on a Suite propagate to the children.

We don't have plans to do propagation, and I don't know how that would be implemented.

Also we generally avoid features where you get different behavior in a test depending on how it was run. IDEs and even some build tools let you run individual test cases or methods. When running a test in isolation, h

[2017-10-25 17:08] kcooney commented on #1475
@nagkumar closing for now. If you have time to answer my questions we could consider reopening.

[2017-10-25 17:08] #1475 closed

[2017-10-25 17:38] MGhareeb32 opened #1488 "JUnit 4.12 converts null string parameters to "null"s"
When running the following test with `junitLibVersion = "4.12"`:

[code]

I get the following assertion failure:

[code]

[2017-10-25 19:37] stefanbirkner commented on #1488
I created a project [stefanbirkner/junit4-issue-1488](https://github.com/stefanbirkner/junit4-issue-1488) for verifying the issue.

I cannot reproduce the failure with Java 8. @MGhareeb32 Can you please verify that the example project is failing for you, too.

[2017-10-25 22:34] kcooney commented on #1488
Thanks, @stefanbirkner ; I was going to do the same thing :-)

I noticed Android classes on the call stack. @MGhareeb32 does this happen for projects that don't depend on Android?

[2017-10-26 00:05] MGhareeb32 commented on #1488
Thanks @stefanbirkner  and @kcooney.
Pulling the project and trying to reproduce.