[2017-10-26 01:03] MGhareeb32 commented on #1488
I'm afraid I'm not able to reproduce outside of the Android setup I have. I tried to change @stefanbirkner's repo to use the same dependencies my Android repo has, but no luck.

[2017-10-26 04:22] nagkumar commented on #1475
Sorry, I missed your last update..
@DebugTest, can help is serration of test suites, specially when tests fail. It is mostly marker annotation. Also when such tests are run, it can automatically allow IDE debug integration and wait for debugging.

[2017-10-26 06:39] stefanbirkner commented on #1488
@MGhareeb32 Can you change my repo so that it has an Android setup?

[2017-10-26 06:44] stefanbirkner commented on #1475
@nagkumar can you amplify "@debugtest, can help is serration of test suites, specially when tests fail." I don't understand. Maybe an example is helpful.

[2017-10-26 07:16] nagkumar commented on #1475
Stefan, when unit testing is a natural norm in mature product organisations, I have observed tonns of unit tests gets written. This way each feature may have many variations to same feature etc..

As the number of tests grow, many times, due to some change in xyz logic, if that xyz has 10 variations of tests all the 10 fail. In such context marking one of the 10 tests as @DebugTest would help to f

[2017-10-26 15:35] MGhareeb32 commented on #1488
Will get back to you later today :)

[2017-10-27 14:05] kcooney commented on #1475
I would prefer not to add marker annotations to JUnit. All JUnit annotations have behavior associated with them; adding a new annotation without behavior would be confusing.

Luckily, It's very easy for projects to create their own annotations.

I am not sure this is possible. In any case, if you can run your tests in an IDE them you can set breakpoints in any test method before you launch the tes

[2017-10-27 14:06] kcooney commented on #1488
If you are able to launch your tests in a debugger, I suggest doing that.

[2017-10-27 14:19] nagkumar commented on #1475
Sure, thank you for noting/understanding  my observations.  I am also ok with the design decisions taken.

[2017-11-03 07:55] lvc opened #1489 "History of API changes for JUnit"
Hello,

I'd like to share report on API changes and backward compatibility for the JUnit library: https://abi-laboratory.pro/java/tracker/timeline/junit/

Report for JUnit5: https://abi-laboratory.pro/java/tracker/timeline/junit-jupiter-api/

BC — binary compatibility
SC — source compatibility

The report is generated according to the article https://wiki.eclipse.org/Evolving_Java-based_APIs_2 by

[2017-11-03 09:16] marcphilipp commented on #1489
Thanks for sharing, @lvc!

For JUnit 5 I was wondering if there is a way to customize what the tool considers public API. We have a custom `@API` annotation to mark public classes as internal, deprecated, maintained, stable etc. Is there a way to exclude internal code from the analysis?

[2017-11-04 04:23] kcooney commented on #1489
That's fantastic @@lvc

Any way to include the code in our master branch in the report? I would love to see what incompatible changes we would have between 4.12 and 4.13 if we released today.

[2017-11-05 05:17] lvc commented on #1489
@kcooney,

Done: https://abi-laboratory.pro/java/tracker/timeline/junit/

The snapshot is taken from: https://oss.sonatype.org/content/repositories/snapshots/junit/junit/

The report is updated daily. Please be careful when reading the report due to possible false positives.

Thank you.

![junit-3](https://user-images.githubusercontent.com/1517837/32412192-19659562-c201-11e7-82de-f74a56af3b30.png)

[2017-11-05 05:33] lvc commented on #1489
@marcphilipp,

Need some time to teach https://github.com/lvc/japi-compliance-checker to distinguish annotation parameters before filtering by a parameter value...

Thank you.

[2017-11-05 06:28] panchenko commented on #1489
It seems like the only breaking change is #1245

[2017-11-05 15:42] kcooney commented on #1489
#1421 is also technically a breaking change (source incompatibility) but no one should call `External Resource.after()`

[2017-11-06 12:11] nickl- opened #1490 "Fixed: JUnit38ClassRunner does not recognise AssumptionViolationException (Assume)"
If you also ran into the problem where using JUnit3 style `TestSuite` running with `AllTests.class` or i.o.w. using compatibility mode JUnit38ClassRunner it is impossible to skip tests. As #1100 points out `Assume` is JUnit4 style and we should rewrite our tests if we don't want `AssumptionViolationException` to register as an error.  `@Ignore` doesn't seem to work either, didn't even attempt to a

[2017-11-06 15:03] kcooney commented on #1490
Thanks for raising this issue.

I don't know how the other maintainers feel but I am included not to accept a pull like this. We released JUnit 4 over ten years ago and haven't to my knowledge made any improvements to the JUnit 3 code in that time. We also just released JUnit 5. So TestCase is two generations old. Developers should not be using it for new tests.

If you want to dynamically create

[2017-11-08 09:25] nickl- commented on #1490
No sweats, only added the issue to reflect on google searches with a solution, you may close this.

On JUnit 5: looks promising but haven't been able to get the runner to work, alas.

[2017-11-08 09:56] #1490 closed

[2017-11-25 01:26] shark-horse commented on #644
The only simple solution I have found is to use a static constructor in some kind of shared class. Just use the class somehow when you want it to initialize something, and its static constructor will run once and never again.

You can still use a test listener for e.g. routines to run on failure and at the end of the test run even if you like to run arbitrary sets of tests in eclipse or with Maven

[2017-11-26 22:11] viktor22833 commented on #1488
Яне знаю ответ

[2017-12-04 21:53] carl-mastrangelo opened #1492 "Feature request: be able to query time remaining on a test"
When using the `Timeout` rule, it would sometimes be convenient to be able to get how much time is remaining in the test.  That would allow code that calls `Future.get(long, Timeout)`, `CountDownLatch.await(long, Timeunit)`, `Thread.sleep(long)`,  `Object.wait(long)`, and any other code that waits to cooperate with the testing framework.

The use case for this is when bumping the timeout for a tes

[2018-01-08 08:10] zgq1987 opened #1494 "Three test class with the same resources"
I want to load the resources only once. How can I do? Many Thanks!

[2018-01-08 08:41] marcphilipp commented on #1494
Please provide more information. What kind of resources? How do you load them?

[2018-01-08 09:45] zgq1987 commented on #1494
@RunWith(PowerMockRunner.class)
public abstract class BaseTest {

	protected static Obj obj;
	public static Obj getObj(){
		if(null!=obj){
			return obj;
		}
		//String to Object,I want to do it only once,because it use too many time.
		String objStr="...some str...";
		JSONObject jo = JSONObject.fromObject(json);
		obj=(Obj)JSONObject.toBean(jo, ObjClass);
		return obj;
	}
}

public class TestA e

[2018-01-08 10:23] marcphilipp commented on #1494
You're already caching it so it should only be loaded once, right?

[2018-01-08 11:31] zgq1987 commented on #1494
I hope that, but it load three times. Maybe every testClass will load itself?

[2018-01-08 12:25] marcphilipp commented on #1494
Might be a side-effect of the `PowerMockRunner`. Can you please ask them?

[2018-01-08 12:28] zgq1987 commented on #1494
OK, many thanks!

[2018-01-08 12:28] #1494 closed

[2018-01-09 03:00] stefanbirkner commented on #1492
`Timeout` has a method `getTimeout`. Does this method already fix your problem?

    @Rule public final Timeout timeout = Timeout.seconds(5);

    @Test public void foo() {
      future.get(
        timeout.getTimeout(Timeunit.SECONDS),
        Timeunit.SECONDS
      );
      // ...
    }

Of course the timeout is more than `getRemaining` but you can change the timeout and everything else changes

[2018-01-09 20:05] carl-mastrangelo commented on #1492
`getTimeout` is a partial solution.  I can't think of any problems with using it, but my gut feeling is that the remaining time would be preferred.

As a side note, how would that work when used in conjunction with `DisableOnDebug` ?

[2018-02-06 02:22] VictorZhx opened #1495 "can not find lessThan() method"
build.gradle add dependency    testCompile 'junit:junit:4.12'

Test  class can find   assertThat() method,but  cant find greaterThan() 、greaterThanOrEqualTo()、 lessThan() and so on，  why？？

[2018-02-06 02:43] panchenko commented on #1495
These methods are provided by `org.hamcrest:hamcrest-library:1.3` (or `org.hamcrest:hamcrest-all:1.3`).

[2018-02-06 07:54] vlio20 commented on #872
@apreg , how did you solve this issue?

[2018-02-06 09:47] apreg commented on #872
sorry, I cannot remember

[2018-02-06 14:18] #1495 closed

[2018-02-06 15:11] raubel commented on #45
@kcooney I'm also very interested in these @BeforeParam and @AfterParam annotations (and unfortunately not yet ready to migrate my thousands of tests to JUnit5).
Is the 4.13 release still expected?

[2018-02-06 17:45] kcooney opened #1496 "Release JUnit 4.13"
This issue tracks the work needed to release JUnit 4.13

[2018-02-06 17:46] kcooney commented on #1496
@junit-team/junit-committers any thoughts on a 4.13 release? I have unfortunately been very busy with my day job so I can't drive a 4.13 release, but I can certainly help.

I've associated some open issues with Milestone 4.13 as a starting point, but it appears that milestones cannot have comment threads, so I figured we can discuss scheduling and which features should be included here

[2018-02-06 17:47] kcooney commented on #45
@raubel I opened #1496 to discuss a 4.13 release.

JUnit5 can run JUnit4-style tests, so you wouldn't need to migrate all of your tests to use JUnit5 features.

[2018-02-07 07:35] stefanbirkner commented on #1436
I started work on this issue.

[2018-02-07 19:49] marcphilipp commented on #1496
One thing I would like to do is aligning `Assert.assertThrows`/`expectThrows` with Jupiter's `Assertions.assertThrows`. I know there was some controversy around that a while back but now that Jupiter's been released I think we should consider migration scenarios and remove `Assert.assertThrows` and rename `expectThrows` to `assertThrows`. Any objections?

[2018-02-08 04:36] panchenko commented on #1496
The last attempt to remove one of those was #1396

[2018-02-08 13:16] gitIvanB opened #1499 "Intruduce BiMatcher hierarchy"
A good feature would be introducing `BiMatcher` hierarchy (analog of `org.hamcrest.Matcher`, but consuming 2 args). Alternatively standard `Comparator` can be used for this purpose. Also `BiPredicate` can be used (this will tie JUnit to Java-8, but will add out-of-the-box AND/OR/NOT logic).
A couple of notes for all further code:
- `BiMatcher`, `BiPredicate` and `Comparator` names will be used int

[2018-02-08 14:35] ilya-g opened #1500 "Cannot download javadoc package list from JUnit web site"
I'm trying to get javadoc package list from this url http://junit.org/junit4/javadoc/latest/package-list using `HttpURLConnection`. This results in the following request being issued:

[code]

Then this request gets rejected with 403 error and the following body

Obviously, I could change the User-Agent header to something else, but the question is why do you prohibit that default Java user-agent

[2018-02-08 14:45] stefanbirkner commented on #872
You should always avoid to use hamcrest-all together with JUnit because hamcrest-all contains classes of hamcrest-core. Please use [hamcrest-library](http://search.maven.org/#search%7Cga%7C1%7Ca%3A%22hamcrest-library%22) if you need more than the core matchers.

[2018-02-08 14:50] stefanbirkner commented on #1500
We are using [GitHub pages](https://pages.github.com/) for the JUnit website. Unfortunately we are not in control of this problem.

[2018-02-08 15:07] ilya-g commented on #1500
Yes, I'd tried HTTPS, it didn't help either.

[2018-02-08 15:36] panchenko commented on #1500
That's protection from [cloudflare](https://www.cloudflare.com/), might be they classify java as a [bot](https://www.cloudflare.com/security/malicious-bot-abuse/).

[2018-02-08 15:59] kcooney commented on #1499
Thanks for raising this issue.

I would prefer that JUnit 4.x not add more assertion DSLs. It's really hard to get a DSL correct and flexible, and I am not sure it makes sense to spend time and effort on that in JUnit when there are good third-party assertion frameworks like Truth or Fest.

[2018-02-08 16:23] kcooney commented on #1499
Also, features requiring Java 8 should go to http://github.com/junit-team/junit5

[2018-02-08 21:02] marcphilipp commented on #1500
I've disabled Cloudflare's Browser Integrity Check.

@ilya-g Can you please try again?

[2018-02-08 21:06] marcphilipp commented on #1499
@gitIvanB Thanks for opening the issue. Like @kcooney, I also think this would best be addressed by an assertion library, e.g. AssertJ.

[2018-02-08 21:06] #1499 closed

[2018-02-08 21:49] sbrannen commented on #1500
It works for me; however, my browsers (tried on Firefox and Safari) download the `package-list` as a TEXT file instead of displaying it within the browser (as a text file).

Contrast this behavior with the behavior for Spring's latest `package-list`: https://docs.spring.io/spring/docs/5.0.3.RELEASE/javadoc-api/package-list

That one displays within my browser, so I'm wondering if Cloudfare is some

[2018-02-08 22:40] ilya-g commented on #1500
@marcphilipp Now it's fine, thank you!

[2018-02-08 23:05] #1500 closed

[2018-02-09 01:41] kcooney commented on #1496
I can see both sides of the debate about merging `assertThrows` and `expectThrows`, so I wouldn't object to a pull removing `expectThrows` and updating `assertThrows` to return the caught exception. I suggest reaching out the people involved in the original pull adding these methods to 4.x, to inform them of the resolution of this issue. I realize some people would have been upset regardless of wh

[2018-02-09 09:17] stefanbirkner commented on #1436
I'm currently tidying up the tests for TestWatcher. This is just a preparatory refactoring that allows me to add a test for the upcoming arguments about ordering in  the Javadoc.

[2018-02-09 10:31] gitIvanB commented on #1499
@kcooney , @marcphilipp , thanks for hinting. Looks like usage of assertion libs is a best practice here.
One additional question. Can I use as a rule of thumb that usage of `Assert` is deprecated (or not advised)? Especially keeping in mind future possible upgrade from JUnit-4 to JUnit-5.

[2018-02-09 10:38] panchenko commented on #1499
@gitIvanB The question is a bit not clear.  If developing against junit4 one uses `org.junit.Assert`,  if developing against junit5 then `org.junit.jupiter.api.Assertions`

The recommended approach is statically importing methods from it, to avoid having `Assert.` on every line.

[2018-02-09 12:13] marcphilipp commented on #1499
@gitIvanB You should definitely not use `junit.framework.Assert`, but `org.junit.Assert` is fine. When you do upgrade, you can use an IDE to convert JUnit 4 to JUnit Jupiter assertions (IDEA supports it already). The biggest difference is that the optional message parameter comes first in JUnit 4 but last in Jupiter. Alternatively, you can decide to use a different assertion library now and keep u

[2018-02-09 12:35] gitIvanB commented on #1499
@panchenko , @marcphilipp So as I understood JUnit-4's `org.junit.Assert` is sealed and will not be enriched with new methods. In JUnit-5 I need to use either `org.junit.jupiter.api.Assertions` (as a replacement of `org.junit.Assert`) or some assertion lib.
I need some time to learn JUnit-5, but from first glance into `org.junit.jupiter.api.Assertions` looks like its approach in general is similar

[2018-02-09 15:10] kcooney commented on #1499
@gitIvanB JUnit's philosophy is to provide a good, extensible framework for writing tests for Java in Java. Being an extensible framework, we often see other open source projects extend the framework and/or provide rich testing libraries that can be used with JUnit.

For assertions, there are several projects that provide a richer set of assertions, sometimes in a way that is extensible.
For examp

[2018-02-09 19:18] marcphilipp commented on #1499
When we started work on JUnit 5 (codenamed "JUnit Lambda" at the time), we discussed the scope of what we wanted to achieve. Writing a new kind of Assertion library was explicitly decided not to be in scope.

Or, as the [JUnit 5 User Guide](https://junit.org/junit5/docs/current/user-guide/#writing-tests-assertions-third-party) puts it:

So, it's not frozen either, but the goal is similar as in JUn

[2018-02-13 18:09] stefanbirkner commented on #1221
Fixed by #1445.

[2018-02-13 18:09] #1221 closed

[2018-02-16 11:31] stefanbirkner commented on #1233
The plugins are now working fine with JDK 9. The only problem currently is that `StackTracesTest` is failing. I have a look at it. For more details see the [builds for my jdk9 branch](https://travis-ci.org/stefanbirkner/junit/branches).

[2018-02-23 07:11] sethiraj commented on #1203
Hi @marcphilipp,

This issue does not seem to be resolved in the latest 4.13-SNAPSHOT, as I am getting this error again.
Could you please let me know, when this could be resolved?

Regards,
Surendran Ethiraj

[2018-02-23 07:23] marcphilipp commented on #1203
@sethiraj Which snapshot JAR are you using?

[2018-02-24 15:55] kcooney commented on #1354
This is a Gradle issue.

[2018-02-24 15:55] #1354 closed

[2018-02-24 16:00] #1341 closed

[2018-02-24 16:02] #1328 closed

[2018-02-25 00:18] medb opened #1509 "[JUnit 4.13 regression] @BeforeClass shadowing in superclass doesn't work"
In JUnit 4.13 version the `@BeforeClass` method of superclass is run even if it is shadowed by current class, which is not as expected according to current JUnit 4.12 behaviour and `@BeforeClass` javadoc:
[code]

Repro code:
[code]

Expected output (JUnit 4.12):
[code]

Actual output (JUnit 14.13-SNAPSHOT):
[code]

[2018-02-25 02:43] panchenko commented on #1509
This was changed in #1414
I can understand a need to override such a static method (not possible in java terms, that's why the javadoc says "shadowed").

[2018-02-25 03:16] kcooney commented on #1509
Thanks for raising this issue!

Related discussion in #1411

The 4.13 behavior seems more rational to me (you can't override static methods in Java), but if existing tests depend on the 4.12 behavior then we might need to reevaluate the changes.

[2018-02-25 04:13] medb commented on #1509
I agree that JUnit 4.12 behavior is illogical, but because `@BeforeClass` methods should be static there are no other way (as far as I know) to override behavior of superclass' `@BeforeClass` methods in subclass, and this functionality is needed on practice - my project has tests that are breaking after switching to JUnit 4.13 because of this change in behavior.

[2018-02-25 18:17] kcooney commented on #1509
@medb good point. Assuming we went with the 4.12 behavior for annotated static methods, what do you propose we do about fields? On the one hand, it would be odd to treat `ClassRule` on a shadowed field differently than on a shadowed method. On the other hand, fields are not polymorphic.

[2018-02-25 23:54] medb commented on #1509
@kcooney looks like `@ClassRule` suffers from the same issue - there is no way to override its behavior in a subclass.

If we agree that we want to provide functionality of overriding `@BeforeClass` and `@ClassRule` behavior in a subclass in JUnit 4.13 then, from my point of view, we have 2 choices:
1. resort to shadowing logic as in JUnit 4.12.
2. execute `@BeforeClass` and `@ClassRule` code only

[2018-02-26 00:15] kcooney commented on #1509
Option 2 violates the principal of least surprise. A subclass should inherit the behavior of the superclass. I have countless tests that expect rules on the base class to affect subclasses.

[2018-02-26 02:27] medb commented on #1509
Agree, option 2, would be quite surprising behavior and not backward compatible.
But this is the only thing I can think as an alternative to JUnit 4.12 behavior that preserves all functionality.

We need to go back to JUnit 4.12 behavior then?

[2018-02-26 03:17] kcooney commented on #1509
I'm included to return to the JUnit 4.12 behavior for static methods/fields (i.e shadowed methods/fields "override" methods/fields from the base class with the same name) because 4.13 changes behavior that existing tests depend on, and that behavior was documented. I'd like to hear from the other maintainers, though. @junit-team/junit-committers ?

If a derived class has a field/method with the sa

[2018-02-26 18:52] marcphilipp commented on #1509
As you said, I think the new behavior is by far more rational. The number of tests that will be broken by this change should not be very high. Thus, I'd say let's keep it and change the Javadoc (which was changed in #394 / #504).

[2018-02-27 03:14] kcooney commented on #1509
The Javadoc clarification was released in 4.11, so rational or not the current behavior for static fields/methods breaks behavior that was documented in two releases.

Then again, the Javadoc updates for `@Before` and `@After` in #504 contradict our decisions in #1411

[2018-02-27 03:52] kcooney commented on #1509
To make things concrete, here's one possible fix:

https://github.com/junit-team/junit4/commit/5ef2b8de3d751b7e06cf81dcbf64a155fe490e0a

[2018-02-28 07:16] zjffdu commented on #1496
any progress on 4.13 release ?

[2018-02-28 15:47] kcooney commented on #1496
@zjffdu yes. See https://github.com/junit-team/junit4/pulse/monthly for recent work and https://github.com/junit-team/junit4/milestone/3 for the proposed remaining work.

[2018-03-01 11:42] martinanderssondotcom commented on #618
Why? Because people are inherently not rational, and afraid of others. Apparently, the JUnit authors are no exception.

We all "know" that the cost for 5 million programmers worldwide to constantly decipher a list of possible conflicting imports and the googling this entails is so much greater than the cost of breaking "backward compatibility", only provided for the few of us who initially refuse

[2018-03-01 15:16] kcooney commented on #618
@martinanderssondotcom the methods in `junit.framework.Assert` are deprecated, so for new JUnit4-style tests people will hopefully see the problem without looking at imports.

In any case, we avoid making major breaking changes in a minor release, and there will be no more major releases of this project, so I don't see a path forward. Forcing everyone who wants the fixes in 4.13 to migrate all the

[2018-03-01 15:40] kcooney commented on #618
BTW, I do appreciate the different point of view, but I don't think it's helpful to refer to people you haven't met as not rational. I realize that you are probably very passionate about you projects (and we are, too) and that passion can affect our language,  but I hope we can be more mindful of our word choices and tone.

Thanks.

[2018-03-02 01:32] martinanderssondotcom commented on #618
lol you are absolutely right. My impatience and frustration with completely different products got the best of me. I am genuinely sorry.

To be honest, I think JUnit actually set an example with the addition of another package. And.. JUnit added JavaDocs on the old package as belonging to JUnit 3.x.

I happened to stumble across this thread and felt so much with the original poster. But this is ou

[2018-03-07 06:38] marcphilipp commented on #1509
@stefanbirkner @dsaff What do you think?

[2018-03-08 08:46] stefanbirkner commented on #1233
JUnit can now be build with JDK 9. See 9b061ea8c96fa6cba0ac9d7cfd5e8ffbd030b34a.

[2018-03-08 08:46] #1233 closed

[2018-03-08 09:10] #1436 closed

[2018-03-08 09:18] stefanbirkner commented on #1318
Fixed by a73dc0d5ab3bf12db50c5a4c62a933f2d08d4936.

[2018-03-08 09:18] #1318 closed

[2018-03-13 07:22] stefanbirkner commented on #1509
I had a look at the issue but didn't think it through completely. Currently I think that we should restore the behavior of JUnit 4.12.

[2018-03-13 16:48] marcphilipp commented on #1509
In that case, let's restore the 4.12 behavior.

@kcooney Can you please take care of that?

[2018-03-14 07:42] rlvillacarlos opened #1510 "Exclude the time in set-up/tear-down for Timeout @Rule"
The time for set-up/tear-down is not included when computing the time-out when using the Test annotation.

However the time needed for set-up or tear-down is included when using the Timeout Rule.

Is there a way to exclude the time for set-up/tear-down in the Timeout Rule?

If none, can this be feature on the next release?

[2018-03-14 09:26] kcooney commented on #1510
There isn't a way to do this. Given the way Rules are implemented, I don't see how we could do what you are proposing. Rules execute around the test fixture (the test fixture includes the`@Before` methods, the`@After` method and the test method).

[2018-03-15 02:27] rlvillacarlos commented on #1510
Is it not possible that the timeout begins after the @Before methods then maybe stop before the @After methods?

[2018-03-15 05:02] kcooney commented on #1510
I don't think it is possible to.do what you are asking without breaking other rules. See:

- https://github.com/junit-team/junit4/blob/master/src/main/java/org/junit/rules/Timeout.java
- https://github.com/junit-team/junit4/blob/master/src/main/java/org/junit/runners/BlockJUnit4ClassRunner.java#L303

[2018-03-15 05:11] rlvillacarlos commented on #1510
I will check the links. So does it mean that the only option is to add individual timeout args in a @Test annotation?

[2018-03-15 06:27] stefanbirkner commented on #1510
Another option would be to replace before and after blocks with a rule and use rule ordering for letting the Timeout rule be the innermost rule.

[2018-03-15 07:20] rlvillacarlos commented on #1510
Will try this. Thanks!

[2018-03-15 07:57] #1510 closed

[2018-03-17 02:52] afwang opened #1511 "TemporaryFolder should not follow symlinks when deleting"
As the title states, the TemporaryFolder test rule should not follow symlinks within its temporary directory structure. Symlinks can point to anywhere else on the filesystem. If a TemporaryFolder follows those symlinks, the TemporaryFolder may end up deleting files outside of the temporary directory structure that the user does not suspect the test rule to delete.

The default behavior for Tempora

[2018-03-17 10:08] kcooney commented on #1511
Thanks for the big report. This was fixed in #1303

[2018-03-17 10:08] #1511 closed

[2018-03-23 07:53] Alviere commented on #1219
Hey everyone. Our team also had struggles with lacking of such feature. So I made a PR, which you can grab for yourself (if it will not be merged).
Cheers!

[2018-03-27 20:12] aleenadavy90 opened #1513 "maven-surefire-plugin version 2.20.1 giving NullPointerException"
My Appium-Java-Maven tests is giving the following error while running on Circle CI, runs fine locally
`[ERROR] Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:2.20.1:test (default-test) on project MumboiOSTests: Execution default-test of goal org.apache.maven.plugins:maven-surefire-plugin:2.20.1:test failed.: NullPointerException`

versions used:
[code]

Please find the log

[2018-03-27 20:33] kcooney commented on #1513
@aleenadavy90 The JUnit team doesn't maintain the JUnit Surefire integration. Does the full stacktrace show where the exception is happening? If it isn't in JUnit, then you want to file a bug with Surefire.

[2018-03-27 20:41] stefanbirkner commented on #1513
Can you please create an issue for the Surefire Plugin at https://issues.apache.org/jira/projects/SUREFIRE/issues

We are the developers of the JUnit 4 framework itself. We don't maintain the plugins of the different build tools (e.g. Ant, Gradle, Maven).

[2018-03-27 20:53] aleenadavy90 commented on #1513
I see, thanks @stefanbirkner @kcooney. I'll do that.

[2018-03-27 21:39] aleenadavy90 commented on #1513
looks like surefire plugin 2.20.1 is not compatible with java 10 yet, works fine with jdk 9.
Closing.

[2018-03-27 21:39] #1513 closed

[2018-03-28 04:38] kcooney commented on #1509
Sent out #1514

This change only affects static methods. The behavior of non-static methods is subtlety different in 4.13 due to the fixes for bridge methods.

[2018-03-28 08:35] Tibor17 commented on #1513
Try to use Surefire 2.21.0.

On Tue, Mar 27, 2018 at 11:39 PM, Aleena Davy <notifications@github.com>
wrote:

--
Cheers
Tibor

[2018-04-03 13:12] mlgiter commented on #1030
I do vote up this issue. Other frameworks support showing actual value capability and it's essential.

[2018-04-04 02:57] #1509 closed

[2018-04-09 11:17] Moriarty16 opened #1516 "assumeTrue in @SetUpBeforeClass fail to run and skip tests"
[code]

Output:
[code]
And it supposed to help skip all tests with `@Test` annotation, but instead:

If execute with command `Run`:
[code]

If execute with command `Debug`:
[code]

Seems NPE is thrown:
[code]

I really am confused.
Please do help, thanks!

[2018-04-12 14:03] m9aertner commented on #1219
@Alviere Your PR with explicit command line options looks great. Thanks for sharing this.

[2018-04-17 04:31] Alviere commented on #1219
@m9aertner You're welcome.

[2018-05-02 07:25] #1466 closed

[2018-05-09 13:48] szaluk opened #1521 "Rule and RunListener Ordering"
I am seeing an issue where I have a RunListener set on a runner that is always being set to ignored when we have some of our method-level rules set.  We have a very complex RuleChain with many rules defined in it.

Is there an order of what gets executed first between Rules and Listeners?  is there anyway to force a particular RunListener to always run last after all Rules and other RunListeners a

[2018-05-09 16:43] kcooney commented on #1521
This kind of question can best be answered on stackoverflow.com

But yes, in the built-in runners, listeners are called at the beginning and end of each test method, so the rules are executed between them.

[2018-05-09 16:43] #1521 closed

[2018-05-16 12:23] pierre-labastie opened #1522 "SecurityManager API lacks getInCheck in Java 10"
Trying to build junit 4.12 with Java 10, I get:
`[ERROR] COMPILATION ERROR :
[INFO] -------------------------------------------------------------
[ERROR] /sources/junit/junit4-r4.12/src/test/java/org/junit/tests/running/core/M
ainRunner.java:[42,8] error: method does not override or implement a method from
 a supertype
[ERROR] /sources/junit/junit4-r4.12/src/test/java/org/junit/tests/running/core/

[2018-05-17 14:31] odupuy commented on #1194
We truly need a simple way as a new `MethodSorters` value and and possibly as a global system property (RANDOM possibly but DEFAULT by default)  to have a totally random order for any test not explicitly using one of the existing `MethodSorters`. Add some automatic seeding as needed to have a real randomness.
This will help a lot to find all these badly written tests in all the legacy (or new) app

[2018-05-17 20:13] cardil commented on #1194
I would like to say that if you are using Maven to run your tests you might be interested in this PR https://github.com/apache/maven-surefire/pull/112 to Surefire/Failsafe plugin to introduce class level test randomization with seed.

[2018-05-18 08:19] Mi-La commented on #1429
From which version the hamcrest-core is needed? We have used junit-4.10 and we didn't need the hamcrest at all. Was it change in 4.11? What about some note about it in wiki / doc?

[2018-05-18 13:41] odupuy commented on #1194
Thanks @cardil This will certainly come handy but when I run the test inside my IDE I usually run it directly so direct JUnit support is a must. I had a look at JUnit 5 as 4 is stale and this [ticket ](https://github.com/junit-team/junit5/issues/13) should add some execution order in Junit 5.3

[2018-05-18 13:57] kcooney commented on #1429
@Mi-La see https://github.com/junit-team/junit4/blob/master/doc/ReleaseNotes4.11.md

[2018-05-18 20:37] Mi-La commented on #1429
@kcooney Thanks, I already checked it. It states that there was an upgrade to Hamcrest 1.3 and that JUnitMatchers are now deprecated. But it doesn't say explicitly that I cannot use JUnit without Hamcrest at all. It took me some time to find it out.

[2018-05-18 20:41] kcooney commented on #1429
@Mi-La see the section on Maveb artifacts

[2018-05-18 20:48] Mi-La commented on #1429
@kcooney Ok, I see. Unfortunately our old project still uses Ant, so I didn't care about the Maven part ;-). Thanks

[2018-05-25 12:43] ArneDeutsch commented on #1365
I would support the idea to call `Thread.interrupted()` on each thread that is reused for more than one test case just before executing a new test case. But especially if one thread is used for more then one test class. The interrupted flag is state that leaks from one test case to others, making test cases flaky. Especially the test cases that deal with multiple threads that are notoriously hard

[2018-05-27 12:45] davido opened #1525 "Assumption violation is not reflected on text UI"
It would be helpful if assumption violations would be reflected on the text UI. For this test class with three test methods:

[code]

JUnit text UI produces this result:

[code]

The impression is that 2 tests were successful even though, only single test was successful and another one failed with assumption violation. This information is lost.

Compared to it the output from [Buck build tool](htt

[2018-05-30 13:30] cpovirk opened #1526 "Any chance of starting JUnit 3 exceptions on a new line like JUnit 4?"
As in, changing...

[code]

...to...

[code]

The code change would be straightforward, just changing [this line](https://github.com/junit-team/junit4/blob/0038617a0a6c70c712cf30b90c849db518f3715f/src/main/java/junit/textui/ResultPrinter.java#L71) as suggested in the comment.

However, I'm sure that some people are used to grepping through test logs, and the change in format would mess with their

[2018-05-30 13:55] kcooney commented on #1526
Any reason why you are still using the JUnit 3 APIs to run your tests? The JUnit 4 APIs can run JUnit3-style tests.

You could also just make your own listener and print things any way you want.

You should also consider migrating to the JUnit 5 APIs for running tests.

[2018-05-30 16:09] JxJxJxMxNxS commented on #1525
Hello i want to contribute to JUnit i can take a look of this if it's ok

[2018-05-30 19:45] kcooney commented on #1526
`JUnit4TestAdapter` allows you run JUnit4-style tests from JUnit3. If you want to run those tests using the JUnit4 runner, you need to do the opposite. You could pass your `TestSuite` to `JUnit38ClassRunner` and pass that to `JUnitCore.run()` after installing `org.junit.internal.TextListener`.

I think just using a custom `junit.framework.TestListener` that prints the results the way you want woul

[2018-05-30 19:59] cpovirk commented on #1526
Oh, whoops, thanks, that makes more sense. Anyway, feel free to close. I will figure out how much digging I want to do internally.

[2018-05-30 21:01] kcooney commented on #1525
If the concern is tools that are consuming the output, those tools would need to be updated to understand the changes proposed here. The proposed changes could break those tools in the interim.

Given all that, the potential costs of the change may outweigh the benefits.

An assumption failure isn't a failure; the test was skipped because the assumptions of the test were not true with the current

[2018-05-30 21:46] kcooney commented on #1525
Of course we could have the output for assumption failures be 'I' like it is for ignored tests. That would match what Buck apparently does...

[2018-05-30 21:46] #1526 closed

[2018-05-31 04:32] davido commented on #1525
I don't see how this is possible. A tool `foo` uses version `bar` of JUnit, where assumption violation is not reflected on the text UI. JUnit fixes that bug, and releases version `baz`. Tool `foo` bumps JUnit version to `baz` and adapts its code to changes in JUnit text UI.

+1.

[2018-05-31 14:55] kcooney commented on #1525
@davido Users compile against a particular version if JUnit. Tools that run tests are often devoped using a different version of JUnit, but are designed to allow developers to upgrade to a newer version of JUnit without forcing them to upgrade the tool.

In any case, tools that read the output of the text UI might break if the output changes. No idea how likely that is.

Let's just have assumption

[2018-05-31 16:58] davido commented on #1525
Fine, I will look into it.

[2018-05-31 23:15] stefanbirkner commented on #1525
@davido Can you give us an example of a build tool that relies on JUnit text UI to report test outcome.

[2018-06-01 05:32] davido commented on #1525
[Bazel](https://bazel.build/), see my analysis in this issue: https://github.com/bazelbuild/bazel/issues/3476.

[2018-06-01 13:07] kcooney commented on #1525
@davido  last I checked Bazel installs a custom listener which produces Ant-style XML.

[2018-06-01 13:19] davido commented on #1525
My analysis was, that for its own output rendering standard log file produced by JUnit test UI is used. Ant-Style XML is produced for consumption by/integration with external tools.

[2018-06-01 13:51] kcooney commented on #1525
For the record, I don't think this change would have any affect on that Bazel issue.

[2018-06-01 14:11] kcooney commented on #1525
@stefanbirkner So given that we no longer have examples of tools that parse the output, should we print something different for assumption failures?

[2018-06-01 18:31] quiram commented on #1231
This might be a bit redundant, but I wonder if it's worth mentioning in the docs that this obviously affects also `@AfterClass`, and not just `@After` (this is what bit me).

[2018-06-01 20:06] stefanbirkner commented on #1525
I feel it is a good idea. For me your proposal that we handle it like a normal ignore makes sense, because I consider failed assumptions as dynamic ignores.

[2018-06-01 21:13] kcooney commented on #1525
@stefanbirkner gen the comments in `Result.Listener` the original authors apparently decided that it made more sense to treat assumption failures as passed tests instead of ignored tests. I think I agree; ignored tests should either be eventually fixed or removed. In contrast, assumption failures happen when a parameterized test or theory applied to some possible dates values but not all.

In any

[2018-06-02 04:15] davido commented on #1525
The whole assumption violation outcome was completely forgotten. That why my suggestion to get it right, and extend JUnit and make assumption violations first class citizens. By that I mean: 'A' char and add new method: `Result.getAssumptionViolationCount()`.

[2018-06-02 09:38] kcooney commented on #1525
Based on the comments, I think the authors assumed developers wouldn't want to think of assumption failures as any different than a passed test. Perhaps they didn't want to repeat the failures vs errors confusion of JUnit 3?

There is an abandoned pull request for this; see #1294 ... would you be able to help get it across the finish line?

As for the text UI, I don't personally look at the output

[2018-06-02 23:06] #1339 closed

[2018-06-02 23:10] #1334 closed

[2018-06-06 15:17] bergeronjulien opened #1531 "Test class execution stops after 10 minutes"
Test class execution stops after 10 minutes and does not give any exceptions.

-Maven build
-Paremeterized class

Code that reproduce the issue:
`
public class TestClass
{
    @Parameterized.Parameters
    public static Collection<Object[]> environments() {
        return buildEnvironments(testId);
    }

    @Test
    public void test() throws InterruptedException {
        for(int i = 0; i < 100

[2018-06-06 15:40] kcooney commented on #1531
We need more details

https://stackoverflow.com/help/mcve

[2018-06-07 00:06] joseandrespena commented on #1513
I'm having this problem today... how do I fix it?

[2018-06-07 04:54] ghuangups opened #1532 "Not able to get @Category to work, need help!"
Hi,

We was trying to use this @Category feature from junit. However, we were getting unable to load Category error when executing the test.

This was what we did:
- created this file under hadoop-common:
hadoop-common-project/hadoop-common/src/test/java/org/apache/hadoop/test/TestJUnitCategory.java like this:

package org.apache.hadoop.test;
public class TestJUnitCategory {
  public interface All

[2018-06-07 10:43] marcphilipp commented on #1532
Maybe Surefire needs nested classes to be specified as `org.apache.hadoop.classification.TestJUnitCategory$IntegrationsTest`? In any case, this is a question for the Maven Surefire project.

[2018-06-07 10:43] #1532 closed

[2018-06-07 13:50] bergeronjulien commented on #1531
Issue updated

[2018-06-07 13:58] kcooney commented on #1531
I suspect a maven issue or some problem with your configuration. would expect it to run for 2.8 hours and finish with no errors.

Do you get the same behavior when running outside of Maven? I

[2018-06-07 14:00] kcooney commented on #1532
Alternatively ask on https://stackoverflow.com

[2018-06-07 15:45] kcooney commented on #1531
Please raise this issue with the Surefire team

[2018-06-07 15:45] #1531 closed

[2018-06-12 10:21] ShirazMalkani commented on #1218
I am having the same issue, @Rule is not executed, also @Before method is not called. I do have @BeforeEach method in the same class which is being called. any leads?

[2018-06-12 13:00] panchenko commented on #1218
@ShirazMalkani it seems like your test is executed by JUnit5, which introduced the [@BeforeEach](https://junit.org/junit5/docs/5.0.2/api/org/junit/jupiter/api/BeforeEach.html) annotation.

[2018-06-13 11:06] navy-king opened #1534 "junit-4.10 与amino-cbbs-0.3.1 的报错"
当使用amino的MasterWorker时报以下错误。但是在main里运行没有报错
java.lang.AssertionError
	at org.amino.pattern.internal.AbstractMasterWorker$WorkerPool.complete(Unknown Source)
	at org.amino.pattern.internal.DynamicMasterWorker$WorkWrapper.run(Unknown Source)
	at java.lang.Thread.run(Thread.java:745)

[2018-06-13 12:43] kcooney commented on #1534
The stack trace doesn't look related. If you think this is related to JUnit, we need more details. See https://stackoverflow.com/help/mcve for what details can be useful.

Note the current version of JUnit is 4.12

[2018-06-13 14:48] #1534 closed

[2018-06-17 09:49] laki88 commented on #1513
I couldn't build alone with **2.21.0**. Anyway after adding asm latest dependency as below I could build the my project.

        <plugin>
          <artifactId>maven-surefire-plugin</artifactId>
          <version>2.21.0</version>
          <dependencies>
            <dependency>
              <groupId>org.ow2.asm</groupId>
              <artifactId>asm</artifactId>
              <version>6.2</ve

[2018-06-17 19:46] Tibor17 commented on #1513
@aleenadavy90
@laki88
Check it out with Surefire 2.22.0. It already uses ASM 6.1.1 through plexus-java:0.9.8.
We had some problems with old ASM while developed JUnit5 and tested on JDK 10. Updated therefore.

[2018-06-18 13:44] #1522 closed

[2018-06-19 09:13] MkJha opened #1535 "How to match cause exception message"
We can match caused exception using 'expectCause'. How can we match message inside the caused exception?

[2018-06-19 13:53] kcooney commented on #1535
In JUnit 4.13 you will be able to use `assertThrows()` which returns the caught exception. Then use your favorite assertion library or Just Plain Java to inspect the exception.

That being said, unless the test is expecting an `ExecutionException`, looking at the cause can make your test fragile.

[2018-06-19 13:53] #1535 closed

[2018-06-20 19:15] npmccallum commented on #1488
I just ran into this today. It was very painful.

[2018-06-21 03:19] kcooney commented on #1488
@npmccallum we only closed this because no one could reproduce it with vanilla JUnit 4.12. Could you provide a reproducible test case?

[2018-07-04 22:03] nickl- opened #1538 "Test methods gets repeatedly executed (18 times) each run"
I've been having this issue for a while, tests keep running longer and longer but naturally I figured it was in my code. I eventually found out that the test methods are being executed repeatedly (around 18 time) for each test run.

This is a stack trace produced from the `EnumTest.class` `enum_value` test method. I have removed all custom runners and anything else I can think of that might be wro

[2018-07-05 10:22] wheredevel opened #1539 "org.junit.rules.TestName: make toString() return same value as getMethodName()."
The title says it all...
Thanks!

[2018-07-05 16:09] kcooney commented on #1538
Can you reproduce it with something smaller? See https://stackoverflow.com/help/mcve for how to do that and why that helps us help you.

[2018-07-05 18:14] nickl- commented on #1538
Ok @kcooney I will jump your hoops but if I can't reproduce it in simpler form are you at least willing to look at this problem and see if you can see something that can help?

[2018-07-05 20:02] kcooney commented on #1538
@nickl- I looked at the tests and Idon't see anything in that test that would lead to this behavior, and no one else has reported anything similar, so I don't think this is a bug in JUnit.

I suspect possibly a Surefire configuration issue. The JUnit team doesn't maintain Surefire, so if the issue is there I don't think we can help. This page might help: https://maven.apache.org/surefire/maven-sur

[2018-07-05 22:09] nickl- commented on #1538
Found the bug... Tx

[2018-07-05 22:09] #1538 closed

[2018-07-06 16:04] kcooney commented on #1538
@nickl- what was the bug?

[2018-07-08 03:00] nickl- commented on #1538
@kcooney it was in my code after all, getting me to make a minimum reproducible was just the idea I needed to hunt it down.

Tyvm! You're a SuperStar!! =)

[2018-07-09 10:57] Tibor17 commented on #1496
It's been almost 4 years after last release 4.12.
Cut 4.13-beta-1 release version for deeper testing.

[2018-07-12 04:07] dinoopp opened #1540 "Link to "JUnit Toolbox" is brocken"
On https://junit.org/junit4/ link to "JUnit Toolbox" ie https://junit-toolbox.googlecode.com/ is broken.

I think the code is moved from Google to GitHub.

[2018-07-12 04:16] kcooney commented on #1540
New link appears to be https://github.com/MichaelTamm/junit-toolbox

[2018-07-16 07:16] stefanbirkner commented on #1540
Fixed in source code but the fix still needs to be deployed.

[2018-07-16 16:01] BogdanAlexandru11 opened #1542 "BlockJUnit4ClassRunner no runnable methods"
Hi.

I have made my own suite "MySuite.class", and I'm trying to run all the tests from the project using that suite. I have declared AllTests.class as
"@RunWith(ClasspathSuite.class)
public class AllTests {}"

And my tests are being triggered as follows
"@RunWith(MySuite.class)
@Suite.SuiteClasses( { AllTests.class })
public class RunAllMyTests {}"

I'm getting the following errors
"java.lang.Exc

[2018-07-17 06:22] kcooney commented on #1542
I am guessing one of the tests on your classpath doesn't have any public methods annotated with `@Test` (either that or some weird bug with `ClasspathSuite` or with `MySuite`). It's unfortunate that JUnit isn't telling you with class is the problem.

If you can provide a simple reproducible test case, I can look into why the exception message isn't useful, which should help future users track prob

[2018-07-17 09:18] BogdanAlexandru11 commented on #1542
Hi.
I will elaborate in this post what i'm trying to achieve, how it works and where it goes wrong.

I have about 600 tests in a project, and some of them fail randomly, I know it's not the best solution, but I would like when one of those tests fails, I would like to retry it 3 times. I have researched the feature and firstly I have implemented a rule, but I do not want to add the rule in each in

[2018-07-17 15:45] kcooney commented on #1542
Have you tried using a debugger? The stack trace should tell you where to set the breakpoints. If you can't reproduce in an IDE, most build tools have ways of running and waiting for a debugger to attach.

(Yes, the error message should be good enough that you shouldn't need a debugger).

I do wonder if 'ClasspathSuite` is going to include `RunAllMyTests`

[2018-07-18 08:20] dileepguntamadugu opened #1543 "Junit Parameterization without private properties"
**This is more of a query than an issue and I'm very Naive to Junit

I'm working on a Test Automation project which is based on Junit + Selenium. I would be needing a lot of test data for each of the scenario.

I've maintained a csv file to store the data, where in I'm reading the csv data and then mapping the header columns to the records values as a list of object.

Is it possible for Junit Para

[2018-07-18 13:08] cljohnso commented on #1496
I (my organization, really) would really like to use the work that was done for `TemporaryFolder` (particularly issue #1223) so I'm really interested in getting JUnit 4.13.  We're contemplating taking a fork of the project (at 4.12), cherry-picking the `TemporaryFolder` fixes, and using JUnit artifacts generated from that until 4.13 is actually released. (Haven't yet evaluated how sane/insane that

[2018-07-18 13:21] aiannucci commented on #1496
We have built and use 4.13 as it is, with all its changes, for a while now, because we needed to leverage a bugfix. Haven't seen any issues so far.

[2018-07-18 14:31] kcooney commented on #1543
Why would that not be appropriate?

[2018-07-18 17:02] kcooney commented on #1542
You couldn't set a breakpoint in `org.junit.runners.BlockJUnit4ClassRunner.validateInstanceMethods()`? From there you should be able to see which test class is triggering this.

Also, does your IDE or build tool tell you which test class(es) failed?

I do think the `ClasspathSuite` forums or StackOverflow.com would be better places to ask this.

[2018-07-18 17:23] kcooney commented on #1496
@cljohnso publishing your own version of JUnit in Maven could be problematic for some of your users because they will likely depend on an official version of JUnit, and having both dependencies would result in duplicate classes on the classpath, which leads to unpredictable behavior.

Unfortunately, JUnit is maintained by volunteers (many of whom work on JUnit 5) so relesses have taken longer than

[2018-07-21 01:03] juanmiguel431 commented on #1513
Thansks @Tibor17 , @aleenadavy90

[2018-07-25 16:28] ghuangups opened #1544 "maven-surefire-plugin is skipping/not finding tests"
Hi,

Recently in our hadoop project, we added maven-surefire-plugin for running unit tests by categories.

in hadoop root pom.xml:

      <dependency>
        <groupId>junit</groupId>
        <artifactId>junit</artifactId>
        <version>4.11</version>
      </dependency>
.
.
<properties>
    <test.groups>org.apache.hadoop.classification.TestJUnitCategory$AllTests</test.groups>
    <junit.versio

[2018-07-25 18:15] kcooney commented on #1544
The JUnit team doesn't maintain maven-surefire -plugin. Try posting to one of these lists: https://maven.apache.org/surefire/maven-surefire-plugin/mail-lists.html

[2018-07-25 18:15] #1544 closed

[2018-08-14 08:51] Memory-Cunese opened #1546 "hamcrest-core-1.3.jar"
why is the library of hamcrest-core-1.3.jar needed? I'm confused.Please

[2018-08-14 08:52] Memory-Cunese commented on #1546
comment

[2018-08-14 10:34] marcphilipp commented on #1546
Because it is used, e.g. in `org.junit.Assert.assertThat()`.

[2018-08-14 10:34] #1546 closed

[2018-08-23 00:16] ggfan opened #1547 "Could not find com.android.support:appcompat-v4:28.0.0-rc1"
Trying to use the latest version as:
[code]
got error of:
[code]

it works with 28.0.0-alpha1.  28.0.0-beta1 and 28.0.0-rc1  does not work.

[2018-09-07 04:09] geekyouth commented on #1429
https://www.cnblogs.com/anny0404/p/5275595.html
![image](https://user-images.githubusercontent.com/12899262/45198019-c84b0b80-b296-11e8-80e3-646ba48a57c2.png)
亲测有效

[2018-09-21 09:00] Nightara opened #1549 "Exceptions thrown by Exception.getMessage() method cancel tests without failing the test"
Setup:
Create a new runtime exception that throws an Exception (E.g. NullPointer) within the getMessage() method.
Create a simple JUnit test (Without declaring expected exceptions) that throws this exception.

Expected Outcome: The test should fail and show a stack trace (Either of the underlying exception or the NullPointerException thrown)

Actual Outcome: The test is canceled silently and succe

[2018-09-26 18:16] marcphilipp commented on #1539
Why?

[2018-09-27 07:10] akshaypalshikar commented on #1539
hi @marcphilipp
I am trying to do my small contribution. Please see if you can merge this pull request :
https://github.com/junit-team/junit4/pull/1550

[2018-09-27 07:36] marcphilipp commented on #1539
@aslakhellesoy @wheredevel Could you please explain why adding a `toString()` method would be useful?

[2018-09-28 06:51] aslakhellesoy commented on #1539
Why are you asking me @marcphilipp?

[2018-09-28 09:18] arushabt commented on #1542
Hi @BogdanAlexandru11 ,

Did you find any solution for above

[2018-09-28 14:42] marcphilipp commented on #1539
@aslakhellesoy Oops, sorry about that! I meant to ask @akshaypalshikar.

[2018-09-28 14:46] akshaypalshikar commented on #1539
Hi @marcphilipp
I don't find any need of it but looked logical and easy to get started.
Let me know if you want me to cancel my pull request

[2018-09-30 13:49] marcphilipp commented on #1496
Looks like all issues assigned to 4.13 have been resolved.

@junit-team/junit-committers Is there anything else that need to be addressed before releasing 4.13?

[2018-09-30 16:56] kcooney commented on #1496
@marcphilipp These closed pull requests might not be documented in the release notes: https://github.com/junit-team/junit4/issues?utf8=✓&q=label%3A"needs+release+notes+update"+

[2018-10-03 02:06] renuka-fernando opened #1556 "Closing a closeable stream without a finally block"
Class `MaxHistory.java` contains the code using a stream that is closeable without using a finally block.

[code]

[2018-10-03 07:59] #1556 closed

[2018-10-03 11:39] marcphilipp commented on #1539
For future reference: Before putting in the effort and working on a pull request, it's always a good idea to first open an issue, explain your use case and get feedback from a maintainer.

I think in this case adding a `toString()` implementation is ok, but I would still like to know when this would be useful.

@akshaypalshikar Could you please add a sentence explaining the rationale?

[2018-10-03 12:49] bhegmanns commented on #1549
Are you sure?

I wrote this classes:
public class TestFailsByExceptionThrowingAnExceptionInGetMessageTest {

    @Test
    public void exceptionInGetMessageMakeTheTestFails() {
        throw new MyException();
    }
}

/**
 * A new exception in this test.
 *
 *
 */
class MyException extends RuntimeException{

    /**
     *
     */
    private static final long serialVersionUID = 1L;

    @Overrid

[2018-10-03 17:44] wheredevel commented on #1539
@marcphilipp, I believe @akshaypalshikar followed the issue I opened on Jul 5.
If it's not clear - I'm the one to blame.

[2018-10-03 18:19] akshaypalshikar commented on #1539
@marcphilipp
Let me know if you want me to cancel the pull request.

[2018-10-12 03:42] realark opened #1564 "Setting up a dynamic bootstrap classpath for test runners"
We have an unusual use case for Junit test runners.

The Datadog Java agent tests use `@RunWith` to allow us to test our bytecode instrumentation without spinning up a full Java Agent.

(Technically we're using spock, but we hook in at the Junit level to set everything up)

https://github.com/DataDog/dd-trace-java/blob/master/dd-java-agent/testing/src/main/java/datadog/trace/agent/test/SpockRunner

[2018-10-12 12:06] kcooney commented on #1539
One possible use case would be so you could pass a `TestName` instance to `String.format()`. Not sure if that justifies overriding `toString()`

[2018-10-13 10:56] marcphilipp commented on #1564
Does your `Runner` extend `ParentRunner` or implement `Filterable`? If so, that's were the filtering happens so you might need to override it and make sure you can initialize your runner first. The test class is loaded before calling `filter()`, though.

[2018-10-19 00:06] realark commented on #1564
I gave it a shot but no luck.

Upon taking a closer look, I think the hooks we need would actually have to come from the test launcher (idea junit launcher in our case). I think I'll follow up with them.

https://github.com/JetBrains/intellij-community/blob/master/plugins/junit_rt/src/com/intellij/junit4/JUnit4TestRunnerUtil.java#L316

Thanks for the answer!

[2018-10-19 00:06] #1564 closed

[2018-10-19 21:41] johnterrill commented on #1496
Hello all,

I was wondering if anyone had a timeline for this release. There are some features that I was hoping to incorporate, and was wondering whether or not we should should table it.

Thanks for all your work!

[2018-10-20 08:56] Tibor17 commented on #1496
@kcooney If 4.13 contains only bug fixes, rename it 4.12.1. Is there still any ongoing work?

[2018-10-20 15:55] stefanbirkner commented on #1496
There are still 5 PRs missing in the release notes. I take care of them the day after tomorrow when I'm back in Germany.

[2018-10-20 16:08] stefanbirkner commented on #1549
I can confirm @bhegmanns result. @Nightara can you provide us an example and tell us how you execute your test.

[2018-10-22 05:03] stefanbirkner commented on #1549
That would be nice. Thank you.

[2018-10-22 11:35] Nightara commented on #1549
My setup:
NetBeans 8.2
OpenJDK 8 (1.8.0_181)
Maven 3.0.5_17
JUnit 4.12

I've uploaded my dummy Maven project (POM and source files) to [MavenJUnitTest.zip](https://github.com/junit-team/junit4/files/2501145/MavenJUnitTest.zip).
The project contains one test, the mentioned Exception and a dummy class throwing the Exception.

Executing the Maven Goal surefire:test on the demo project results in the

[2018-10-22 19:17] stefanbirkner commented on #1549
I get a different result when I run

    mvn test

The result is

    Running MyTest
    This comes before the exception, so it should show up in the console
    This object should throw an exception and fail the test
    Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 0.07 sec <<< FAILURE!

This is exactly what I expect for this test. I'm running the test with Maven 3.5.0 and Orac

[2018-10-23 08:57] stefanbirkner commented on #1549
You're welcome. I'm happy to hear that your problem is solved.

[2018-10-23 20:53] smithkm opened #1566 "ExpectedException fails when assumption fails"
I have tests that `Assume.assumeTrue(false)` under some circumstances to indicate the test is not relevant.  Some of these tests are using an `ExpectedException` rule to check for other exceptions.  Under JUnit 4.11 the test gets ignored as expected, under JUnit 4.12 the rule tries to match the `AssumptionViolatedException` and fails.

Probably related to the fix for #687

[2018-10-23 21:55] kcooney commented on #1566
Thanks for reporting this

If you are using 4.12 I strongly recommend replacing usages of `ExpectedException` with `org.junit.Assert.assertThrows`.

[2018-10-24 00:11] smithkm commented on #1566
It doesn't appear that's in 4.12.  For now I've made it work with some `@Ignore`s but I may try putting in my own `assertThrown` until 4.13

[2018-10-24 04:51] kcooney commented on #1566
Woops, sorry,  `assertThrows` will be added in JUnit 4.13

[2018-10-24 05:04] kcooney commented on #1566
Looking at the threads (particularly #720) it sounds like we changed this behavior in 4.11, realized that the new behavior was a bad idea, and reverted to the 4.10 behavior in 4.12.

@smithkm How does your test behave in JUnit 4.10?

[2018-10-24 16:30] kcooney commented on #1566
@smithkm It looks like we have a test case for exactly this use case:

https://github.com/junit-team/junit4/blob/master/src/test/java/org/junit/rules/ExpectedExceptionTest.java#L279

This results in an `AssumptionFailure` (i.e. the test will be effectively ignored)

If you call `ExpectedException.expect()` before calling `assumeTrue()` or `assumeFalse()` then the test will fail (not be ignored).

[2018-10-25 13:30] npathai commented on #1365
@kcooney I can start working on this.

[2018-10-25 13:50] kcooney commented on #1365
@npathai fantastic!

There is still an open question of whether `ExpectedException` or `assertThrows() ` should ever clear the interrupted bit. @junit-team/junit-committers thoughts?

[2018-10-25 20:02] stefanbirkner commented on #1365
IMHO we should clear the interrupted flag after each test. We should not clear it in `ExpectedException` and `assertThrows()` because it will cleared after the test.

@kcooney can you please explain why you think that `ExpectedException` and `assertThrows()` should clear the flag.

[2018-10-26 05:41] kcooney commented on #1365
@stefanbirkner the general guidance I've read is any time you catch `InterruptedException` and don't rethrow it you should call `interrupt` (see https://www.ibm.com/developerworks/library/j-jtp05236/index.html and search for "Don't swallow interrupts"). Since `ExpectedException` and `assertThrows()` "swallow" unexpected exceptions, I wanted to see what people thought we should do.

[2018-10-26 05:43] kcooney commented on #1365
FWIW, I did a quick search in GitHub for calls to `interrupt()` in JUnit 5 and the only reference it found was in a test.

[2018-10-26 13:03] npathai commented on #1365
@kcooney @stefanbirkner I was wondering how IDE's integrate with JUnit framework. If I have long running test case something like
[code]
and I stop the test case forcefully using IDE. Will the IDE interrupt the Thread running JUnit tests or something else?
I checked the behavior in IntelliJ, it seems that they run different process and interrupt the process when test cases are stopped forcefully f

[2018-10-31 19:45] stefanbirkner commented on #1496
@marcphilipp I think we are ready for JUnit 4.13. I completed the release notes.

Having #1568 released with JUnit 4.13 would be nice (need a review from one of the maintainers) but it is not necessary.

[2018-11-06 03:38] dwkrueger2 opened #1570 "I think someone Hacked the Documentation Page"
It looks like someone inserted non-native links to the following github... The Download links don't appear direct and I don't know if they can be trusted.

See Highlighted Areas
https://imgur.com/a/iVkxj3L

For Link
https://github.com/junit-team/junit4/wiki/Download-and-Install

[2018-11-06 04:40] sormuras commented on #1570
Have a look at the document's history, it didn't happen for the first time: https://github.com/junit-team/junit4/wiki/Download-and-Install/_history

It's a wiki - hacking is called "editing" there. Just restored the links to `seach.maven.org`.

[2018-11-06 04:48] dwkrueger2 commented on #1570
I figured that it was edited... But that seems like a significant gratuitous edit.  And I don't know if the new link could be trusted. But what do I know?...
Thanks.

[2018-11-06 16:10] marcphilipp commented on #1570
Thanks for letting us know. I've restricted editing of wiki pages to users with push access for now.

[2018-11-06 16:10] #1570 closed

[2018-11-07 18:53] robinyqiu commented on #1496
Any update on 4.13 release? I am very excited to see the new release happens. :)

[2018-11-09 16:34] kcooney commented on #1365
@ npathai I think IDEs call `RunNotifier.pleaseStop()`

[2018-11-09 16:48] kcooney commented on #1365
So it sounds like the concerns is this: what happens if the IDE calls `pleaseStop()` then `Thread.interrupt()` on the thread running the tests?

If that thread is not in a blocking method and doesn't call a blocking method, the the test run will abort after the current test complets (due to `pleaseStop()`

If that thread is in a blocking method or calls a blocking method, it will throw `Interrupte

[2018-11-09 17:08] Tibor17 commented on #1365
We use pleaseStop() in Surefire. We rely on current behavior that the
JUnit's Scheduler stops scheduling a new Runnable (test method) but the
pending method goes on.

On Fri, Nov 9, 2018 at 5:48 PM Kevin Cooney <notifications@github.com>
wrote:

--
Cheers
Tibor

[2018-11-15 02:51] Tibor17 commented on #1543
@kcooney
I think I understand @dileepguntamadugu . We have exactly the same problem in our company.
We have parameterized test with a lots of data variations and they are so many that one row would not be readable because it would be too long. Complex logic must be then extracted to private methods but still it leads to overhead because you are creating extra method for each next run of the test a

[2018-11-15 03:36] Tibor17 commented on #1496
@robinyqiu
I remember they planned to discontinue JUnit and 4.13 had to be the last version. Since there are 103 open issues and several pending pull requests, the versions should continue development. One way would be to cut several Release Candidate versions and we will see what would happen with the statistics regarding the number of bugs and pull requests.

[2018-11-15 20:34] kcooney commented on #1496
Sorry, submitted that last comment before I finished my thought.

Apologies that this is taking awhile. The original JUnit maintainers are either busy supporting JUnit 5 or have taken a step back from working on JUnit. For those reasons I think it's likely that 4.13 will be the last release if the 4.x code line.

[2018-11-15 21:39] robinyqiu commented on #1496
@Tibor17 @kcooney Thanks for your response! Do you have an rough estimate of when the 4.13 release is going to happen?

[2018-11-16 09:06] Tibor17 commented on #1496
@robinyqiu I am not a committer but a long time contributor.
@kcooney I think the community should clearly present the release plan for next weeks or months.

I am still convinced that JUnit4 should be finalized with zero issues and zero pull request due to the fact that all the world is and still will be dependent on JUnit4 long time.
So if you see any feature requests, please close them saying t

[2018-11-16 10:05] panchenko commented on #1543
@dileepguntamadugu To be honest, it's not clear if your question is about using JUnit (which does not care about "private properties") or designing classes for the test data.

[2018-11-17 11:07] dileepguntamadugu commented on #1543
@kcooney - Say in one test I have 25 data fields and other test I have 80 fields which is true actually in my case, there are going to be several tests sometimes in hundreds.

It is gonna be like defining private properties for each such fields for each of the test. it will end up in so many, leaving it to imagination.

[2018-11-17 11:14] Tibor17 commented on #1543
@dileepguntamadugu
The only way how to solve this problem is to create several DataProvider classes, instantiate them within `@Parameters` method, inject the single instance in only one `@Parameter` and execute it within `@Before`.

[2018-11-17 11:16] dileepguntamadugu commented on #1543
@panchenko you mean it is possible for junit parameterized tests to be run without private properties?
Say, i have 100 rows of data with login name and password and i still don't need to define private properties as below?
private String loginName
private String password

[2018-11-17 19:04] kcooney commented on #1496
@Tibor17 If there are any bugs that you feel have to be fixed or pull requests that should to be accepted, please add a comment to those issues. At some point we need to decide to cut a release for 4.13 (we released 4.12 almost four years ago).

I'm not sure how I feel about essentially filing bug bankruptcy for JUnit 4.x. I certainly don't have time to go through that process. Perhaps one of the

[2018-11-21 21:05] stefanbirkner commented on #1496
@marcphilipp Do you have time to cut a release 4.13? @kcooney, @dsaff any objections?

[2018-11-22 19:04] Tibor17 commented on #1496
@kcooney Yes, I feel there are issues since 2015 till 2017 which need to be closed. This would be the first step to do. It gives clear picture and a signal to the users that seriously we won't continue them. The only remaining issues need to be reinvestigated and spent time only with those. And we will again clean our hands and we can finish the project finally.

[2018-11-22 20:34] marcphilipp commented on #1496
Yes, I can do that on the weekend. Should we first ship a 4.13-RC1 or 4.13-beta-1?

[2018-11-23 07:39] stefanbirkner commented on #1496
`4.13-beta-1` is a good idea. It keeps the naming scheme of the old beta releases.

Hoe long should we wait for `4.13` afterwards if `4.13-beta-1` has no issues? 2 weeks?

[2018-11-23 23:58] kcooney commented on #1496
No objections to cutting a release. No strong opinion on RC1 vs beta-1.

[2018-11-25 18:33] marcphilipp commented on #1496
4.13-beta-1 has been released today and I now available on Maven Central.

[2018-11-26 01:50] blindpirate commented on #1496
Thanks @marcphilipp !

[2018-11-27 08:08] hellboy81 opened #1573 "Exception running JUnit4 tests"
`jre 1.8.0_121`:

[code]

[2018-11-27 08:10] marcphilipp commented on #1573
Which version of JUnit are you using?

[2018-11-27 08:20] hellboy81 commented on #1573
Issue updated.

[2018-11-27 08:30] marcphilipp commented on #1573
Thanks! Could you share a sample project?

[2018-11-27 08:33] marcphilipp commented on #1573
Did you change anything on your end? JUnit 4.12 (and 4.13) should work with Java 8.

[2018-11-27 08:44] hellboy81 commented on #1573
The problem solved after upgrading to `4.13-beta-1`.

[2018-11-30 09:59] CarlSalaets opened #1574 "Tests are marked as ignored when assertion in @AfterClass fails"
I have a test class in which I have an assertion in the `@AfterClass` teardown method. (because I want to make sure I have at least one test case for every value of an enum)

I noticed that (at least in IntelliJ IDEA) if that teardown assertion fails, all other test are both marked as successful and marked as ignored. This is weird behaviour because the tests are not actually ignored, they were in

[2018-11-30 14:35] kcooney commented on #1574
Possibly an IDEA bug.

If you run your tests in build tool like maven, does it report the test run as passing?

[2018-11-30 14:47] CarlSalaets commented on #1574
It seems you are correct.
Maven indicates only a single test failure and no skipped tests. This is the expected behaviour.
I was too quick to open a bug report here.

[2018-11-30 15:10] CarlSalaets commented on #1574
I created a bug at https://youtrack.jetbrains.com/issue/IDEA-203356

[2018-11-30 15:10] #1574 closed

[2018-12-02 03:55] bkushigian opened #1575 "Hamcrest-core.jar link in wiki/Download-and-Install is incorrect"
This links to hamcrest-core which doesn't work (Produces a `NoClassDefFoundError`). I used `hamcrest-all.jar` instead and it worked fine.

[2018-12-02 08:08] marcphilipp commented on #1575
For which class does it produce the error? Did you use version 1.3?

[2018-12-02 08:08] #1575 closed

[2018-12-04 22:58] BlueIce commented on #1496
It seems [Hamcrest](https://github.com/hamcrest/JavaHamcrest) is about to release a new version (see hamcrest/JavaHamcrest#224). Release candidates are already available (https://github.com/hamcrest/JavaHamcrest/releases).

It would be great if the dependency on Hamcrest could be updated for the new release. Would this be feasible?

[2018-12-05 07:44] marcphilipp commented on #1496
@BlueIce Thanks for bringing this to our attention!

Since JUnit 4 is still compatible with Java 5, I think we cannot upgrade to Hamcrest 2.x because it requires Java 7.

I'm wondering whether we should make our dependency on Hamcrest `optional` in the POM, though. That would force users to make a conscious choice whether to use Hamcrest and, if so, which artifact and version.

@tumbarumba @junit-

[2018-12-05 07:53] tumbarumba commented on #1496
Hi, Hamcrest committer here. I'm currently preparing the 2.1 release of Hamcrest. It would be awesome if the Hamcrest dependency could be updated. I have recently released v2.1-rc3. Despite the increment in the major version number, this release is intended to be backwards compatible with 1.3 (long story).

One thing to be aware of: in version Hamcrest 2.1, we've changed the way that the jars are

[2018-12-05 09:05] keltik85 opened #1576 "@RunWith(MyCustomRunner.class) - IllegalAccessException"
Hi,

I have tried to implement several types of "custom runners" to get familiar with the concept of JUnit Custom Runners,
but every single one of them gives the same exception and I am too stupid to figure out why.

I have written the following test:

[code]
With the "custom runner" class being as follows:

[code]

I have also tried my luck by extending from `BlockJUnit4ClassRunner`, but of no av

[2018-12-05 09:37] marcphilipp commented on #1576
The runner class needs to be `public`.

[2018-12-05 09:37] #1576 closed

[2018-12-05 10:02] keltik85 commented on #1576
sorry for opening a ticket and bothering you with such trivial things.

[2018-12-05 12:55] marcphilipp commented on #1576
No worries at all!

[2018-12-06 09:31] Tibor17 commented on #1496
@tumbarumba
I would like to use Java Hamcrest 2.1 but it does not mean that I would like to see it in JUnit exactly because of the compatibility reasons of Java 1.5 as @marcphilipp mentioned.
According to what you mentioned that `hamcrest-core` is trasitively dependent on `hamcrest` there is no problem for me as a user to use higher version in `dependencyManagement` of my POM. Anyway I am using `h

[2018-12-07 07:40] tumbarumba commented on #1496
Ah, I missed the point about JUnit 4 being compatible with Java 5. Of course, this means that JUnit 4.x can't depend upon Hamcrest 2.0 or greater, at least not directly. JUnit 5 removed all dependencies on third party matchers, and so is completely independent of Hamcrest

One option: JUnit 4.13 keep the dependency on Hamcrest 1.3. If anyone wants to use the new features of Hamcrest 2.1, they can

[2018-12-07 15:42] Tibor17 commented on #1496
@tumbarumba
Using `optional` dependency `hamcrest-2.1.jar` in JUnit's POM means that the user is unable to inherit it into his POM. Basically, it would not be transitive dependency.

[2018-12-11 10:41] npathai opened #1577 "Failing openjdk-6 build"
Travis Logs

`$ ~/bin/install-jdk.sh --target "/home/travis/openjdk6" --workspace "/home/travis/.cache/install-jdk" --feature "6" --license "GPL" --cacerts
install-jdk.sh 2018-10-17
Expected feature release number in range of 9 to 12, but got: 6
The command "~/bin/install-jdk.sh --target "/home/travis/openjdk6" --workspace "/home/travis/.cache/install-jdk" --feature "6" --license "GPL" --cacerts"

[2018-12-11 10:42] sormuras commented on #1577
From where did you copy the logs?

[2018-12-11 10:46] sormuras commented on #1577
Perhaps related to https://travis-ci.community/t/the-travis-ci-build-could-not-be-completed-due-to-an-error/1345

[2018-12-11 11:35] npathai commented on #1577
@sormuras I faced the issue while working on Issue #1365

https://travis-ci.org/junit-team/junit4/builds/466439917

[2018-12-11 11:37] sormuras commented on #1577
Thanks for the heads-up. It seems like "dist: trusty" is also affected...

Will notify @travis-ci / @banzaiman

[2018-12-11 21:52] stefanbirkner commented on #1577
FYI I have the same problem with System Rules since 6th Dec: https://travis-ci.org/stefanbirkner/system-rules/branches

[2018-12-12 07:14] marcphilipp commented on #1496
After pondering this for a few days, I've come to the conclusion that we should keep the mandatory dependency on `hamcrest-core:1.3` for backwards compatibility. Making it optional would do more harm than good because it would require most users to add another dependency.

We can add a note to the release notes mentioning Hamcrest 2.1. Moreover, I think it would be a good idea to document how to u

[2018-12-12 07:16] marcphilipp commented on #1577
@sormuras Any news? Did Travis get back to you?

[2018-12-12 07:19] sormuras commented on #1577
Seems like it is _not_ working as intendend: https://travis-ci.community/t/the-travis-ci-build-could-not-be-completed-due-to-an-error/1345 -- as if legacy JDKs are no longer supported "out of the box".

[2018-12-12 07:45] tumbarumba commented on #1496
I agree with your conclusion, @marcphilipp. As I now understand things, the JUnit 4 dependency on Java 1.5 completely rules out Hamcrest 2.x, and using optional dependencies won't work, as far as I can see.

Regarding the docs, I have a pull request open to update the Hamcrest documentation (see hamcrest/JavaHamcrest#237). I'd appreciate any feedback on that. The Hamcrest 2.1 docs can be previewed

[2018-12-12 08:17] kcooney commented on #1577
@sormuras Our `.travis.yml` doesn't specify trusty. Maybe it should? Or is trusty the default?

[2018-12-12 08:20] sormuras commented on #1577
**Trusty** is the default, afaik. But it now lacks JDK 6 support.
**Xenial** only comes with JDK 10 and 11 installed.

[2018-12-12 09:05] marcphilipp commented on #1577
It does use trusty but for some reason no longer installs the `open-jdk-6` package via apt. Previously it did install the package but did not change the used Java version. Thus, I've removed it in 9b34c4b6 for now.

[2018-12-12 09:06] kcooney commented on #1577
Could we configure Travis to use the older images for now? See https://blog.travis-ci.com/2017-12-12-new-trusty-images-q4-launch

[2018-12-12 19:12] marcphilipp commented on #1577
Maybe. I've sent a support request to Travis. Let's hope they'll get back with a solution.

[2018-12-12 19:18] sormuras commented on #1577
Also started a thread **_Java/JDK on Travis CI_** over here: https://travis-ci.community/t/java-jdk-on-travis-ci/1380

[2018-12-13 01:06] kcooney commented on #1577
Sorry, still recovering from the flu when I sent my last comment. That link in my comment was from 2017. 🙄

[2018-12-16 17:06] ijuma commented on #1496
It's been 3 weeks since 4.13-beta-1 has been released. Anything blocking the final 4.13 release?

[2018-12-16 17:37] kcooney commented on #1496
@ijuma https://github.com/junit-team/junit4/milestone/8 lists one issue

We might include #1569

[2018-12-16 19:13] marcphilipp commented on #1496
I think we should include #1569 and release 4.13-beta-2. I created a new corresponding milestone to reflect that.

[2018-12-17 17:56] #1577 closed

[2018-12-18 11:33] jhwsx opened #1579 "why java.lang.NoSuchMethodError: org.hamcrest.core.AllOf.allOf(Lorg/hamcrest/Matcher;Lorg/hamcrest/Matcher;)Lorg/hamcrest/Matcher;"
- dependencies
testCompile "junit:junit:$rootProject.ext.junitVersion"
testCompile "org.hamcrest:hamcrest-all:$rootProject.ext.hamcrestVersion"
junitVersion = '4.12'
hamcrestVersion = '1.3'

- error
[code]
- code
[code]
I have surfed the Internet for this problem for hours, and now I am very frustrated. I really want to solve this problem. Please give me a hand.

[2018-12-18 15:49] kcooney commented on #1579
This is related to Hamcrest, not JUnit.

I suggest asking on stackoverflow.com. See https://stackoverflow.com/help/how-to-ask

[2018-12-18 15:49] #1579 closed

[2018-12-19 03:41] jhwsx commented on #1579
ok, thank you.
I have solved this problem by changing hamcrestVersion from 1.3 to 1.1.

[2018-12-19 16:36] kcooney commented on #1579
JUnit 4.12 requires Hamcrest 1.3, so your solution may lead to other problems.

My guess is one version of Hamcrest is being used at compile time and a different version (or multiple versions) is on the runtime runtime classpath. Alternatively you were missing one of the Hamcrest 1.3 jars.

If that doesn't help, please ask on stackoverflow.com and add a link to the question here

[2018-12-26 17:59] silviu-burcea commented on #1513
If anyone bumps into this, you need v2.22.1 for JDK 11.

[2019-01-03 20:17] damianszczepanik opened #1582 "4.13-beta-1 causes java.lang.VerifyError: class com.intellij.junit4.JUnit4TestRunnerUtil"
When running tests for https://github.com/damianszczepanik/cucumber-reporting/pull/801 with IntelliJ IDEA 2016.3.5 and 4.13-beta-1 I get the following:

[code]

Moving back to 4.12 solves the problem as mentioned in https://stackoverflow.com/questions/53512970/java-lang-verifyerror-class-com-intellij-junit4-junit4testrunnerutil5-override

[2019-01-03 21:08] kcooney commented on #1582
Looks like this was fixed in IntelliJ:

https://github.com/JetBrains/intellij-community/commit/5d3f4634cdd34ab74d68fa0f9b52a466a7e89453#diff-eac4f3b47c9783fd77f87e5947cc23a7

Not sure what release(s) contain that fix.

The plugin was extending org.junit.internal.requests.ClassRequest which is an internal class.

[2019-01-04 18:53] marcphilipp commented on #1582
That's quite old. Have you tried a recent version?

[2019-01-05 12:45] damianszczepanik commented on #1582
Closing as it works with maven you are right - this is IDEA issue

[2019-01-05 12:45] #1582 closed

[2019-01-08 15:02] sbrannen opened #1585 ""latest" Javadoc folder should not contain beta documentation"
## Status Quo

The https://junit.org/junit4/javadoc/latest/ folder currently contains documentation for `JUnit 4.13-beta-1`.

The net result is that projects that link to https://junit.org/junit4/javadoc/latest/ in order to generate links to external documentation will currently link to *beta* software APIs instead of the latest release.

## Expectation

- The "latest" folder should point to the l

[2019-01-08 15:06] sbrannen commented on #1585
Similarly, https://junit.org/junit4/ states that the latest version is `Version: 4.13-beta-1`.

So perhaps that could be addressed along with the Javadoc.

[2019-01-08 15:09] sbrannen commented on #1585
After digging around, I discovered that the `4.12` documentation is actually available here: https://junit.org/junit4/javadoc/4.12/.

[2019-01-08 15:32] sbrannen commented on #1585
FYI: the following commit is what inspired me to raise this issue: https://github.com/spring-projects/spring-framework/commit/17a4193810e567ae15cc18fe2a74d1dab41efb74

[2019-01-15 13:40] hellboy81 opened #1587 "Problem executing remote Spock test due to java.lang.Exception failure"
Trying to execute remote tests using JUnit 4.12 with Groovy&co steroids from IDEA:

![image](https://user-images.githubusercontent.com/341600/51183675-3ef5b680-18d2-11e9-8749-559fb053d759.png)

[code]

See [also](https://community.atlassian.com/t5/Adaptavist-questions/Scriptrunner-remote-Spock-test-failing-due-to-java-lang/qaq-p/740603)

Issue can be reproduces also by another JUnit users on this

[2019-01-15 15:19] kcooney commented on #1587
IDEA is passing a [Filter](https://junit.org/junit4/javadoc/4.12/org/junit/runner/manipulation/Filter.html) to JUnit to select which tests to run, but that filter filters out all tests. Three possibilities:

1. The filter returns false when passed the `Description` for the test
1. The filter returns false when passed the `Description` for one of the parent suites of the test.
1. Spock uses a custo

[2019-01-17 06:20] salihaksit7 opened #1588 "Color class can not be tested"
I can not test 'android.graphics.Color' class.
I have a function called 'getMyColor()'  which returns

      Color.rgb(12,15,19)

When I am trying to test this function, the return of this 'getMyColor()' is always 0(Zero).

I tried this on Activity, and it works(returns other than 0).

My Gradle:

    testImplementation 'junit:junit:4.12'
    androidTestImplementation 'com.android.support.test:run

[2019-01-17 07:45] marcphilipp commented on #1588
@salihaksit7 This has very likely nothing to do with JUnit. You have a better chance to get a meaningful answer if you ask on StackOverflow.

[2019-01-17 07:45] #1588 closed

[2019-01-17 09:34] Raj1071 opened #1589 "Using Mockito Test case failed"
Tests run: 2, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 0.835 sec <<< FAILURE! - in com.npst.mb.MbankingApplicationTest
testMpin(com.npst.mb.MbankingApplicationTest)  Time elapsed: 0.823 sec  <<< FAILURE!
java.lang.AssertionError: expected: com.npst.mb.pojo.ResponseData<ResponseData [tid=, statusCode=0,data={Msg=verified, statusCode=0}]> but was: com.npst.mb.pojo.ResponseData<ResponseData

[2019-01-17 09:35] Raj1071 commented on #1589
in above execution expected and but was response is same but still Test get failure..
Help me

[2019-01-17 12:04] marcphilipp commented on #1589
I'm afraid without the test source code, we can't help you. Moreover, this is not the place for seeking help with one's testing problems in general. You'll be much better of asking on StackOverflow. If you suspect an issue in JUnit, please open an issue and include a minimal reproducible sample project.

[2019-01-17 12:04] #1589 closed

[2019-01-17 12:08] Raj1071 commented on #1589
@marcphilipp thanx .. will post there also

package com.npst.mb;

import static org.junit.Assert.*;
import static org.mockito.Mockito.when;

import java.util.HashMap;
import java.util.Map;

import org.junit.Test;
import org.junit.runner.RunWith;
import org.mockito.InjectMocks;
import org.mockito.Mock;
import org.mockito.runners.MockitoJUnitRunner;
import org.springframework.beans.factory.annotatio

[2019-01-20 10:08] #1365 closed

[2019-01-20 10:09] marcphilipp commented on #1496
Now that #1586 has been merged, I'll release 4.13-beta-2 in the next few days.

@junit-team/junit-committers Any objections?

[2019-01-20 19:32] kcooney commented on #1496
No objections 😊

[2019-02-02 15:07] marcphilipp commented on #1496
4.13-beta-2 is released and ready for testing.

[2019-02-06 23:23] thirumurthis commented on #1468
does adding super.init() within the **@before** of derived class invoked the parent class first.

[2019-02-11 21:27] ajmas opened #1590 "Maven, ant-junit and junit4: “no tests found”"
I am running into and issue whereby the JUnit Ant task is not finding any of the annotated JUnit 4 based tests. They all run fine when triggered from Eclipse. The error given is:

    junit.framework.AsserionFailedError: No tests found in <class name>

I have looked around for any solutions, but most of them simply workaround the problem by falling back to JUnit 3 conventions.

Any ideas?

My envi

[2019-02-12 01:47] kcooney commented on #1590
Given the stack trace, it looks like it's trying to look for JUnit3-style tests.

Have you considered migrating off of Ant, building with Maven and running tests using the Maven Surefire plugin?

[2019-02-12 01:51] kcooney commented on #1590
This also might help: https://stackoverflow.com/a/22469564

[2019-02-12 16:25] samkariash opened #1591 "Cucumber runtime exception with Junit plugin test"
Dear team

May be you can help. I am trying to run a cucumber test with Junit. It runs fine but when I want to run it as a junit plugin test ,then I get below exception.

cucumber.runtime.CucumberException: Expected a file URL:bundleresource://174.fwk1558712965:3/cucumber/runtime/
	at cucumber.runtime.io.Helpers.filePath(Helpers.java:19)
	at cucumber.runtime.io.FileResourceIteratorFactory.createIt

[2019-02-12 16:40] panchenko commented on #1591
@samkariash Your question rather belongs to https://github.com/cucumber/cucumber-jvm, please try version 4.2.3

[2019-02-13 21:37] kcooney commented on #1590
Haven't heard anything, so I will assume it was resolved. If not, I suggest posting on stackoverflow.com and adding a link to that post here.

[2019-02-13 21:37] #1590 closed

[2019-02-13 21:54] ajmas commented on #1590
Didn’t resolve it. Just needing to recreate an equivalent  test case outside of our company firewall.

I have worked around by changing my unit test to JUnit 3. I did also try the JUnitLauncher in Ant 1.10.5, but it’s too cutting edge at the moment.

I’ll ask the question on Stackexchange and link back here as suggested.

[2019-02-15 19:37] #1591 closed

[2019-02-26 23:18] TWiStErRob opened #1593 "4.13 docs: Rule refers to deprecated RuleChain for order despite having order() property"
Version: 4.13-beta2

`Rule` JavaDoc

`ClassRule` JavaDoc doesn't mention `order()`

It would be nice to have the same example as on `RuleChain` written on `Rule` and `ClassRule` using the `order()` property to ease migration of the deprecation.

[2019-03-01 20:53] kcooney commented on #1593
Could you send us a pull request fixing the Javadocs?

[2019-03-10 19:20] marcphilipp commented on #1593
@TWiStErRob @kcooney I've submitted a PR at #1594.

[2019-03-10 19:25] TWiStErRob commented on #1593
Nice, @marcphilipp, sorry I didn't get around to it.

[2019-03-10 19:34] marcphilipp commented on #1593
No worries, thanks for the quick review! 🙂

[2019-03-11 06:32] #1593 closed

[2019-03-11 06:34] marcphilipp commented on #1496
It's been over a month since 4.13-beta-2 and, as far as I'm aware, there have been no reports of any issues. I'd propose we release 4.13 in the next few days.

@junit-team/junit-committers Any objections?

[2019-03-11 06:41] ijuma commented on #1496
We've been using 4.13-beta-2 for Apache Kafka with no issues.

[2019-03-11 06:57] marcphilipp commented on #1496
@ijuma Thanks for letting us know!

[2019-03-11 07:56] stefanbirkner commented on #1496
No objections. I'm using it at work and everything works fine.

[2019-03-13 06:45] Bkbest opened #1595 "Getting error Could not initialize class sun.awt.X11.XToolkit while building in jenkins"
Hi,
I need help here
JUnit version 4.11
I have few test cases where on building the project in jenkins I am getting the following error:

[INFO] java.lang.NoClassDefFoundError: Could not initialize class sun.awt.X11.XToolkit
[INFO] 	at java.lang.Class.forName0(Native Method)
[INFO] 	at java.lang.Class.forName(Class.java:264)
[INFO] 	at java.awt.Toolkit$2.run(Toolkit.java:860)
[INFO] 	at java.awt.T

[2019-03-13 06:59] sormuras commented on #1595
Which version of Maven and which version of Surefire do you use? Did you change any of these recently?

[2019-03-13 07:02] Bkbest commented on #1595
Hi sormuras,
Thanks for very quick reply,
Maven version is 3.0.5
surefire version:  2.12.4
we did not make any changes to the test cases or to the maven or surefire version.

[2019-03-13 07:04] sormuras commented on #1595
Any change made to the Java version or flavor? Running in a container now? Headless mode?

[2019-03-13 07:07] Bkbest commented on #1595
No changes in java version, what do you mean by Headless mode?

[2019-03-13 07:10] sormuras commented on #1595
https://www.oracle.com/technetwork/articles/javase/headless-136834.html ... might not apply here.

Looks like class `sun.awt.X11.XToolkit` is present but its `static {...}` didn't complete. Is there any more detailed logging statement what went wrong there?

[2019-03-13 07:44] panchenko commented on #1595
As specified in the article, `-Djava.awt.headless=true` should be passed to java when running tests.
Most likely, jenkins runs in background without access to the computer display, but code under test is trying to use the related classes and that fails.

And the question is not related to JUnit :-)

[2019-03-13 08:48] Bkbest commented on #1595
@sormuras
for some test cases I get
Can't connect to X11 window server using 'localhost:11.0' as the value of the DISPLAY variable.

and for some test cases I get
Could not initialize class sun.awt.X11.XToolkit

this is one such exception for a test case

testDeleteIOI(com.mypackage.deletion.TestDelete)  Time elapsed: 0.004 sec  <<< ERROR!
[INFO] java.lang.NoClassDefFoundError: Could not initializ

[2019-03-13 09:00] marcphilipp commented on #1595
As @panchenko said, this question is not strictly related to JUnit. I think you'd be better of asking on StackOverflow. 🙂

[2019-03-13 09:00] #1595 closed

[2019-03-14 18:44] kcooney commented on #1496
I just started the process of using 4.13 at Google and ran into two warnings (which are treated as errors by our build system) and sent out two pull requests. I might run into more problems when I start running lots of tests under 4.13

Can we wait a week or so?

Alternatively we could target 4/13 ;-)

[2019-03-14 19:17] stefanbirkner commented on #1496
@kcooney Am I right that the two PRs you mentioned are #1596 and #1597? 4/13 sounds like a perfect target :-)

[2019-03-14 20:26] marcphilipp commented on #1496
That sounds like a good validation, so let's wait for the results.

Fun fact: 4.12 was released on 12/4 😉

[2019-03-15 04:53] kcooney commented on #1496
Yes.

[2019-03-16 00:54] pavanbachu06 opened #1598 "Option to read retrieve parameters per test in Junit4"
able to read the test data from the JSON file for each test case using @paramter tag and run the test cases per parameter parallelly. Able to run the test case per parameter parallel using Parallel-Computer. Need help to figure out a way to read the parameter from JSON

[2019-03-16 01:29] kcooney commented on #1598
JUnit has support for running tests in parallel, as do some of the plugins for the various build tools. It's hard to make recommendations without knowing more about your environment (how you build and run tests, etc).

Reading JSON data is outside of the scope of JUnit

I suggest asking on stackoverflow.com. See https://stackoverflow.com/help/how-to-ask for how to ask a good question there. Feel f

[2019-03-16 01:29] #1598 closed

[2019-03-17 05:04] loneshaana commented on #1513
This one worked for me as well

[2019-03-18 08:39] Tibor17 commented on #1513
@loneshaana
There is no reason to use such old version of Surefire `2.21.0`. Use the latest version `3.0.0-M3` and you would not have problems.

[2019-03-18 15:53] TimvdLippe commented on #1496
I am seeing a regression in our `DefaultInternalRunner` in Mockito. Having a hard time figuring out what is going on, but the issue is that `testFinished` is called even though the test failed. However, from [the history of ParentRunner](https://github.com/junit-team/junit4/commits/master/src/main/java/org/junit/runners/ParentRunner.java) I can't spot any obvious issue.

The test that regresses on

[2019-03-19 17:20] simonezampinistud commented on #183
I need it...

[2019-03-19 20:01] kcooney commented on #183
@simonezampinistud could you describe how `Assume`, `@Ignore` and `assertThrows()` don't meet your needs?

[2019-03-19 20:14] kcooney commented on #1496
@TimvdLippe The Javadoc for `RunListener.testFinished()` states:

"Called when an atomic test has finished, whether the test succeeds or fails." I can't speak to why you are seeing different behavior between 4.12 and 4.13, but the behavior you are seeing for 4.13 sounds like it is correct.

[2019-03-19 20:37] TimvdLippe commented on #1496
I would like to update the behavior so that it works properly with JUnit 4.13, although I fear that we might break our JUnit 4.12 integration. I will try to figure out a solution tomorrow.

[2019-03-21 14:28] TimvdLippe commented on #1496
I was able to extract a reproduction case from Mockito into #1599. It seems to be related to the handling of `withBefores`.

[2019-03-25 10:36] simonezampinistud commented on #183
I have to test a "test framework". I have to test a method which contains itself a call to "fail()".

[2019-03-25 11:00] panchenko commented on #183
@simonezampinistud Something like the following. Copied from https://github.com/junit-team/junit4/blob/master/src/test/java/org/junit/tests/assertion/AssertionTest.java
[code]

[2019-03-27 11:12] noviceamateur opened #1600 "Cartesian product of base and derived class parameter"
I have parameters in both the base and derived test classes. So I want the tests in derived class to run for the cartesian product of those.

Sample code -

[code]

The expected output -

Base Param = base1
Derived Param = derived1
Base Param = base1
Derived Param = derived2
Base Param = base2
Derived Param = derived1
Base Param = base2
Derived Param = derived2

[2019-03-27 16:06] marcphilipp commented on #1600
I'm afraid that's not how `Parameterized` works. It will only find one of the `@Parameters` methods. Thus, you'll need to override the method in the subclass and compute the cartesian product yourself.

[2019-03-27 16:11] noviceamateur commented on #1600
Override which method in my subclass ?

Also, could this be taken up as a feature request in that case ?
Is it possible to do so in Junit5 ?

[2019-03-27 23:07] kcooney commented on #1600
Have you considered the Theories runner?

[2019-03-29 00:03] kcooney commented on #1496
As I'm testing out 4.13 in our code base, #1421 is causing some problems.

[2019-04-01 03:58] deanveloper opened #1601 "Update "Download and Install" wiki page to use hamcrest.jar instead of hamcrest-core.jar"
Related: #1575

Currently, [the wiki](https://github.com/junit-team/junit4/wiki/Download-and-Install) states to download [hamcrest-core](https://search.maven.org/search?q=g:org.hamcrest%20AND%20a:hamcrest-core).

The hamcrest-core.jar link is incorrect. Because `hamcrest-core` is deprecated, the only class that it contains is a class named `org.hamcrest.HamcrestCoreIsDeprecated`
![screenshot](http

[2019-04-01 04:28] kcooney commented on #1601
JUnit 4.x currently compiles against hamcrest-core 1.3. I don't know if anyone has validated which more recent versions of Hamcrest it works with.

Three paths forward: a) someone validates that JUnit 4.13 works with Hamcrest 2.x, and we update the docs to link to `hamcrest.jar` b) we update the link to point to  https://search.maven.org/artifact/org.hamcrest/hamcrest-core/1.3/jar c) remove this s

[2019-04-01 04:34] kcooney commented on #183
@simonezampinistud if you can use Java 8 or greater, I highly recommend `org.junit.Assert.assertThrows`

[code]

The `assertThrows` method returns the exception thrown by the lambda, so you can make assertions on it. For example, if you use [Truth](https://google.github.io/truth/), you can do this:

[code]

[2019-04-01 04:37] deanveloper commented on #1601
My main argument against this is that I don't want to set up an entire maven/gradle workspace, or install an entire IDE just to do a quick proof of concept. I'd much rather just `javac -cp ".;*" POC.java` and `java -cp ".;*" POC`.

If it were my decision - the `b)` route sounds like the best immediate solution, although the `a)` route would be ideal if it could be verified to work fine. My proof o

[2019-04-01 18:10] kcooney commented on #1601
Since the primary use case is developers doing a proof of concept, I went with approach b.

[2019-04-01 18:10] #1601 closed

[2019-04-03 10:32] RahulNagekar commented on #164
My case is like following, I want to fail if any exception occurs.
[code]
As, failure is an assert failure I cant throw a excpetion after it.
But, I will need the tracktrace incase of failure to trace the root cause.

My current workaround to this is :
[code]

[2019-04-03 15:10] kcooney commented on #164
@RahulNagekar have you tried `assertThrows()`?

[2019-04-03 15:15] marcphilipp commented on #1496
Does anyone have time to submit a PR that reverts #1421?

[2019-04-04 09:23] marcphilipp commented on #1496
Done in #1602 by @panchenko.

@kcooney Shall we do another beta release?

[2019-04-04 14:52] kcooney commented on #1496
@marcphilipp up to you. The recent changes shouldn't affect people on 4.12 (only people on a prerelease of 4.13).

In our code base I am currently working through the many places that pass `null` to the `FrameworkMethod` constructor 🙄 which unfortunately make it hard to see the real problems.

[2019-04-06 08:07] marcphilipp commented on #1496
@kcooney Can you estimate how much time you'll need to get through those changes and run a final test run?

[2019-04-10 16:42] kcooney commented on #1496
@marcphilipp sorry for the late reply (I was on vacation). Currently 2.9% of our tests fail with JUnit 4.13, but some might be flaky failures. A manual sample isn't showing any problems due to changes in 4.13, but I still have many to go through.

[2019-04-10 16:43] marcphilipp commented on #1496
@kcooney No worries! So, no estimate, right? 😉

[2019-04-11 22:35] kcooney commented on #1496
@marcphilipp So far, the remaining failures have been tests that have done questionable things, so I wouldn't block 4.13 on those. I'll look through all the failures tonight.

Some examples of tests failing due to doing questionable things:

We have some tests were a subclass has a `@Rule` field that is the same name and type as the base class field (which is also annotated with `@Rule`). Apparent

[2019-04-12 08:00] Panthro opened #1604 "Attempting to rerun failing JUnit 4 Parameterized tests in IDEA fails"
When I have a test with

`@Parameterized.Parameters(name = "{1} : {0}")`

If I try to rerun failed tests in Intellij Idea, then I get:
[code]

If I leave the @Parameterized.Parameters without name it works, any idea?

Found a Junit5 related issue, https://github.com/junit-team/junit5/issues/1386

Junit version 4.12, can this be related or should I open another issue?

[2019-04-12 11:30] panchenko commented on #1604
In IDEA is 2019.1 it works for me. As suggested in the mentioned junit5 issue - please trying a newer version of IDEA

[code]

[2019-04-12 21:11] kcooney commented on #1496
@marcphilipp I'm trying to remember why I made the changes in #4114

While it's true that fields don't shadow the same field from the base class, JUnit 4.x has treated it as if they do for a while now. The (again, large) code base I'm workong on has many examples of code that assumes that the subclass class `@Rule` fields will replace the behavior of the base class's fields. While it's not all tha

[2019-04-13 11:02] marcphilipp commented on #1496
I think we should revert it and restore the old, albeit questionable behavior for backwards compatibility.

@stefanbirkner WDYT?

[2019-04-13 11:10] stefanbirkner commented on #1496
I agree. I don't see any advantage that justifies breaking existing tests.

[2019-04-13 11:12] stefanbirkner commented on #1496
Do you want me to create a PR?

[2019-04-13 12:14] stefanbirkner commented on #1604
@Panthro Which version of IntelliJ IDEA are you using?

[2019-04-14 12:53] marcphilipp commented on #1496
I think we should release another beta release. @kcooney Shall I do that in the next few days or have you discovered additional issues with 4.13-beta-2?

[2019-04-14 14:05] kcooney commented on #1496
@marcphilipp I patched in the latest change, and while I am still looking through reruns, I don't see any patterns (other than tests asserting on error messages that we improved). I think the remaining issues I am seeing are bad or flaky tests.

Sorry this took so long but I am glad we reverted those changes!

[2019-04-24 09:32] CarlSalaets opened #1606 "Make Statement an interface instead of an abstract class"
`org.junit.runners.model.Statement` is currently an abstract class with a single method.
Why is this not an interface so we could take advantage of the Java 8 lambda syntactic sugar?

Implementing a TestRule would become simpler:
[code]

[2019-04-24 12:19] derwasp opened #1607 "[Question] Run JUnit4 commandline against a fat jar."
I am new to the JVM world and hence don't know much about it. Though it's not stackoverflow.com, I hope you guys can point me to the right direction.

Here is an issue I am trying to tackle:

I have a fat jar that has a JUnit4 test class. I can run it in gradle and it works just fine.
However what I would like to do is have a run it from a commandline.
I read the documentation and can see that one

[2019-04-24 13:43] kcooney commented on #1606
The class predates Java 7.

Unfortunately, we can't change it to an interface without breaking users.

[2019-04-24 13:43] #1606 closed

[2019-04-24 13:50] kcooney commented on #1607
JUnit 4 doesn't have built-in support for this, but there are third-party options. One of them is https://github.com/takari/takari-cpsuite (that's apparently the new home for https://blog.johanneslink.net/2006/11/14/classpathsuite-for-junit4/)

[2019-04-24 15:45] derwasp commented on #1607
Thanks, I will check it out.
Since Junit4 doesn't support it, I guess I can close the issue.

[2019-04-24 15:45] #1607 closed

[2019-04-24 15:59] kcooney commented on #1607
If you want to run just one test and know the full class name you could specify it on the command line:

[code]

[2019-04-24 16:01] kcooney commented on #1607
Note that ClasspatgSuite is useful if you want to run multiple tests and don't want to list them all on the command line. You would still need to pass one class name on the command line if you use `JUnitCore`

[2019-04-24 16:13] derwasp commented on #1607
yeah, I figured that out, too. thanks!

The thing is that I have a few classes I want to run. I guess `ClasspathSuite` might be an option.

I am also looking at using gradle for it: run the tests from the compiled jar. I have a working prototype already.

[2019-05-05 13:18] marcphilipp commented on #1496
4.13-beta-3 is released and ready for testing.

[2019-05-05 15:11] sbrannen commented on #1496
It would be great if one of you could merge in https://github.com/junit-team/junit4/pull/1608.

[2019-05-05 15:17] sbrannen opened #1609 "Undeprecate ExpectedException rule"
After upgrading the Spring Framework to JUnit 4.13 beta 3, I noticed that `org.junit.rules.ExpectedException` is now `@Deprecated`, and this change generates a lot of warnings in a large code base like that.

Since 4.13 is the last intended release in the 4.x line, I do not think it makes sense to deprecate such a commonly used and supported feature.

If you keep the deprecation in place, I fear t

[2019-05-05 15:17] sbrannen commented on #1496
I'd also be grateful if you would consider #1609.

[2019-05-05 16:13] kcooney commented on #1609
I think the deprecation warning is a good way to indicate that something better is available, so the warnings aren't there for no good reason. `ExpectedException` can easily be misused yet is still recommended in a lot of places.

The question is how problematic it is for our users to have these deprecation warnings. In my company deprecation warnings don't show up at build time (only when viewing

[2019-05-05 18:07] marcphilipp commented on #1609
I think Sam has a point here. I've seen many builds that forbid all (new) compiler warnings. Such projects would have to go through all their test classes that use `ExpectedException` and add a `SuppressWarnings` annotation.

@stefanbirkner WDYT?

[2019-05-05 19:01] kcooney commented on #1609
Having clients suppress the warnings seems reasonable. They could also suppress all deprecation warnings; treating deprecation warnings as errors makes it impossible to deprecate anything.

Deprecation is our best way to indicate to people that the old API is problematic and much better APIs are available.

[2019-05-06 15:30] sbrannen commented on #1609
I understand that developers can suppress warnings locally within an IDE; however, I disagree that deprecating a core feature in the (planned-to-be) **final** release of JUnit 4.x is a good idea.

IMHO, it is not a good idea to deprecate a core feature in the final release of any framework, especially  one in such widespread use as JUnit 4.

As a concrete example, in the core Spring Framework test

[2019-05-06 15:38] panchenko commented on #1609
Doing # 2 would simplify future migration to JUnit 5.

[2019-05-06 16:44] sbrannen commented on #1609
Sure. That would make a migration to JUnit Jupiter or AssertJ potentially easier; however, not everyone wants to or needs to migrate existing test suites.

Thus, I do not consider that a valid argument.

[2019-05-06 16:49] kcooney commented on #1609
I'm not sure why this likely being the last JUnit 4.x release is related to whether or not we deprecate things. JUnit rarely deletes _any_ APIs, so deprecation hasn't been an indication that an API is going away. It's an indication that either that the API might not be supported and/or better APIs exist. Both are true in this case (we've rejected proposed changes to this rule because we think it's

[2019-05-07 22:57] stefanbirkner commented on #1609
TL;DR I'm in favor for deprecating ExpectedException.

@kcooney already said that deprecation in JUnit 4 does not mean that we will remove things because a design decisions of JUnit 4 is to avoid breaking changes. Therefore it does not so important whether this is the last 4.x release or not.

I think it is helpful to have the deprecation because it tells people that there is a better way of check

[2019-05-08 16:11] philwebb commented on #1609
Just for a bit more information, it took about 1.5 days to migrate Spring Framework's codebase from JUnit's `ExpectedException` to AssertJ's `assertThatExceptionOfType`.

One small suggestion that might help is to consider deprecating just the `ExpectedException.none()` method rather than the entire class. This would still give people the warning, but it would make it much easier to suppress in is

[2019-05-08 16:50] mp911de commented on #1609
JUnit's `ExpectedException` is used as a primitive type in tests that perform more extensive exception assertions than just `@Test(expected = …)`. These are typically tests that rely on Hamcrest or built-in assertions and not so much AssertJ or that like.

Having JUnit 4.13 is a signal of active maintenance happening. Code bases that remain on JUnit 4.x API are likely to not be migrated to JUnit 5

[2019-05-09 16:20] sbrannen commented on #1609
If the JUnit 4 team decides not to undeprecate the `ExpectedException` rule, I think this would be a good compromise.

[2019-05-09 17:10] rweisleder commented on #1609
I wonder if `@Test(expected = ...)` should also be deprecated since we have `assertThrows` now. Or at least the reference to `ExpectedException` should be removed from the attribute's Javadoc.

[2019-05-10 16:08] sbrannen commented on #1609
Yes, the `expected` attribute in `org.junit.Test` should likely be deprecated. In any case, the class-level Javadoc for `org.junit.Test` and the `expected` attribute should be updated to recommend the use of `assertThrows`.

[2019-05-11 03:36] kcooney commented on #1609
I would be in favor of deprecating just `ExpectedException.none()`.

[2019-05-15 21:14] legna-github commented on #1108
I used the approach shown on https://bekce.github.io/junit-multiple-runwith-dependent-tests/ to combined my mockito tests (@RunWith(MockitoJUnitRunner.class)) with parameterized test (@RunWith(Parameterized.class))

worked as a charm, the only caveat i would add is that i had to make member of my outer runner (Parameterized) static in order to be accessible from the inner class runner (MockitoJUni

[2019-05-18 16:22] joaodias14 commented on #1365
Shouldn't this be cherry-picked to JUnit 5? I'm having the same issue with 5.3.2.

[2019-05-18 19:27] marcphilipp commented on #1365
@joaodias14 Please upgrade to the latest version, it was fixed in 5.4.0.

[2019-05-18 21:54] joaodias14 commented on #1365
Many thanks @marcphilipp!

[2019-05-20 23:48] kcooney opened #1611 "Add @Target(ElementType.ANNOTATION_TYPE) to @ValidateWith"
The ValidateWith annotation is designed to be applied only to another annotation. We should indicate that with a Target annotation.

[2019-05-28 07:16] ChaminW commented on #1030
I do vote up this issue since it's important to have a more informative error message for assertTrue and assertFalse. My colleagues and I are reluctant to use assertTrue/assertFalse because of this.

[2019-05-28 21:20] vRallev opened #1614 "Provide a `CompositeTestRule`"
`RuleChain` has been deprecated in version 4.13 and the replacement is to use the order attribute in the `@Rule` annotation. But `RuleChain` also served as a composite test rule and there is no replacement for that. Let's say I have a method like this:
[code]
Previously I was returning a `RuleChain`, that combined multiple rules. There is no replacement for this purpose.

Yes, it would be easy to

[2019-05-28 21:37] panchenko commented on #1614
@vRallev Could you please elaborate more on the use case?

[2019-05-28 21:46] vRallev commented on #1614
Many of our tests require a specific set of test rules. Instead of having a base class, we provide the functionality through test rules. To avoid repeating the `RuleChain` in every class, we've extracted the setup into a factory method. In this specific case the test would look like this:
[code]
The factory method looked similar to this:
[code]
The order of the rule chain matters to us.

I was loo

[2019-05-29 14:50] marcphilipp commented on #1614
@junit-team/junit-committers WDYT?

[2019-05-31 15:36] stefanbirkner commented on #1614
I'm in favour for removing the deprecation from RuleChain. I also use it for combining rules into a single one. I was just not sure whether this is a more common use case or it was only me because I built RuleChain.

[2019-05-31 16:28] marcphilipp commented on #1614
I have also used it like that in the past. +1 on undeprecating it.

@vRallev Would you be interested in submitting a PR?

[2019-05-31 16:43] vRallev commented on #1614
Yes, starting in a minute.

[2019-05-31 17:04] vRallev commented on #1614
Done #1615

[2019-06-01 17:25] LeGritche opened #1616 "AssumeFalse description : "got" and "expected" are inverted"
The description of Assume.assumeFalse is wrong.

Running the test :
`assumeFalse(true);`

give the description :
`org.junit.AssumptionViolatedException: got: <false>, expected: is <true>`

instead of
`org.junit.AssumptionViolatedException: got: <true>, expected: is <false>`

I think the implementation of assumeFalse should be :
`Assume.assumeThat(b, CoreMatchers.is(false));`

[2019-06-01 19:21] marcphilipp commented on #1616
Indeed! 😳

@LeGritche Would you be interested in submitting a PR?

[2019-06-17 19:29] magwas opened #1618 "Unrooted tests with custom test runner"
I am writing a framework which generates both test cases and stubs from contract information.
To make life easier, I would like to use the already existing framework of Junit for running the tests.

So I have introduced the @Contract annotation instead of @Test and trying to write a runner.
The runner is running fine, but Eclipse reports all the contracts as unrooted tests.

What conditions should

[2019-06-19 13:22] marcphilipp commented on #1618
@magwas Can you share the implementation of your runner? Which class does it extend?

[2019-06-19 14:20] magwasada commented on #1618
The contract runner is here : https://github.com/magwas/PDEngine/blob/feature/refactor_to_services/src/test/java/org/rulez/demokracia/pdengine/contract/ContractRunner.java
It extends Runner.
All the parts of the solution are in the same folder.

[2019-06-19 14:44] marcphilipp commented on #1618
You should really extend `ParentRunner`. It would force you to implement `getChildren()` (to return your contracts) and `describeChild()` to generate a `Description` for each child. The missing condition that you need to satisfy is to add the test `Descriptions` as children of the `Description` returned by `getDescription()`.

[2019-06-19 14:44] #1618 closed

[2019-06-19 21:18] kluever opened #1619 "Feature request: add java.time.Duration support to org.junit.rules.Timeout"
Representing durations as `long`s can easily lead to unit mismatch problems.
Representing durations as `long, TimeUnit` pairs can require plumbing 2 values through multiple layers (and can suffer from unit mismatch or truncation issues).

Could proper `java.time.Duration` support be added to the `Timeout` class?

(If this should be filed under junit5, please let me know and I'll open it there.)

[2019-06-19 23:04] stefanbirkner commented on #1030
@ChaminW You can use `assertTrue("Some more specific message.", value);` for more informative error message.

[2019-06-20 10:20] vlsi commented on #929
It is really sad JUnit uses non-standard LICENSE name.

I think LICENSE should be included in `META-INF/` folder, so standard resource transformers can understand how to deal with licenses.

See https://maven.apache.org/plugins/maven-shade-plugin/examples/resource-transformers.html#ApacheLicenseResourceTransformer

[2019-06-20 11:28] marcphilipp commented on #1619
JUnit Jupiter is about to add support for "declarative" timeouts using a `@Timeout` annotation on test classes or methods (see [User Guide](https://junit.org/junit5/docs/5.5.0-RC2/user-guide/#writing-tests-declarative-timeouts) for details). It also uses the `long, TimeUnit` combination because `Durations` cannot be expressed in annotations. In addition, it allows to declare timeouts globally, i.e

[2019-06-20 14:05] Oxilod commented on #1616
Here is the change requested if I understood the issue correctly: https://github.com/junit-team/junit4/pull/1620

[2019-06-20 17:21] carl-mastrangelo commented on #1619
@marcphilipp does that work with `DisableOnDebug` ?

[2019-06-20 17:28] Tibor17 commented on #1619
In the API architecture perspective this is caled value object. That means both values `long` and `TimeUnit` cannot be safely decouled. Using `java.time.Duration` makes sense to me as this is the wrapper and good value object in this JUnit 4.

[2019-06-20 17:31] Tibor17 commented on #1619
@marcphilipp
Not in JUnit5 but in yes JUnit4 because `org.junit.rules.Timeout` is not annotation. So this can be nice here.

[2019-06-20 17:31] kluever commented on #1619
Re: "How do you currently do the plumbing to pass the duration through multiple layers?"

I'm not sure I fully understand the question, but in order to use a `long, TimeUnit` pair, you need to pass both variables through all layers of your application. With `Duration`, you only need to pass 1 variable.

[2019-06-20 17:36] marcphilipp commented on #1619
How do you call JUnit so that there are layers around it?

[2019-06-20 17:38] marcphilipp commented on #1619
JUnit 4 is compatible with Java 5 and will stay that way. Thus, adding support for `Duration` would be rather involved, if feasible at all.

[2019-06-20 18:07] #1616 closed

[2019-06-21 00:31] volodymyr-havryliuk commented on #1587
@marcphilipp  it's from ScriptRunner plugin for Jira.

[2019-06-21 06:17] #1614 closed

[2019-06-25 12:18] jzgithub1 commented on #1223
Was this issue every fixed for certain?

[2019-07-04 07:45] noviceamateur opened #1623 "Exclude all categories in failsafe"
I want to exclude those test classes which have ALL the categories mentioned in the section of the failsafe configuration.

Presently, I believe it excludes all test classes which have any one of the categories mentioned in the configuration.

    <excludeGroups> Group1, Group2 </excludeGroups>

@Categories(Group1.class)
public class SampleTest {
}

I want SampleTest to run with the mentioned conf

[2019-07-04 09:00] Tibor17 commented on #1623
You mean the POM?
You have used
`excludedGroups` or
`excludeGroups` including the package (fully qualified class name)?

[2019-07-04 09:22] noviceamateur commented on #1623
I used `<excludeGroups>` and fully qualified class names.
My assumption is that it should do a AND of the groups mentioned.

[2019-07-04 09:25] Tibor17 commented on #1623
@noviceamateur
Did you see the documentation?
http://maven.apache.org/surefire/maven-failsafe-plugin/integration-test-mojo.html#excludedGroups
http://maven.apache.org/surefire/maven-failsafe-plugin/examples/inclusion-exclusion.html

[2019-07-04 09:28] Tibor17 commented on #1623
The Surefire and Failsafe do not perform any logic like AND. This logic can be in provider. In this case JUnit but again the feature has to be described in JUnit documentaion.

[2019-07-04 09:31] noviceamateur commented on #1623
So  the failsafe plugin is excluding the tests  if it has any one of the groups mentioned in the `<excludedGroups>` .

But I want to exclude test cases only if they have ALL the groups mentioned in the tag.

Would this be a ask for failsafe plugin or junit ?

[2019-07-04 09:35] Tibor17 commented on #1623
Surefire and Failsafe only `deliver your setting` to junit instance. What the junit does is up to the junit.
I think this works with OR.
If you want to have AND, you may want to introduce a new group `C` which inherits `A` and `B`.
Just a guess.

[2019-07-04 09:41] noviceamateur commented on #1623
So junit performs the logic of deciding whether to run a test or not depending on the settings supplied to it by failsafe right ?

Can this be taken up as a feature request ?

[2019-07-04 09:44] Tibor17 commented on #1623
@noviceamateur I am responsible only for the Failsafe/Surefire where i made a correctnees due to you have made a typo with `excludGroups`.
You can ask junit committers with junit related questions.
ok, hoping this helps.

[2019-07-04 09:53] noviceamateur commented on #1623
`<excludedGroups>` is the correct tag right ? `<excludeGroups>` is incorrect ?

[2019-07-04 09:53] Tibor17 commented on #1623
@noviceamateur
Several years ago I developed `matchAny` in inclusion/exclusion annotation, see the Javadoc:
https://junit.org/junit4/javadoc/4.12/org/junit/experimental/categories/Categories.IncludeCategory.html
This is related to `Suite` runner. Slightly different from your usecase. Can you use the Suite instead?

[2019-07-04 09:54] Tibor17 commented on #1623
`excludedGroups` is correct one.

[2019-07-04 10:05] noviceamateur commented on #1623
I will take a look at it. Thank @Tibor17 . Much appreciated

[2019-07-04 14:23] marcphilipp commented on #1623
Closing because JUnit already provides that feature and Surefire uses its own Filter to include/exclude tests based on categories.

[2019-07-04 14:23] #1623 closed

[2019-08-07 07:10] proski commented on #1609
I believe using deprecation to advertise a new feature is a heavy handed approach that would damage trust in JUnit development process and hold back adoption of version 4.13.

There should be a version overlap when the old and the new feature coexist without either being deprecated. As others pointed out, having dependencies on deprecated methods is a no-go for many projects that keep code quality

[2019-09-05 20:43] sabi0 opened #1626 "`failNotSame` message could emphasize reference equality"
When calling `assertSame` for two different instances of identical objects the failure message will be quite confusing: "expected same: <[1, 2]> but was: <[1, 2]>".
See https://github.com/junit-team/junit4/blob/8c9e81daf38efa8b4af9ba5c55fe83765ac434d6/src/main/java/org/junit/Assert.java#L829

I think the clarity could be improved by adding identityHashCode to the message, like this:
"expected same

[2019-09-06 05:42] panchenko commented on #1626
There are cases when identityHashCode is not needed, like `enum` or when it's already present in `toString()`, like default implementation in `Object`. It should not be added always for sure, a good question if it's worth determining cases like Collection or leave the implementation as is.

[2019-09-06 06:55] sabi0 commented on #1626
Well, technically `enum` values could also produce identical `toString()` output. And though one wouldn't normally do that such assumption can not be made JUnit code.

Instead of targeting specific cases why not just address the essence of the issue - identical `toString()` outputs?
How about this?
[code]

Then even cases like `assertSame(null, "null")` would produce a clear output:

[2019-09-10 18:30] marcphilipp commented on #1626
@sabi0 FWIW JUnit Jupiter includes the identity hash code if both strings are equal. https://github.com/junit-team/junit5/blob/b7897dbf9c70158f3fee76c56b9c1508b416968c/junit-jupiter-api/src/main/java/org/junit/jupiter/api/AssertionUtils.java#L115-L129

[2019-09-19 16:35] sullis commented on #1496
I recently upgraded to from JUnit 4.12 to JUnit 4.13-beta-3.  It is working great.

The reason that I upgraded is because I needed this fix:
https://github.com/junit-team/junit4/commit/faa0e334080cd91f05fc1acbc7c39a525e172256

Any thoughts about 4.13.0 GA?

[2019-09-20 06:50] marcphilipp commented on #1496
@sullis The main remaining issue is to fix the recommendations wrt. Hamcrest (see #1608).

[2019-09-23 05:50] tumbarumba commented on #1496
The Hamcrest team (a.k.a me) is not planning to make any changes with respect to #1608. Does this mean that there are no other blockers for 4.13?

[2019-09-23 11:17] marcphilipp commented on #1496
I didn't mean we were waiting on the Hamcrest team to make changes. I was referring to https://github.com/junit-team/junit4/pull/1608#issuecomment-496492379:

[2019-09-23 14:01] stefanbirkner commented on #1496
I'm taking care of the "deprecation messages" from Wednesday on.

[2019-09-23 15:48] sbrannen commented on #1496
If you get it done by Wednesday night, I might be able to include it in [Spring Framework 5.2 GA](https://github.com/spring-projects/spring-framework/milestone/216), thereby allowing me to revert this commit https://github.com/spring-projects/spring-framework/commit/665e8aa51c11992909134d3ad5eebca6c94aa877.

But... no pressure. Officially stating that Spring Framework 5.2 supports JUnit 4.13 is on

[2019-09-25 19:13] stefanbirkner commented on #1496
Hi @sbrannen, I started but I don't get it done tonight. I'm currently reading all the comments and try to understand all the details.

[2019-09-26 12:47] sbrannen commented on #1496
@stefanbirkner, no worries! Like I said, that would have been "nice to have", but there's certainly no requirement for it. JUnit 4.13 still potentially has time to get picked up officially by Spring Boot 2.2. 😉

[2019-10-09 11:55] dev930018 commented on #82
This is still an issue as of 4.12 and can cause a huge unexpected performance hit.

## Minimal example
For `N=5` datapoints of type `T=int` and `M=3` arguments of type `T` to a Theory
[code]

## Output
[code]

In general, for `N` datapoints of type `T` and a Theory taking `M` arguments of type `T`, this requires `S = sum(1 + N + N^2 + ... + N^M) ~ O(N^M)`, which seems pretty excessive...

## Worka

[2019-10-09 11:57] dev930018 opened #1629 "Performance issue: @DataPoints from functions and @Theory with multiple arguments"
This is still an issue as of 4.12 and can cause a huge unexpected performance hit.

## Minimal example
For `N=5` datapoints of type `T=int` and `M=3` arguments of type `T` to a Theory
[code]

## Output
[code]

In general, for `N` datapoints of type `T` and a Theory taking `M` arguments of type `T`, this requires `S = sum(1 + N + N^2 + ... + N^M) ~ O(N^M)`, which seems pretty excessive...

## Worka

[2019-10-10 10:52] noviceamateur opened #1630 "Test report xml for a test is not full."
TThis is the test report after running a test with junit.
We are running it in jenkins with flaky test plugin and retrying it on failure.

Somehow, it is unable to copy the console logs in <system-out> section which remains incomplete without a closing tag.
The failsafe plugin is unable to parse this xml.

[```
[>   <testcase name="testBasicDiscardAndRestoreListing" classname="integrationtests.res

[2019-10-10 10:54] marcphilipp commented on #1630
The XML file is written by the maven-surefire plugin, not junit. Please open an issue there.

[2019-10-10 10:54] #1630 closed

[2019-10-14 09:41] sebastianvintila commented on #1316
@Macarse regarding the issue of missing testSuccess method here is the solution i have implemented

private static final Description FAILED = Description.createTestDescription("failed", "failed");

public void testFinished(Description description) throws Exception {
        System.out.println("Finished test: " + description.getMethodName());
        if (description.getChildren().contains(FAILED))

[2019-10-15 17:11] sullis commented on #1496
any thoughts about 4.13.0 GA?

[2019-10-16 06:10] proski commented on #1496
Without some resolution for #1609, JUnit 4.13 risks to be less relevant than it could be. Users of JUnit 4.12 are waiting for bugfixes and possibly some backports from JUnit 5, not for deprecation of the code that is not broken.

[2019-10-16 07:18] Anton-nsk opened #1631 "Parameter "skipAfterFailureCount" no working"
I have a Maven test project. In which I use context-related tests. I use maven-surefire-plugin to run tests. I need to make the test stop running after the first failed test. I found a way to do this through -Dsurefire.skipAfterFailureCount=1, but it doesn't work. Maybe I'm doing something wrong? Below is my pom.xml:

    <properties>
        <selenide.version>5.3.0</selenide.version>
        <jun

[2019-10-16 07:19] marcphilipp commented on #1631
Please open an issue with the [maven-surefire-plugin](https://maven.apache.org/surefire/maven-surefire-plugin/issue-management.html).

[2019-10-16 07:19] #1631 closed

[2019-10-16 07:30] marcphilipp commented on #1609
Why? The intent of the deprecation is to make people aware of the new, in our opinion better API.

I also agree that we should only deprecate `ExpectedException.none()` to make it less invasive.

@stefanbirkner Ok with you?

[2019-10-18 17:41] proski commented on #1609
@marcphilipp When I update my code, I want things to work without deprecations unless I'm doing something wrong. It's too intrusive to deprecate a feature and provide a replacement at the same time. Instead, the 4.13 release notes should say that `ExpectedException` will be deprecated in the next version and suggest a replacement. That way, I'll have a way to migrate my code step-by-step without h

[2019-10-18 18:31] marcphilipp commented on #1609
IMHO the point of a deprecation warning _is_ to give you time to migrate your code towards the replacement. If you need to work around the deprecation warning, you can create your own temporary factory method that delegates to `ExpectedException.none()`.

[2019-10-18 18:47] #1611 closed

[2019-10-19 06:48] proski commented on #1609
OK, the PR mitigates the issue to some degree, it's definitely a step in the right direction. Thank you for doing that!

Rather than suggesting that users implement a factory method, the code could provide its own non-deprecated method (maybe `none` with an extra argument).

I still don't understand the resistance against giving users a transitional version. When implementing an incompatible chang

[2019-10-21 07:39] ankelen opened #1634 "Can I set an alias for the test method name?"

[2019-10-21 07:46] marcphilipp commented on #1634
You mean like a `@DisplayName` in JUnit Jupiter?

[2019-10-21 07:52] ankelen commented on #1634
yes...
I use SpringBoot in my application and it depends on Juint4

[2019-10-21 09:26] #1634 closed

[2019-10-21 19:02] #1609 closed

[2019-10-22 21:50] sullis commented on #1496
are there any blockers for JUnit 4.13 GA?

[2019-10-23 14:47] marcphilipp commented on #1496
I don't see any. I'll publish a 4.13-rc-1 to get some more feedback on the latest changes.

[2019-10-26 15:03] marcphilipp commented on #1496
JUnit 4.13-rc-1 is now available on Maven Central for testing! Please let us know if you run into any issues.

[2019-10-26 23:29] nstng opened #1636 "@Parameters-Method is called even if category is excluded"
Hi,

starting with 4.13-beta-n test that run with Parameterized can be categorized. If I exclude certain categories then it seems the @Parameters-Method of respective tests is called. E.g., the following Gradle task fails with an AssertionError.

[code]

[code]

I would expect that data() is not called if the test class is annotated with the excluded category. I see the same behavior with 4.13-rc-

[2019-10-27 15:26] marcphilipp commented on #1636
`Parameterized` calls the `@Parameters` method eagerly in its constructor. But even if it were called lazily, its base class `ParentRunner` only calls passed in `Filters` with its children. Thus, I don't see us changing that.

@kcooney @stefanbirkner WDYT?

[2019-10-28 23:44] razfriman commented on #1496
Tested 4.13 `beta` and `rc` and works for us at our large org 👍

[2019-11-05 03:43] proski commented on #1496
I tested JUnit 4.13-rc-1 with Stash Pull Request Builder plugin for Jenkins. Deprecations were triggered for files using `ExpectedException` once per file, as expected.

In many cases, the tests were checking the exception type, the message and the cause. I was able to fit all checks into one expression to avoid having a temporary variable.

I'm not getting any warnings or deprecations about the n

[2019-11-15 16:35] sullis commented on #1496
what is the status of JUnit 4.13?

[2019-11-15 18:53] marcphilipp commented on #1496
It's been three weeks now and only one issue has been reported: https://github.com/junit-team/junit4/issues/1636

@kcooney @stefanbirkner Could you please take a look? I think we can close the above issue.

[2019-11-16 23:41] kcooney opened #1637 "sortWith() and orderWith() should respect @FixMethodOrder"
When you order a suite using `Request.sortWith()` all of the runners that implement `Sortable` (like `BlockJUnit4ClassRunner`) will reorder their methods using the passed-in `Comparator`, even if the ordering was specified with `@FixMethodOrder`. The same holds true for `Request.orderWith()`. JUnit should instead not reorder methods for classes annotated with `@FixMethodOrder`

**Background:**

So

[2019-11-16 23:54] kcooney commented on #1636
I'm not sure how this could be fixed.

 Inclusion and inclusion of Categories is done by special filters. The way filtering works in JUnit4 is that you call one of the static methods in `Request` to create a `Request`. You then call `Request.filterWith(Filter)` to do the filtering. The `Filter` class is passed the `Description` objects that represent nodes in the test tree. To do the filtering, th

[2019-11-16 23:57] kcooney commented on #1496
@marcphilipp sorry for the long delay. I haven't had much time to work on JUnit for over a year.

I commented on that bug. I don't see how we can fix it.

I did have one feature request for 4.13. See #1637

[2019-11-17 08:06] marcphilipp commented on #1637
Makes sense to me.

@stefanbirkner WDYT?

[2019-11-17 08:07] marcphilipp commented on #1636
I'm closing this issue since there's no way to fix it without fundamental changes to JUnit 4.

[2019-11-17 08:07] #1636 closed

[2019-11-17 11:23] stefanbirkner commented on #1637
Thanks @kcooney for the thoroughly introduction to the problem. IMHO we should implement this change. @kcooney do you have time to create a PR or should I implement the change. I have some free time during the next two days.

I think we should not postpone 4.13 because of this change but instead target a 4.14 release within the next three month. We currently have a release candidate that seems to

[2019-11-17 18:17] kcooney commented on #1637
@stefanbirkner I thought we weren't planning on having any releases after 4.13 (which is why we decided to deprecate `ExpectedException.none()` in the same release where `Assert.assertThrows()` was added). If we think we will have a 4.14, then  perhaps we should remove the deprecation.

I have limited free time right now, but this isn't a big change, so I might be able to find some time at the end

[2019-11-18 09:35] stefanbirkner commented on #1637
You're right. There was a plan for 4.13 being the last release. @marcphilipp is this still valid?

[2019-11-18 11:33] marcphilipp commented on #1637
Yes, I think so unless there's a really good reason.

Since `orderWith()` is new, I think we should make the change now and postpone 4.13.

[2019-11-19 09:15] dabrosch commented on #1488
I also just ran into this today, and it specifically occurs when I run my JUnit Android Espresso test on an Emulator running API 23, but not with 26 or greater.

[2019-11-19 14:28] kcooney commented on #1637
@marcphilipp while `Request,orderWith()` and `@OrderWith` are new, `Request.sortWith()` is not. I think it might be odd to have the `orderWith()` respect `@FixMethodOrder` but `sortWith()` not respect it. That being said, if we change the sorting code so `sortWith()` respects `@FixMethodOrder` we would likely need to see who might broken by the change, which would require a delay of the 4.13 relea

[2019-11-19 14:32] kcooney commented on #1488
@dabrosch my guess is that this is Android-specific, which is why the JUnit team hasn't been able to reproduce it. Could you use a debugger to try to figure out why you are getting this failure message?

[2019-11-27 19:46] #1637 closed

[2019-11-29 16:26] sullis commented on #1496
Hi, what is the status of JUnit 4.13?

[2019-12-01 09:48] marcphilipp commented on #1496
#1637 was resolved and I'll release another RC.

[2019-12-01 11:09] marcphilipp commented on #1496
JUnit 4.13-rc-2 is now available on Maven Central for testing! Please let us know if you run into any issues.

[2019-12-01 19:53] sullis commented on #1496
I tested JUnit 4.13-rc2 and I didn't encounter any issues. LGTM

[2019-12-01 22:45] proski commented on #1496
Likewise, JUnit 4.13-rc-2 is working correctly for me. I'm using the new exception checks.

[2019-12-03 02:30] dabrosch commented on #1488
I can confirm that the result of Arrays.asList(new Object[][] { {null} } is the exact same when executing on Android API 23 or 26, therefore it must be in the Parameter assignment to a string that is coercing it into a String "null."

[2019-12-10 17:49] sullis commented on #1496
are there any blockers for JUnit 4.13 GA?

[2019-12-11 07:51] marcphilipp commented on #1496
@kcooney Could you please re-test with 4.13-rc-2 now that #1637 is resolved?

[2019-12-16 17:17] sullis commented on #1496
any update?

[2019-12-18 22:37] gracekarina commented on #1496
ok no problem then, we'll wait. Thanks!

[2019-12-23 15:05] sullis commented on #1496
are there any blockers for JUnit 4.13 GA?

[2019-12-23 20:02] kcooney commented on #1496
Sorry for the late reply; things have been busy these last few weeks.

I haven't had time to integrate the latest JUnit changes into our code
repository. I did look at the tests on our side that cover the behavior of
randomization when classes use FixMethodOrder, and they look almost exactly
the same as the tests I had it my pull. I don't see a reason block a JUnit
release on doing more verificati

[2019-12-31 15:42] stevewhitmore opened #1640 "More Concise Error Message In Tests"
It would be really useful to be able to add an additional argument to the `@Test` annotation to assert an error was thrown with a certain message instead of instantiating a new class and then calling a method on it.

ExpectedException is an okay workaround but it would be much more concise as

[code]

as discussed here: https://stackoverflow.com/questions/2469911/how-do-i-assert-my-exception-messa

[2019-12-31 21:38] sullis commented on #1496
q: are there any blockers for JUnit 4.13 GA?

[2020-01-01 07:58] panchenko commented on #1640
The JUni 4.13 / 5 solution is mentioned there https://stackoverflow.com/a/52085072/826958
Having message in the annotation is not flexible enough.

[2020-01-01 13:26] stefanbirkner commented on #1640
We don't recommend to use `@Test(expected=...)` anymore because there are better alternatives. Therefore we don't improve support for this type of exception testing. Here are two alternatives that come with JUnit 4. Assertion libraries like AssertJ have support for exception testing, too.

JUnit 4 provides the [ExpectedException](https://junit.org/junit4/javadoc/latest/org/junit/rules/ExpectedExce

[2020-01-01 13:26] #1640 closed

[2020-01-01 16:03] marcphilipp commented on #1496
JUnit 4.13 is released! 🎊
https://twitter.com/junitteam/status/1212403812192964608

[2020-01-01 16:03] #1496 closed

[2020-01-02 14:12] stevewhitmore commented on #1640
Thanks @panchenko and @stefanbirkner. I learned something new today. Appreciate the responses!

[2020-01-11 13:42] kriegfrj opened #1642 "Warn on mixed JUnit 3/4 tests"
I reported this issue in junit-team/junit5#1964, but perhaps should have reported it here. I didn't realise that there was still active development on JUnit 4.

If the JUnit 4 runner encounters a class that extends `TestCase` *and* has `@Test` annotations in it, then it will silently ignore all of the JUnit 4 tests. It would be good if it were not so silent about it, as it could lull people into a

[2020-01-12 13:32] marcphilipp commented on #1642
Just to set expectations, "active development" is a bit of an overstatement. 😉

[2020-01-13 00:23] kriegfrj commented on #1642
Well, I wasn't expecting there to be a 4.13 release, so the current level of activity is infinitely greater than I had supposed. :smile:

[2020-01-17 06:21] fallen3019 opened #1643 "Message for you"
We probably just didn’t understand each other

[2020-01-17 07:18] #1643 closed

[2020-01-18 11:09] marcphilipp commented on #1642
Fair enough. 😅

[2020-01-20 04:20] BilgehanYildiz opened #1644 "SpringBoot Custom.properties file unable to resolve placeholder property error in junit"
Hi I want to use junit to test my spring boot application.In my application It is working without problem but when I want to use unit test ,that time I got compilation error.My junit version is 4.12.

Caused by: java.lang.IllegalArgumentException: Could not resolve placeholder 'my.property' in value "${my.property}my.properties" at org.springframework.util.PropertyPlaceholderHelper.parseStringValu

[2020-01-20 07:10] marcphilipp commented on #1644
That's not an issue in JUnit core but most likely in your setup. I think StackOverflow would be your best bet in getting help.

[2020-01-20 07:10] #1644 closed

[2020-01-23 11:45] sratz opened #1645 "Deprecation of Assert#assertThat missing in 4.13 release notes"
The deprecation of Assert#assertThat in 4.13 is missing in the release notes and came as a surprise, seeing thousands and thousands of warnings in our code base.

This should be added to the release notes.

Maybe it should even be re-considered. The import pattern usually looks like
[code]

and org.junit.Assert.* is usually a place IDEs's code completions look for methods to be imported statically

[2020-01-25 17:49] marcphilipp commented on #1645
@sratz You're right, it should be mentioned in the release notes.

@stefanbirkner Do you have time to add it?

The rationale for deprecating it was that there are other assertion libraries, e.g. AssertJ, so users should make a conscious decision which to use. Moreover, using the method in Hamcrest provides an upgrade path to future versions of Hamcrest that might contain bug fixes or improvements.

[2020-01-27 07:51] #1645 closed

[2020-01-27 15:49] marcphilipp commented on #1645
@stefanbirkner Thanks!

[2020-02-04 16:02] LorenzoBettini opened #1647 "Update the wiki with "assertThrows""
I think this wiki page https://github.com/junit-team/junit4/wiki/Exception-testing should be updated to mention also the new `assertThrows` method.

[2020-02-04 16:35] sormuras commented on #1647
It's a wiki page. Hit the **Edit** button. 😉

![image](https://user-images.githubusercontent.com/2319838/73765371-bc59c680-4774-11ea-8687-2ff651c73cc1.png)

[2020-02-04 16:37] LorenzoBettini commented on #1647
@sormuras I would do that with pleasure, but I see no such buttons :)

[2020-02-04 16:47] sormuras commented on #1647
🤔

Mh, so ... maybe there's a restriction in place that I'm not aware of.

What text would you add on the page? I'll copy it over for you then.

[2020-02-04 18:12] marcphilipp commented on #1647
Yes, we had spam issues a while ago and had to restrict editing to users with push access.

[2020-02-05 08:04] LorenzoBettini commented on #1647
I'll put the text I'd like to propose in this issue ASAP

[2020-02-05 08:19] LorenzoBettini commented on #1647
### Using `assertThrows` Method

The method `assertThrows` has been added to the `Assert` class in version 4.13. With this method you can assert that a given function call (specified, for instance, as a lambda expression or method reference) results in a particular type of exception being thrown. In addition it returns the exception that was thrown, so that further assertions can be made (e.g. to

[2020-02-05 10:57] LorenzoBettini commented on #1647
@sormuras I added the Markdown content I'd like to add.
By the way, https://github.com/junit-team/junit4/pull/1633 also deprecated `ExpectedException.none()`, do you think it's worthwhile to add a note in the wiki page about that as well?

[2020-02-07 14:53] awturner opened #1648 "`@FromDataPoints("misspelled") EnumType` shouldn't test all enum values"
[code]

It is surprising that these `@FromDataPoints`-annotated parameters receive the same values as if the annotation were omitted. This means that typos in data point names aren't flagged as errors.

If the `@FromDataPoints` is present, and nothing matches, it would be helpful to raise "Never found parameters that satisfied method assumptions.".

[2020-02-08 15:37] marcphilipp commented on #1647
@LorenzoBettini Thanks! I added a new section and a short note about `ExpectedException` now being deprecated.

[2020-02-08 15:37] #1647 closed

[2020-02-08 21:44] kcooney commented on #1647
I moved the section about assertThrows() higher up on that wiki page, since that is our current recommended way for testing exceptions. I also added a note that explains why ExpectedExcetpion is deprecated.

[2020-02-10 20:45] medb opened #1650 "JUnit 4 support status"
What the status of JUnit 4? Is it effectively deprecated/not supported any more, because of JUnit 5 release?

[2020-02-11 09:05] kcooney commented on #1650
We released JUnit 4.13 on January 1st (see https://twitter.com/junitteam/status/1212403812192964608).

Newer projects should use JUnit 5 and write tests using JUnit Jupiter (see https://junit.org/junit5/docs/current/user-guide/#overview-what-is-junit-5). JUnit5 can run JUnit4-style tests using the JUnit Vintage test engine (see https://junit.org/junit5/docs/current/user-guide/#migrating-from-junit

[2020-02-11 09:05] #1650 closed

[2020-02-11 09:14] marcphilipp commented on #1650
That being said, if there's a critical bug in JUnit 4 we would certainly fix it and ship a patch release.

[2020-02-11 14:27] akarnokd opened #1652 "Timeout ThreadGroups should not be destroyed"
#### Environment:

Eclipse: Version: 2019-09 R (4.13.0), Build id: 20190917-1200
EclEmma 3.1.2.201903112331	org.eclipse.eclemma.feature.feature.group	Eclipse EclEmma
JUnit 4.13
Windows 10 x64
Java 1.8u241

#### Issue:

I've run into an odd error while running coverage on an unit test having some methods use Google Guava's CacheBuilder in Eclipse. The coverage fails with the error code 5013 and err

[2020-02-16 17:19] marcphilipp commented on #1652
Could you please provide a stacktrace and/or Gradle build scan?

[2020-02-16 17:39] akarnokd commented on #1652
There is no JVM crash file or failure stacktrace. Only an Eclipse error about losing connection (java.net.SocketException: Connection). I don't have any issues when I run the test(s) in Gradle from command line so not sure how that would help.

[2020-02-16 17:47] marcphilipp commented on #1652
In that case, I suspect an Eclipse or EclEmma issue. Could you please bring it up with them?

[2020-02-16 17:48] akarnokd commented on #1652
Okay. One last question. Could it be that the JUnit 4.13 integration has some trouble with Eclipse?

[2020-02-16 17:54] marcphilipp commented on #1652
Well, there‘s always a chance we broke something. But we didn‘t change any APIs use by integrations as far as I know.

[2020-02-23 02:07] kcooney commented on #1652
When I searched for the error message on StackOverflow I found https://stackoverflow.com/a/42904311/95725 which indicates that it might be a memory problem. Maybe with the upgrade to 4.13 you cross some kind of threshold memory-wise.

There is also always the possibility that you have multiple versions of JUnit on your classpath.

[2020-02-23 08:00] akarnokd commented on #1652
Yes I tried that before posting to no avail. Also it is quite peculiar to fail only at those cache-methods and not for the other 12000+ tests. I've yet to hear back from the EclEmma people.

[2020-02-29 23:06] hjohn commented on #1609
I also don't understand why this deprecation should have happened in JUnit 4.  I'm migrating to JUnit 5 using the `junit-vintage-engine` to support both versions temporarily.  But this pulls in JUnit 4.13 which for some reason decided that it was a good idea to deprecate things (that have been supported for years) in what is likely one of its last releases.

There also seems to be no reason for th

[2020-03-02 17:07] akarnokd commented on #1652
Hi. I got some feedback from the EclEmma people: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/jacoco/SHw3R6cvZSs/yaFgd7XUAQAJ

Looks like shutdown hooks are not executed the same way in 4.13 as it used to happen in 4.12 and thus the coverage failure.

[2020-03-02 18:54] akarnokd commented on #1652
Here is a JUnit demonstrating the issue (similar to how EclEmma would do it) test that sometimes prints "hook executed", sometimes doesn't with 4.13:

[code]

[2020-03-02 23:49] awturner commented on #1648
Ping?

[2020-03-03 13:33] Godin commented on #1652
Hi guys 👋

@akarnokd thank you for forwarding here my responses from JaCoCo Mailing List.

@marcphilipp I think that the following happens in the case of the above example (https://github.com/junit-team/junit4/issues/1652#issuecomment-593559646).

After execution of static block there is one shutdown hook in `java.lang.ApplicationShutdownHooks.hooks`

[code]

And after execution of `CacheBuilder.n

[2020-03-03 18:26] marcphilipp commented on #1652
@Godin Thanks for the detailed analysis! 👍

@kcooney Do you know/remember what the intention of using a `ThreadGroup` here was?

[2020-03-03 22:54] kcooney commented on #1652
@marcphilipp my guess is this breakage was caused by https://github.com/junit-team/junit4/commit/63fd27710 which was proposed by @elrodro83

[2020-03-04 16:44] marcphilipp commented on #1652
@akarnokd As a workaround, have you tried initializing JUL early, e.g. in a static initializer of a base test class?

[2020-03-04 17:15] akarnokd commented on #1652
No. I rarely run the full project coverage locally and so far, Travis CI managed to produce coverage data. I worked around by commenting out those CacheBuilder tests while I needed to work with the class being tested.

[2020-03-06 18:44] polina-c opened #1656 "Errors in documentation prevent pull requests to succeed."
My pull request (https://github.com/junit-team/junit4/pull/1655) failed because of existing documentation issues (like parameter documentation is missing.

[2020-03-06 20:24] marcphilipp commented on #1656
No, it failed because the new reference you‘ve added on line 15 is invalid.

[2020-03-06 20:24] #1656 closed

[2020-03-20 19:49] 0NicK0 opened #1657 "JUnit"

[2020-03-21 12:47] #1657 closed

[2020-03-25 21:41] NedK123 opened #1658 "Temporary Folder not being deleted"
Hello
I'm not sure if this is a bug in JUnit or no, so feel to correct me if I'm wrong

I'm using a temporary folder in my unit test using the @Rule of JUnit.
The folder is not being deleted after the tests finish

Java version : 1.8

JUnit version: 4.12

Os windows 10

I'm creating a file.csv under a temp folder in order to edit it using CSVPrinter from org.apache.commons

[code]

The test:

[cod

[2020-03-28 18:52] kcooney commented on #1658
I wonder if some code is holding a file handle, preventing the temporary directory from being deleted.

I suggest:

[code]

That should cause `TemporaryFolder` to throw an exception if it could not delete the folder.

[2020-03-28 21:36] NedK123 commented on #1658
Indeed it was
A file reader wasn't being properly closed

can you please this same question on stackoverflow? @kcooney
[question](https://stackoverflow.com/questions/60857085/temporaryfolder-not-being-deleted-using-junit-rule)
Thank you

[2020-03-28 21:39] #1658 closed

[2020-04-02 20:08] jglick commented on #1652
I.e., #1517, for the backlink.

[2020-04-03 04:40] kcooney commented on #1652
Hey, everyone. @jglick suggested in #1517 that we roll back #1517 or make it opt-in.

[2020-04-03 04:42] kcooney commented on #1658
@NedK123 Done.

[2020-04-07 05:30] rgurley opened #1659 "GPG signing key changed, but not documented?"
The signing key for junit:junit changed from 0xEFE8086F9E93774E to 0x85911F425EC61B51, but this change was not documented in release notes for 4.13.

[2020-04-10 11:41] marcphilipp commented on #1659
You're right, I used a different signing key for the 4.13 release. I documented it now and added `KEYS` file to the repo in 50a285d3ce69b4556ac46d8633f6beb4527b4679.

[2020-04-10 11:41] #1659 closed

[2020-04-16 02:58] daicoden commented on #1609
What's the replacement for asserting properties about the exception...

old code:

[code]

Seems like assertThrows is missing a matcher version to allow expected exception to be fully deprecated.... I know it's too late but no one else has this problem?

[2020-04-16 05:01] miralexan commented on #1609
@daicoden

I'm pretty sure `assertThrows` returns the throwable, so you could just capture it and make assertions like you would for any other object:

[code]

[2020-04-24 16:42] blankman23 opened #1661 "java.lang.NoClassDefFoundError: org/junit/runner/manipulation/Filter"
I am trying to make a new test case for one of my classes using junit. I am not sure which junit to use 4 or 5 because I keep having this issue occur.
here is a picture of my build path. and the one below is the error code along with the code i am currently writing.
![image](https://user-images.githubusercontent.com/64275535/80236258-e52d8180-8628-11ea-9736-fa505cb92afd.png)

![image](https://user

[2020-05-04 17:00] Stephan972 commented on #1277
Hi guys,

We are in 2020 now...  this terrible bug still happen even with JUnit 5 !

On the 13th of January 2020, the Eclipse team asked for some more details here : https://bugs.eclipse.org/bugs/show_bug.cgi?id=491752#c3 (comment 3).

Can you please answer them ?

[2020-06-18 02:32] #1543 closed

[2020-06-24 16:47] Mike4Online opened #1664 "GitHub Wiki has broken links to Release Notes"
Release notes for JUnit 4.13 are currently at [https://github.com/junit-team/junit4/blob/main/doc/ReleaseNotes4.13.md](https://github.com/junit-team/junit4/blob/main/doc/ReleaseNotes4.13.md)

However, links to these release notes in the JUnit 4 Wiki at [https://github.com/junit-team/junit4/wiki](https://github.com/junit-team/junit4/wiki) currently point to [https://github.com/junit-team/junit/blob

[2020-06-24 19:49] marcphilipp commented on #1664
Thanks for raising the issue. I fixed all the links I could find in the wiki.

[2020-06-24 19:49] #1664 closed

[2020-06-29 15:12] ProYI opened #1665 "Assert.assertThat() had @deprecated, suggest use org.hamcrest.MatcherAssert.assertThat(),but dependency version is too old"
**Environment:**
JUnit 4.13
Java 1.8.0_201

when I use JUnit to check Exception, I find one problem:
[code]
because org.junit.Assert had be mark up @deprecated, so these I import org.hamcrest.MatcherAssert.assertThat.

but org.hamcrest.CoreMatchers.is also outdated, suggest use isA(Class<T> type) instead
![image](https://user-images.githubusercontent.com/26431420/86021852-2c3a5780-ba5c-11ea-823a-3

[2020-06-29 15:22] dimsuz opened #1666 "All release notes links are broken on junit4.org (they point to "master" branch)"
All links under `Release Notes` on the https://junit.org/junit4/ are 404.

![Screenshot_2020-06-29 JUnit – About](https://user-images.githubusercontent.com/42920/86024327-237e5d00-ba2d-11ea-914b-5e2b6a380201.png)

[2020-07-01 05:53] vlsi commented on #1666
The same happens for GitHub Releases: https://github.com/junit-team/junit4/releases

[2020-07-01 09:09] stambecg commented on #1513
@Tibor17 ,

Maven build is failing, could you please assit.

I have tried all the version of Maven-Surefire plugin from 2.18 to 3.0.0-M5

Please find the a  attached console log and POM file for reference.

[Logs.txt](https://github.com/junit-team/junit4/files/4856809/Logs.txt)

[pom.zip](https://github.com/junit-team/junit4/files/4856810/pom.zip)

[2020-07-01 18:25] marcphilipp commented on #1666
Thanks for reporting! I fixed the releases page and will fix the website now.

[2020-07-01 18:46] marcphilipp commented on #1666
Fixed.

[2020-07-01 18:46] #1666 closed

[2020-07-03 13:23] Shantha93 opened #1667 "Maven surefire plugin generating empty testng report"
I have a simple selenium project built using testng and maven. When i trigger my testng xml suite from eclipse (which uses its own testng plugin) i have the testng report created every time.
I want to run this project from command line through maven for CI/CD integration and hence i am trying to run as "mvn test", with surefire plugin added to my POM. This works fine for 2-3 classes in my suite, b

[2020-07-05 01:04] kcooney commented on #1667
@Shantha93 the JUnit team does not maintain the maven surefire plugin. It looks like issues for Surefire can be [reported here](https://maven.apache.org/surefire/maven-surefire-plugin/issue-management.html), but you may want to start with their [user mailing list](https://maven.apache.org/surefire/maven-surefire-plugin/mailing-lists.html).

[2020-07-05 01:04] #1667 closed

[2020-07-05 13:10] Tibor17 commented on #1667
I think you must have wrong config in surefire. You cannot run suite and
classes altogether. Post your project on Github and involve the TestNG team
in discussion. Mostly it is a user problem, see the www.stackoverflow.com,
but dont ask these junit guys, they will not help you.

Dňa pi 3. 7. 2020, 15:23 Shantha93 <notifications@github.com> napísal(a):

[2020-07-09 16:39] kriegaex commented on #80
Just found this old ticket by chance and can only say how appalled I am to find out how long ago such a simple, universally useful feature which is now marketed as a great achievement in JUnit 5 has not just been ignored but actively blocked with poor pseudo arguments by people who should know better.

Given the still big user base of JUnit 4, I would still be happy to see this backported into 4.1

[2020-07-09 19:50] pholser opened #1668 "Make ctor FrameworkField(Field) public?"
Hello,

In [junit-quickcheck](https://github.com/pholser/junit-quickcheck) I found myself wanting to make both `FrameworkMethod`s and `FrameworkField`s. `FrameworkMethod`'s constructor is public; `FrameworkField`'s constructor is package-private. I tried to be sneaky and make the class that uses the `FrameworkField` constructor a package cohabitant of `FrameworkField`. Now, however, some of my use

[2020-07-15 17:21] kcooney commented on #1668
Could you use `TestClass.getAnnotatedFields()` or `TestCass.getAnnotatedFields(Class<? extends Annotation> annotationClass)`?

[2020-07-17 02:00] pholser commented on #1668
@kcooney junit-quickcheck looks for the annotated methods it's interested in not just on the superclass hierarchy, [but also the implemented interface hierarchy](https://pholser.github.io/junit-quickcheck/site/0.9.3/usage/contract-tests.html). I felt like overriding `TestClass#scanAnnotatedMembers` was the reasonable way to accomplish substituting how such methods and fields are scraped. `TestClas

[2020-07-18 17:29] kcooney commented on #1668
@pholser Thanks for the detailed response. It sounds really cool.

Unfortunately, I don't see a way to do what you want now using existing public or protected extension points. Long term, we could either make the `FrameworkField` constructor public or we could add extension points to `TestCass` to make it easier to do what you want.  We have some classes that have become harder to maintain because

[2020-07-20 14:48] pholser commented on #1668
@kcooney Thanks for your response. In the short term, I'll try reflectively invoking the actor and see how far that gets me. Appreciate the help!

[2020-07-26 07:02] marcphilipp commented on #1668
@pholser There's currently no plan to release another 4.x version of JUnit. Thus, I'm afraid you'll have to live with the workaround for the foreseeable future.

[2020-07-26 22:34] pholser commented on #1668
@marcphilipp Thanks -- I figured as much. Working around it shouldn't be a big deal.

[2020-07-28 20:14] beForged opened #1670 "assertEquals will hang on large object inputs"
Ran across this issue when doing property based testing mostly, but if the toString() of the objects compared are too large and they fail, assertEquals will attempt to return the strings as a message and will hang. I haven't found anywhere where this is documented, and was quite difficult to actually diagnose since I assumed that the test was failing due to code timing out, not JUnit timing out, s

[2020-07-29 07:08] marcphilipp commented on #1670
Could you please get a thread dump of the hanging JVM?

[2020-07-29 14:18] beForged commented on #1670
I did a thread dump and found out that it probably was a naive toString() implementation on my side that ended up causing this hang to occur. I would argue that the reliance on toString() should probably be mentioned somewhere, since this was quite a difficult bug to track down (and I misinterpreted it at first)

[2020-07-30 08:21] marcphilipp commented on #1670
Well, what else would `assertEquals()` call to create a String representation of the arguments in case of failure? I don't think documenting that it calls `toString()` would be helpful. Thus, I'm closing this issue. If you feel strongly that this needs to be addressed, please feel free to comment or raise a new, more focussed, issue.

[2020-07-30 08:21] #1670 closed

[2020-07-30 21:46] kcooney commented on #1668
@marcphilipp I personally think there is no harm in accepting the pull request (even if we never release another 4.x version of JUnit). If nothing else, it makes it clear that the constructor of `FrameworkField` is expected to remain in its current form, so is safe to be called reflectively.

[2020-07-31 06:21] marcphilipp commented on #1668
@kcooney No objections.

[2020-08-02 18:23] #1668 closed

[2020-08-06 08:09] kcooney commented on #1661
I see junit-4.10.jar (which is a very old version of JUnit) and a "JUnit 4" folder in your classpath. My guess is you don't need both. You should also use a more recent version of JUnit.

Questions like this should be asked on stackoverflow.com

[2020-08-06 08:09] #1661 closed

[2020-08-06 08:13] #1540 closed

[2020-10-12 08:29] christianhujer opened #1674 "junit.org domain name can't be resolved"
The `junit.org` domain name currently cannot be resolved.

[code]

[2020-10-12 08:33] marcphilipp commented on #1674
@dsaff Is this caused by your changes?

[2020-10-12 09:53] THausherr opened #1675 "release 4.13.1 links to release note 4.13"
Here on github in the "releases" part, JUnit 4.13.1 links to
https://github.com/junit-team/junit/blob/HEAD/doc/ReleaseNotes4.13.md
but should link to
https://github.com/junit-team/junit/blob/HEAD/doc/ReleaseNotes4.13.1.md

[2020-10-12 11:05] marcphilipp commented on #1675
Thanks for reporting! Fixed now.

[2020-10-12 11:05] #1675 closed

[2020-10-12 19:01] christianhujer commented on #1674
It's working now.

[code]

[2020-10-12 19:01] #1674 closed

[2020-10-14 06:18] bodewig opened #1676 "CVE-2020-15250 doesn't affect versions prior to 4.7 but claims it did"
https://github.com/advisories/GHSA-269g-pwp5-87pp says it affects any version prior to 4.13.1 which is not true as rules didn't exist before 4.7. So the proper range would be 4.7 up to 4.13.

This is probably not terribly important but it caused dependabot to cry wolf on projects that are (deliberately) still using older versions - like extensions for JUnit 3 that happen to be still maintained. Th

[2020-10-14 06:34] marcphilipp commented on #1676
Thanks for raising the issue! You're right, of course.

@jlleitschuh I changed it [here](https://github.com/junit-team/junit4/security/advisories/GHSA-269g-pwp5-87pp) but that doesn't seem to update the published advisory. Do you know how that can be achieved?

[2020-10-14 12:03] JLLeitschuh commented on #1676
I'll send an email

[2020-10-16 11:23] honnix opened #1678 "Patch release 4.13.1 seems to break maven surefire plugin"
Not super sure of this but I can describe the issue.

After bumping up to 4.13.1. our CI reports failing to parse "4.13.1:
[code]

After looking into `JUnit4VersionCheck`, it seems it recently starts to support better versioning in this https://github.com/junit-team/junit5/commit/f30c96a9cad89a62a28750c5fe4dd83ad4333e99 commit that went to junit-vintage-engine:5.7.0`.

However the latest maven sur

[2020-10-16 12:19] sbrannen commented on #1678
Yes, I agree with that.

@sormuras, do you have any further input?

[2020-10-16 13:01] marcphilipp commented on #1678
This was indeed fixed in https://github.com/junit-team/junit5/issues/2198 for JUnit Vintage Engine 5.7.

Can you upgrade to a 3.x version of Surefire?

[2020-10-16 13:03] honnix commented on #1678
@marcphilipp I couldn't find any new version than 3.0.0-M5 though.

[2020-10-16 13:12] marcphilipp commented on #1678
Ah, sorry I overlooked that part in the issue description. Since 4.13.1 works fine in [our sample project](https://github.com/junit-team/junit5-samples/tree/main/junit5-migration-maven) I suspect you may have mixed versions of JUnit artifacts on the classpath. Could you please provide a sample project that reproduces the issue?

[2020-10-16 14:25] honnix commented on #1678
@marcphilipp I think that is possible I will try to reproduce it using a simple project. However the error says explicitly that it cannot parse `4.13.1` as a version. Anyway please give me some time.

[2020-10-16 14:58] honnix commented on #1678
@marcphilipp You are right about mixing JUnit 5 and JUnit 4. It seems that triggers maven-surefire-plugin to work in a very different way. https://github.com/junit-team/junit5-samples/pull/137/checks?check_run_id=1265044819 reproduced it.

I'm thinking about possible solutions I can take:

* Pinning `junit-jupiter-api` to `5.7.0`
* Or exclude JUnit 5 introduced as transitive deps.

[2020-10-16 15:04] honnix commented on #1678
Still I think this is somewhat annoying. A patch version bump requires quite some changes in the pom.

[2020-10-25 09:09] marcphilipp commented on #1678
Closing since upgrading to 5.7.0 of the JUnit Vintage Engine is a valid fix. Sorry for any inconvenience caused.

[2020-10-25 09:09] #1678 closed

[2020-10-27 08:19] bodewig commented on #1676
Many thanks @marcphilipp and @JLLeitschuh . The advisory has been updated.

[2020-10-27 08:19] #1676 closed

[2020-10-30 17:36] bradyoo opened #1679 "Option to create TemporaryFolder that doesn't limit access to created files"
After the fix for https://github.com/junit-team/junit4/security/advisories/GHSA-269g-pwp5-87pp, the test I have had that creates temp files with multiple users need access broke.

I am wondering if there can be an option to create a TemporaryFolder without the limited access if I'm not worried about the information disclosure vulnerability.

[2020-10-31 09:33] panchenko commented on #1679
I would recommend explicitly setting the desired permissions, as this is quite a special case.
Long term that would simplify migrating to JUnit 5.

[2020-10-31 23:15] kcooney commented on #1679
I agree with Marc. If you need this functionality you could create your own rule that extends `ExternalResource`

[2020-11-01 10:36] #1679 closed

[2020-11-09 19:00] sshanmu91 opened #1680 "@Autowired doesn't seem to work in JUnit Test Cases while Running via ANT"
@Autowired doesn't seem to work in JUnit Test Cases while Running via ANT.

JUnit Test Cases are Failing while executing through ANT while it's Successful when executing the Test Case in Eclipse.

ANT Version - ANT 1.9x
JUnit4
Java8
Spring5

Could anyone please provide a resolution for this issue.

[2020-11-09 22:35] sbrannen commented on #1680
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). We prefer to use the issue tracker only for bugs and enhancements. Feel free to update this issue with a link to the re-posted question (so that other people can find it) or add some more details if you feel this is a genuine bug.

[2020-11-09 22:35] #1680 closed

[2020-11-15 22:36] kobakaxa opened #1681 "> ```java"
_Originally posted by @kobakaxa in https://github.com/junit-team/junit4/issues/1648#issuecomment-727649000_

[2020-11-17 07:08] gamma commented on #1676
Sorry to bother here, but it seems that the given CVE is still recognised by OSSINDEX for version 4.13.1, see https://ossindex.sonatype.org/component/pkg:maven/junit/junit@4.13.1

[2020-11-17 07:50] marcphilipp commented on #1676
I raised https://github.com/OSSIndex/vulns/issues/127 to get it fixed.

[2020-11-24 09:39] cristitech commented on #1542
Make sure you **import org.junit.Test**, and not something else.

[2020-11-25 18:16] somayaj commented on #1186
hi Can this be worked on? is it available?

[2020-11-26 06:20] marcphilipp commented on #1186
@somayaj There's currently no plan for another JUnit 4.x version.

[2020-11-26 13:33] somayaj commented on #1186
@marcphilipp sounds good. Are there any other opportunities to contribute?

[2020-11-26 16:55] marcphilipp commented on #1186
Sure, over on the junit5 repo: https://github.com/junit-team/junit5/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3Aup-for-grabs

[2020-11-26 17:27] somayaj commented on #1186
Thanks Marc

On Thu, Nov 26, 2020 at 10:56 AM Marc Philipp <notifications@github.com>
wrote:

[2020-12-01 06:15] varcars opened #1682 "configure cobertura maven"
cobertura

[2020-12-01 09:33] #1682 closed

[2020-12-01 16:03] #1681 closed

[2020-12-01 16:05] kobakaxa opened #1683 "> > ```java"
_Originally posted by @kobakaxa in https://github.com/junit-team/junit4/issues/1681#issuecomment-733885032_

[2020-12-01 16:36] #1683 closed

[2020-12-06 10:12] boaks opened #1684 "ExpectedException - Intended supported java version?"
I'm currently struggling with the deprecation of `ExpectedException.none()`.
Using/supporting Java 7 and updating from 4.12 to 4.13 causes deprecation warnings.
Therefore I started to search, which junit version supports which java version.
I didn't found something. Is there a list?

Using `Assert.assertThrows` and `Runnable`with java 7 seem for me to be just "pain".
Is this really intended to be

[2020-12-06 17:53] marcphilipp commented on #1684
Deprecating `ExpectedException.none()` instead of the entire class was a compromise that resulted from the discussion in #1609. While discouraged, you may continue to use `ExpectedException`. If you'd like to avoid suppressing the deprecation warning in all usage sites, you could create your own factory method as suggested in https://github.com/junit-team/junit4/issues/1609#issuecomment-543877082.

[2020-12-06 17:53] #1684 closed

[2020-12-07 07:50] boaks commented on #1684
Thanks!

[2020-12-17 13:04] PriyankaKeer opened #1685 "Junit Testcases Execution issue if using Powermockito"
Hi team,

We are using powermockito in our junit test cases and facing this issue while executing it with java 8

Caused by: java.lang.RuntimeException: java.io.IOException: invalid constant type: 15
    at javassist.CtClassType.getClassFile2(CtClassType.java:203)
    at javassist.CtClassType.makeFieldCache(CtClassType.java:837)
    at javassist.CtClassType.getMembers(CtClassType.java:828)
    at

[2020-12-17 13:53] marcphilipp commented on #1685
IIRC Javassist is not compatible with Java 8. In any case, it's not a JUnit issue since it doesn't use Javassist and you're probably better of searching/asking on StackOverflow.

[2020-12-17 13:53] #1685 closed

[2020-12-18 13:42] BalasubramanyamEvani opened #1686 "Junit4 RunListener Query"
I'm creating a custom listener to update/send details to another application after a run.  As I understand the following methods can be overridden for recording various test events.

testRunStarted, testRunFinished, testStarted, testFinished, testFailure, testAssumptionFailure, testIgnored

For my case, with the help above methods I've managed to capture the respective events, but is there a way t

[2020-12-19 10:17] marcphilipp commented on #1686
I'm afraid there's no way to do that using JUnit 4's listener. You can, however, capture the output using a `TestExecutionListener` when running the tests on the JUnit Platform (a.k.a. JUnit 5) with the JUnit Vintage Engine:
https://junit.org/junit5/docs/current/user-guide/#running-tests-capturing-output
https://junit.org/junit5/docs/current/user-guide/#launcher-api-listeners-custom

[2020-12-19 10:17] #1686 closed

[2020-12-19 19:04] kcooney commented on #1686
@BalasubramanyamEvani actually you may be able to capture the log messages JUnit 4. If your tests run serially, then you could update `System.out` and/or `System.err` in `testStarted()` to point to a buffer or temporary file (whether this works depends on how your logging is done and how it is initialized). You won't know whether you are capturing logs of a passing or failing test util you receive

[2020-12-29 09:10] boaks commented on #1652
My experience with the `ThreadGroup.destroy()`of PR #1517 isn't positive as well.

In [Eclipse Californium](https://github.com/eclipse/californium) it causes unit tests to fail randomly .
The randomness is caused by a "race" of terminating threads and the call of `ThreadGroup.destroy()`.
And there is also a not to obvious order condition between the Timeout rule and static ThreadGroups. If the gro

[2020-12-29 12:18] marcphilipp commented on #1652
I think an opt-out flag as a system property might suffice given the relatively low number of reports of this problem.

@kcooney What do you suggest we do?

[2020-12-29 16:09] boaks commented on #1652
The `Timeout` rule has already a `Builder`. FMPOV it's easier to use, if a parameter is added there.

[2020-12-31 18:43] kcooney commented on #1652
It's possible there are low reports of this problem because of low usage of 4.13. I don't think we had many reports of the ThreadGroup leakages either, and JUnit as been using ThreadGroup since 4.12 (see https://github.com/junit-team/junit4/commit/1768d08).

If we hadn't released 4.13, I would suggest making the new behavior opt-in. If we make it opt-in now, then that seems like a visible enough c

[2020-12-31 19:44] marcphilipp commented on #1652
I think making it a daemon thread group is a good idea. Does someone here have time to work on a PR?

[2021-01-01 00:50] sbabcoc commented on #1686
You can get full test lifecycle notifications for parameterized JUnit 4 tests, including access to the parameter values, via the [JUnit Foundation](https://github.com/sbabcoc/JUnit-Foundation) library.

[2021-01-01 00:54] sbabcoc commented on #1686
Log messages are a bit more involved, but SLF4J includes support for something they call "mapped diagnostic context" that may be of assistance.

[2021-01-01 21:54] kcooney commented on #1642
There's an ErrorProne check for this. See https://errorprone.info/bugpattern/JUnit3TestNotRun

[2021-01-01 21:54] #1642 closed

[2021-01-02 20:53] stefanbirkner commented on #1665
TLDR; JUnit will not change the version of Hamcrest that it depends upon.

Our plan was to remove the dependency to Hamcrest completely (see #1145). Unfortunately that is not easy. In the meantime JUnit Jupiter was released and we recommend developers to switch to JUnit Jupiter. Therefore the plan to remove Hamcrest is abandoned.
Changing the Hamcrest version in JUnit's dependency may cause proble

[2021-01-02 20:53] #1665 closed

[2021-01-02 20:56] stefanbirkner commented on #1665
FYI we recommend to use [`assertThrows`](https://junit.org/junit4/javadoc/latest/org/junit/Assert.html#assertThrows(java.lang.Class,%20org.junit.function.ThrowingRunnable)) for testing exceptions:

    @Test
    public void testCheck() {
        assertThrows(
            NullPointerException.class,
            () -> checkNull(null)
        );
    }

[2021-01-02 22:09] #1652 closed

[2021-01-03 20:55] kcooney commented on #1539
No one has been strongly advocating for this change, so closing this issue and the associated pull.

[2021-01-03 20:55] #1539 closed

[2021-01-03 21:04] j256 commented on #1652
Can we somehow vote for 4.13.2 to be released sooner because of this?  This is somewhat blocking me because of the security issues < 4.13.1.  Thanks much for the work here.

FYI my minimum reproducible example can be found on this [stackoverflow post](https://stackoverflow.com/questions/65511268/getting-a-no-coverage-data-has-been-collected-message-using-eclemma-and-eclips) and this [github repo](

[2021-01-03 21:12] kcooney commented on #1652
@j256 Thanks for the feedback. We haven't discussed timelines yet. I've started associating things with [the 4.13.2 milestone](https://github.com/junit-team/junit4/milestone/13).

[2021-01-04 16:48] j256 commented on #1416
We could put catches around the `toString()` calls and fallback to `Object.toString()` if they throw.

[2021-01-07 02:00] howlger commented on #1652
The following workaround works for me:

[code]

[2021-01-11 05:26] #1192 closed

[2021-01-18 17:49] soso2704 opened #1695 "Junit 4 life cycle support"
I am not finding any information on Junit 4 end of life since Junit 5 Jupiter is out.

Is there long term support on the latest version of Junit 4 planned?

[2021-01-19 13:27] marcphilipp commented on #1695
Even though new features are only added to JUnit Platform and Jupiter (currently known as JUnit 5), given the widespread use of JUnit 4, we will continue to fix critical bugs, in particular security-related ones, for the time being.

[2021-01-19 13:27] #1695 closed

[2021-02-05 01:31] code-newbie commented on #1542
work for me.

[2021-02-05 12:23] ebourg opened #1696 "Build failure with OpenJDK 17"
There is a build failure with OpenJDK 17 caused by javadoc errors:

    [INFO] -------------------------------------------------------------
    [ERROR] COMPILATION ERROR :
    [INFO] -------------------------------------------------------------
    [ERROR] /<<PKGBUILDDIR>>/src/main/java/org/junit/runners/Parameterized.java:[125,3] error: heading used out of sequence: <H3>, compared to implicit pr

[2021-02-05 12:50] marcphilipp commented on #1696
Thanks for reporting it! Do you have time to submit a PR to fix it?

[2021-02-06 21:42] ebourg commented on #1696
The easiest solution is to disable doclint, by setting -Xdoclint:none there https://github.com/junit-team/junit4/blob/main/pom.xml#L536 and below

[2021-02-11 22:04] j256 commented on #1652
I'm still waiting for 4.13.2 with this fix.  Any update @kcooney?  Again, because of the security problems before 4.13.1, I'm stuck with now with a lot of projects that aren't publishing CI unit test information because of this bug.  Thanks.

[2021-02-13 13:52] marcphilipp commented on #1696
@ebourg I misunderstood your original report to mean that it failed for you in a dependent project that somehow references JUnit classes in its Javadoc. What Maven commandline did you use to get the above output?

[2021-02-13 16:57] marcphilipp commented on #1652
@j256 4.13.2 is now released.

[2021-02-13 17:11] j256 commented on #1652
Thanks much @marcphilipp !

[2021-02-22 08:13] wlnirvana opened #1700 "OutOfMemoryError thrown from the UncaughtExceptionHandler in thread "Time-limited test""
This issue only happens in our production server but can be quite stably reproduced. Even though timeout is set, the tests run extremely slow, with the following error printed out occasionally.

[code]

Project to reproduce the issue:
[slow.tar.gz](https://github.com/junit-team/junit4/files/6020466/slow.tar.gz)

Steps to reproduce the issue: just uncompress the tarball and run `bash run.sh`

Envir

[2021-02-22 15:13] phoenix384 opened #1701 "OrderWith in parameterized tests"
The ordering introduced with #1130 is a great feature. Also the fact that the annotation is inherited is really helpful in some cases.

But when a parameterized test inherits an OrderWith annotation, its parameters get reordered as well.
Another case where this behaviour could be a problem would be a parameterized test with more than one test method, where you add an OrderWith annotation in order

[2021-03-02 12:09] prbprbprb opened #1703 "Don't convert assumption failures to errors in ErrorCollector.addError()"
This discussed in #1363 and I think the treatment of `ErrorCollector. checkSucceeds()` is correct.  However `ErrorCollector.addError()` is more commonly used when calling sub-methods or in wrapper `Rules` ([AOSP example](https://cs.android.com/android/platform/superproject/+/master:cts/tests/framework/base/windowmanager/util/src/android/server/wm/ActivityManagerTestBase.java;l=2472)) so it seems c

[2021-03-04 06:17] PriyankaKeer opened #1704 "Issue in Mocking Java Comparator - For Open JDK 1.8"
Hi Team,

We are facing issue while mocking Comparator using Mockito.
While using below VM argument, we were able to mock the comparator - For JDK 1.8 but the same is failing in Open JDK 1.8.
**-Djava.util.Arrays.useLegacyMergeSort=true**
Please Suggest on this.

Thanks in Advance!

[2021-03-04 06:58] marcphilipp commented on #1704
This is unrelated to JUnit. Please open an issue for Mockito.

[2021-03-04 06:58] #1704 closed

[2021-03-06 10:01] marcphilipp commented on #1700
This is not an issue of JUnit but your application under test. I recommend running tests with `-XX:+HeapDumpOnOutOfMemoryError` to see if you might have a memory leak or just need to give your test JVM more memory.

[2021-03-06 10:01] #1700 closed

[2021-03-11 12:45] fubingting opened #1705 "Mvn test failed with TemporaryFolderUsageTest"
When I test with mvn test, the error is as follows:

Tests run: 24, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 0.105 sec <<< FAILURE! - in org.junit.rules.TemporaryFolderUsageTest
newFolderWithGivenFolderThrowsIOExceptionWhenFolderCannotBeCreated(org.junit.rules.TemporaryFolderUsageTest)  Time elapsed: 0.012 sec  <<< FAILURE!
java.lang.AssertionError: Expected test to throw (an instance of

[2021-03-15 20:52] stefanbirkner commented on #1705
@fubingting Can you please debug the test and tell us why it does not reach line 216 in TemporaryFolder.java. Is it because one of the conditions `lastMkdirsCallSuccessful` and `file.isDirectory()` is `true`?

[2021-04-17 17:59] 7ep opened #1709 "Class naming appears to prevent full parallelization"
In short: the names of classes impact whether they will all be run in parallel.

Longer description:
This is a web application written in Kotlin, using Gradle and Junit4.  I have configured the system to run tests in parallel.  Everything was running fine, but then I noticed a problem after a recent commit.  I have an 8-core CPU - I should have four tests running in parallel, and that was happenin

[2021-04-17 18:02] 7ep commented on #1709
To see the problem - clone the software, checkout that commit, and run `gradlew uitests`

It will run successfully, fully parallel.

If you checkout the preceeding commit and run that command, only two will run concurrently, followed by the third.

[2021-04-17 18:02] 7ep commented on #1709
Dependencies: Java on the path, Chrome, Firefox

[2021-04-17 18:48] marcphilipp commented on #1709
Since you're using Gradle's `maxParallelForks` this issue is unrelated to JUnit 4. I recommend you post a question on StackOverflow to get help figuring out the root cause.

[2021-04-17 18:48] #1709 closed

[2021-04-17 22:53] 7ep commented on #1709
Alright, thanks @marcphilipp

[2021-05-18 09:06] ashishsme14 opened #1710 "Junit execution issue"
We had followed exact code as attach from -

https://www.coursehero.com/u/file/66151532/SolutionTestjava/

[Junit.txt.pdf](https://github.com/junit-team/junit4/files/6499927/Junit.txt.pdf)

When we are testing i.e. executing getting error as -

[code]

[2021-05-18 18:43] marcphilipp commented on #1710
There's a space between `-` and `D` on the command line which causes Maven to treat `-` as a lifecycle name and fail.

[2021-05-18 18:43] #1710 closed

[2021-07-07 23:29] stefanbirkner commented on #1703
The code works as expected. From @kcooney's remarks in #1363

The Javadoc can be improved but currently we haven't planned to build another JUnit 4 release.

Looking at the provided example I think it should be changed to

    } catch (AssumptionViolatedException e) {
      throw e;
    } catch (Throwable e) {
      mPostAssertionRule.addError(e);
    }

so that it immediately stops the test. @prb

[2021-07-28 02:51] #1516 closed

[2021-07-28 09:33] rajusah15 opened #1713 "test error"
while executing the mvn test, getting below error
Test set: org.junit.rules.TemporaryFolderUsageTest
-------------------------------------------------------------------------------
Tests run: 24, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 0.021 sec <<< FAILURE! - in org.junit.rules.TemporaryFolderUsageTest
newFolderWithGivenFolderThrowsIOExceptionWhenFolderCannotBeCreated(org.junit.rules.Te

[2021-07-29 21:42] pmcder commented on #1713
It looks like #1705 was about this issue as well. I haven't been able to reproduce in my branch/environment. There were some follow up questions on #1705 that might provide some more insight here.

[2021-08-05 08:23] marcphilipp commented on #1713
Duplicate of #1705

[2021-08-05 08:23] #1713 closed

[2021-08-12 11:01] conbon opened #1714 "TemporaryFolder default name generation inconsistent"
TemporaryFolder relies on java.io.File$TempDirectory.

The _generateFile_ method uses SecureRandom to generate a long to ascribe to the file name.

This can cause varying lengths of temporary folder name.

`filePath: /tmp/junit2375994787548427572/test.txt` --> long is 19 chars
`filePath: /tmp/junit3617134405501405307/test.txt` --> long is 19 chars again
`filePath: /tmp/junit343221902873074958/test

[2021-08-12 11:55] sbrannen commented on #1714
Why would we want to "fix" this, since it's not technically broken?

You get a temporary directory, which is what the feature offers.

[2021-08-12 12:32] conbon commented on #1714
Not technically broken, no. Fix may have been a bad word to use.

Although it might be nice to provide an extension to the temporary folder class to allow an non-varying length folder name to be created.

It's just that it introduces a kind of randomness I wouldn't want to see in a test library. Maybe that was just an oversight of using a handy looking API in the File class at the time.

Would PRs

[2021-08-13 00:45] kcooney commented on #1714
JUnit used to imple

[2021-08-13 00:50] kcooney commented on #1714
(sorry didn't mean to close this quite yet)

[2021-08-13 07:55] marcphilipp commented on #1714
I also don't see this as a compelling reason to revisit that decision.

[2021-08-13 08:26] conbon commented on #1714
OK to close this then. Thanks for the fast response.

[2021-08-13 08:26] #1714 closed

[2021-08-18 17:07] felix9 commented on #1604
I just ran into this problem.

"Rerun Failed Tests" fails if the parameterized test name has a "/" in it.

[code]

IntelliJ IDEA 2021.2 (Community Edition)
Build #IC-212.4746.92, built on July 27, 2021
Runtime version: 11.0.11+9-b1504.13 x86_64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
macOS 10.15.7
GC: ParNew, ConcurrentMarkSweep
Memory: 1979M
Cores: 16
Kotlin: 212-1.5.10-release-IJ4746.92

[2021-08-20 14:27] dr0i commented on #1277
@Stephan972 had the same issue, wouldn't get away, just after I rebuild from commandline: `./gradlew build`.

[2021-08-20 19:55] kcooney commented on #1277
We closed this because we believe the bug is in Eclipse, not JUnit (see discussion on #1279).

If you can reproduce this bug, comment on the Eclipse bug with the details they are asking for.

[2021-08-23 06:01] dr0i commented on #1277
Than it's not just a bug in Eclipse but also in Codium - I am not saying that's not an IDE issue - on the contrary. Just noting.

[2021-08-23 06:22] kcooney commented on #1277
@dr0i please file a new bug with a minimal, complete, and verifiable example that demonstrates the problem (see https://stackoverflow.com/help/minimal-reproducible-example).

[2021-08-23 07:32] dr0i commented on #1277
@kcooney funny that you point to SO - 'cause [that got me here](https://stackoverflow.com/questions/47710837/junit-testing-got-initializationerror-with-java-lang-exception-no-tests-found-m/68863902#68863902) in the first place :) (answered there, see "codium as IDE").
So, just in case of possible misunderstanding, I am with you: seems not to be a junit4 issue, you are good, it is some kind of IDE

[2021-09-02 22:49] bitflame opened #1715 "Parameterized Test with @ArgumentSource attribute only runs once even though I have more data in the stream"
Hi
I have a stream of three different Objects going to my unit test, but the test stops after one run.  The entire project is [here](https://github.com/bitflame/Streams) It is a Maven project built in latest version of Intellij idea. The part I believe is relevant to my question is:

class KdTreeTest {
    static class KdTreeArgumentsProvider implements ArgumentsProvider {
        final static Fil

[2021-09-17 03:12] fubingting commented on #1705
I found that I was successful in a non-root environment. Does it have anything to do with permissions? @stefanbirkner

[2021-09-18 20:37] ben-manes opened #1717 "JDK17 broken test scanning"
When running a JDK11-based project on JDK17, it fails with odd messages like below. This project primarily uses TestNG but has some JUnit tests for external tooling, e.g. to leverage Guava's collection tests, osgi testing, and similar. Generally these tests can live together and automagic scanning picks up what is appropriate.

In the stacktrace below, `CacheSpec` is a custom TestNG annotation to

[2021-09-19 02:17] ben-manes commented on #1717
A workaround is to use test filtering,
[code]
I'm unsure if this is a Gradle problem (7.3-nightly also fails), so feel free to close if so.

[2021-09-19 13:51] marcphilipp commented on #1717
@ben-manes I tried reproducing this issue locally by cloning caffeine, checking out the `v3.dev` branch, removing `filter.includeTestsMatching`, and invoking `./gradlew :caffeine:junitTests` with JDK 17. However, for me all tests were executed. Is there anything else I might be missing?

[2021-09-19 15:45] ben-manes commented on #1717
oh, sorry. I should have offered reproducer steps. The toolchain [defaults](https://github.com/ben-manes/caffeine/blob/0dcb4197d6df9884a8bd678b3583b2eb5cfe3379/build.gradle#L60) to JDK 11, which was added after a user was [confused](https://github.com/ben-manes/caffeine/discussions/582) when running against the wrong jdk version. You can switch using `JAVA_VERSION=17 ./gradlew :caffeine:junitTests

[2021-09-20 00:42] ben-manes commented on #1717
Attached is a minimal project that demonstrates this failure.

[junit-test.zip](https://github.com/junit-team/junit4/files/7193199/junit-test.zip)

[2021-09-29 01:50] kcooney commented on #1717
I'm not sure when Marc (or anyone else who works on JUnit) will find cycles to track this down, but I did want to point out that JUnit 4.x doesn't come bundled with a classpath scanning or other test-discovery code.

This might be an issue with Gradle or a Gradle plugin.

[2021-09-29 01:52] ben-manes commented on #1717
yep, let me know if you want me to open it on the Gradle side instead.

[2021-09-29 03:14] kcooney commented on #1717
Yes, I suggest filing a bug against Gradle.

You may want to first review https://github.com/gradle/gradle/issues/16857

Note that the JUnit 5 *does* have code for class discovery, so the OOO you are experiencing when you use JUnit 5 with the vintage engine could be a JUnit issue, so you might want to file a separate bug at https://github.com/junit-team/junit5/issues

[2021-09-29 04:53] ben-manes commented on #1717
Thanks @kcooney and @marcphilipp. Closing in favor of https://github.com/gradle/gradle/issues/18465

[2021-09-29 04:53] #1717 closed

[2021-09-29 04:58] ben-manes commented on #1717
I'll try to reproduce the OOME on JUnit5 after Gradle has official JDK17 support, just to avoid the noise if not your team's responsibility.

[2021-10-08 10:05] vlsi opened #1720 "Validate actual rule object instead of Field#type for @Rule"
Currently, JUnit validates field's type, and it wants the declaration to implement `TestRule`.

Is there a reason for that? What if JUnit4 validated the actual value rather than field type?

The validation makes it harder to implement code that supports both JUnit4 and JUnit5.

Sample issue: https://github.com/testcontainers/testcontainers-java/issues/970 (/cc @bsideup, @baev)

TL;DR: Testcontaine

[2021-10-08 12:21] panchenko commented on #1720
It's possible to implement it differently, the question is if it's worth modifying old behaviour in a project which is not actively developed at the moment (kind of maintenance mode).

Practically, It would be better designing it differently in testcontainers.
If at the moment there are reasons to keep JUnit4 dependency there, then as a workaround I would suggest building another jar for junit5 wh

[2021-10-09 05:10] vlsi commented on #1720
The typical Java approach is to have an interface and multiple implementations: junit4, junit5. The problem is that junit4 forces interface to extend junit4-related class, so it forbids the idea of having a common api for the clients.

I am not sure if that is the only issue, however, it does look like junit4 issue to me

[2021-10-09 17:26] kcooney commented on #1720
From JUnit's perspective, the interface is `TestRule`. That interface defines the API that the test runner will call. Implementations include `TemporaryFolder`. So JUnit is also using the typical Java approach. 🤷‍♂️

You can still have a common interface for your users. Your JUnit4 implementation would implement your interface and `TestRule` (this can be done via a sub interface to hide the implem

[2021-10-09 18:05] kcooney commented on #1720
No. JUnit4 does not have API jars.

If people want to prevent use of JUnit 4 annotations in their tests, I'm guessing they could write an ErrorProne rule to check for that.

[2021-10-09 20:22] kcooney commented on #1720
The others on this thread are simply trying to suggest alternative solutions. Feature development for JUnit4 is presently frozen (as the maintainers that remain are focusing their efforts on JUnit 5) so currently the likelihood to get your proposed change implemented and released is low. That's not to say it wouldn't happen (and a pull request with a fix including tests may change some minds) but

[2021-10-10 11:18] vlsi commented on #1720
@kcooney , the fix at junit4 side is trivial (see https://github.com/junit-team/junit4/pull/1721), and the "solutions" of shading junit4 or making extra artifacts would be non-trivial, especially when it comes to licensing and build configuration.

In fact, the users should never call `TestRule` and `MethodRule` methods directly. Those interfaces should be used by `junit4` engine only, so it is re

[2021-10-17 13:11] panchenko commented on #1720
it's slightly more involved, as exceptions should be thrown before or after that.

[2021-10-17 15:36] marcphilipp commented on #1720
I'm not convinced that is the case. Couldn't Testcontainers use its own interface (e.g. `TestcontainersResource`) and have separate testing framework specific artifacts that take care of the lifecycle of these resources? For example, there could be a `TestRule` for JUnit 4 and an `Extension` for JUnit Jupiter.

[2021-10-17 15:37] marcphilipp commented on #1720
@bsideup @rnorth I'd appreciate your input on this discussion. 🙂

[2021-10-18 14:40] kcooney commented on #1720
I raised that concern back when `TestRule` was introduced, but, in practice, that hasn't really been an issue. It's hard to accidentally call `apply()`.

Having rule classes directly implement `TestRule` also allowed them to be ordered via `RuleChain` and allows custom rules to explicitly compose rules (in which case users actually do want to call `apply()`).

[2021-10-21 19:09] cpovirk opened #1725 "@Rule execution order looks to have been guaranteed since 4.12 but is not documented as such"
My understanding is that https://github.com/junit-team/junit4/commit/c75dcc28810aeb1c918ee7430981b31f41742ea7#diff-f35409420f2540415a9878beaf5a537248f301b6c683bb87a11016be3c9dc8b8R55 caused JUnit to begin processing `@Rule` fields in a defined order. The `@Rule` Javadoc, however, still [states](https://github.com/junit-team/junit4/blob/7167b23b3ba7dd79410f6e9db350d16cbe30617b/src/main/java/org/jun

[2021-10-21 21:38] panchenko commented on #1725
Since 4.13 the recommended way is using the `order` attribute of the `@Rule` annotation.
It's described in the Ordering section in bottom of the javadoc.
The sentence you linked is quite old and potentially needs an update :-)

[2021-11-30 06:15] allanhaywood commented on #1566
@kcooney @smithkm Is this still an issue?

[2021-12-02 11:23] kcooney commented on #1566
@allanhaywood based on the JUnit self tests, `ExpectedException` works as expected when there is an assumption failure.

Unless someone provides a minimal, complete and verifiable example demonstrating it, I think we should close it as not reproducible

[2021-12-02 13:27] marcphilipp commented on #1566
Optimistically closing. I'd reopen it if someone provides a reproducer.

[2021-12-02 13:27] #1566 closed

[2021-12-24 10:54] YenikeRaghuRam opened #1730 "Junit Runner Throws Error with JDK 17"
Error displayed when running RunnerTest.java with jdk 17

Issue is not observed with jdk 11

A clear and concise description of what the bug is.

[code]

Initially got below error:

[code]

Below is POM.xml

[code]

[2021-12-24 10:58] marcphilipp commented on #1730
The stacktrace indicates that the exception originates in Cucumber's use of the XStream library. Please open an issue there.

[2021-12-24 10:58] #1730 closed

[2021-12-31 22:53] eshabaddie98 opened #1733 "gh"

[2021-12-31 23:46] #1733 closed

[2022-01-29 00:53] prajaktaNextdoor opened #1734 "SpringBoot test failure in circleci"
I have a class that I want to test using `@SpringBootTest` annotation. I have autowired the class under test in the test class. The class under test calls a `factory.getInstance` method which returns a real bean of required type. This bean has a dependency autowired. When I run my test using circleci, I do see this autowired dependency injected as a mock instance. This is weird as my test class is

[2022-01-29 10:06] sbrannen commented on #1734
I've edited your comment to improve the formatting. You might want to check out this [Mastering Markdown guide](https://guides.github.com/features/mastering-markdown/) for future reference.

[2022-01-29 10:11] sbrannen commented on #1734
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). We prefer to use the issue tracker only for bugs and enhancements. Feel free to update this issue with a link to the re-posted question (so that other people can find it) or add some more details if you feel this is a genuine bug.

----

Aside from the fact

[2022-01-29 10:11] #1734 closed

[2022-01-31 18:09] prajaktaNextdoor commented on #1734
The code was just a pseudo code to give an overview of the scenario I am testing. It was not meant to be a production ready code. Thanks.

[2022-03-15 09:04] rosariop commented on #139
Is this bug still open? I encoutered the problem today!

[2022-03-15 23:53] kcooney commented on #139
We haven't done anything to support running the same test multiple times, and are not likely to do so (see #issuecomment-282068210).

The workaround is to use `Parameterized` and have different parameter values for the different runs

[2022-03-15 23:53] #139 closed

[2022-03-16 14:34] #85 closed

[2022-04-29 02:35] Gakiii opened #1738 "Confusing problem... get differernt result between `main method` and `test method`"
when I run such code in a `main method` I got the result like this
Main.java
[code]
but I run it with junit like this
StringTest.java
[code]
chips : Apple M1
OS : Mac Monterey 12.3.1
jdk verison:
[code]
junit verison: 4.13.2